flows_ras-pi_II.json
[{"id":"792fa8ec.b28a38","type":"tab","label":"Emon poster"},{"id":"8f2bcdc5.cc23e","type":"tab","label":"Remote Switch","disabled":false,"info":""},{"id":"ea0c1405.b63778","type":"tab","label":"Room mappings","disabled":false,"info":""},{"id":"28a17c07.58fdd4","type":"tab","label":"Yeelight","disabled":false,"info":""},{"id":"a941cad7.5549a8","type":"tab","label":"Verisure SmartPlug contole","disabled":false,"info":""},{"id":"43650c6e.0883a4","type":"tab","label":"Xiaomi Controle","disabled":false,"info":""},{"id":"6bd20862.85df28","type":"tab","label":"Tradfri","disabled":false,"info":""},{"id":"2e500814.3e3ca8","type":"tab","label":"InfluxDB","disabled":false,"info":""},{"id":"888de14e.3ee9c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8676f7a6.d37568","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fcdc4e42.52247","type":"subflow","name":"Yeelight controle","info":"","category":"","in":[{"x":180,"y":160,"wires":[{"id":"b385d08f.f1e46"}]}],"out":[{"x":860,"y":160,"wires":[{"id":"b013dfa.4bf062","port":0}]},{"x":860,"y":240,"wires":[{"id":"1940bc49.d0ad84","port":0}]}]},{"id":"2f9a8b5.0ac1174","type":"subflow","name":"Translate to internal state","info":"Translate payload to internal state 0/1","category":"","in":[{"x":100,"y":100,"wires":[{"id":"ab321a97.5a1de8"}]}],"out":[{"x":600,"y":100,"wires":[{"id":"ab321a97.5a1de8","port":0}]}]},{"id":"63e8ee4a.883ac","type":"mqtt-broker","z":"","broker":"localhost","port":"6883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2c64fd6d.ec5432","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.170","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fee7a4df.4347c8","type":"mqtt-broker","z":"","name":"RasPi II","broker":"192.168.1.170","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"83e8c7cb.466b48","type":"serial-port","z":"","serialport":"","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"31ccddc3.399cc2","type":"emoncms-server","z":"","server":"http://192.168.1.215/emon","name":"Emon"},{"id":"ab4639e2.fd1e08","type":"pushbullet-config","z":"","name":"aceone"},{"id":"e99fb9cd.962498","type":"influxdb","z":"","hostname":"192.168.1.215","port":"8086","protocol":"http","database":"house","name":"","usetls":false,"tls":""},{"id":"9b180f7a.b3dc2","type":"influxdb","z":"8676f7a6.d37568","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"c98694a2.fff628","type":"influxdb","z":"8676f7a6.d37568","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"74b0e9dd.d88a18","type":"influxdb","z":"8676f7a6.d37568","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"96669935.059368","type":"yeelight-compat-hue-config","z":"","hostname":"192.168.1.166","port":"55443","name":"Tv room lamp"},{"id":"752a224d.b803ac","type":"yeelight-compat-hue-config","z":"","hostname":"192.168.1.143","port":"55443","name":"Feather lamp"},{"id":"568b0a42.103954","type":"xiaomi-gateway-config","z":"","name":"gateway","address":"224.0.0.50","port":"9898","key":"5ltx3o70j7hcvtaw"},{"id":"df3740cc.ec4c2","type":"tradfri-config","z":"","name":"IKEA hub","hubip":"192.168.1.129","sid":"6BfbKBRbfeBUpqB6","coap":"/home/pi/.node-red/node_modules/node-tradfri-argon/lib/coap-client-raspbian","identity":"WRb9lpMJbWI2c","preshared_key":"IL1KvFHKe7HHZKfS"},{"id":"f6b45139.5e414","type":"mqtt in","z":"792fa8ec.b28a38","name":"Temperature","topic":"+/temperature/#","qos":"2","datatype":"auto","broker":"fee7a4df.4347c8","x":110,"y":160,"wires":[["f18879ef.e0aa58","e6616246.577b5","351c86d5.3e27ca"]]},{"id":"881055a1.2b5b88","type":"mqtt in","z":"792fa8ec.b28a38","name":"Energy Consumption","topic":"+/powermeter/#","qos":"2","broker":"fee7a4df.4347c8","x":140,"y":100,"wires":[["aa3e098f.c76a88"]]},{"id":"f18879ef.e0aa58","type":"function","z":"792fa8ec.b28a38","name":"Build Topic for Emon","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n\nif(msg.topic.indexOf('temperature')>0){\n\tmsg.nodegroup = 17;\n}else{\n\tmsg.nodegroup = 5;\n}\nplace = msg.topic.substring(0,msg.topic.indexOf('/'));\ntype = msg.topic.substring(msg.topic.lastIndexOf('/')+1);\nmsg.payload = type+\"_\"+place + \":\"+msg.payload;\nreturn msg;","outputs":"1","noerr":0,"x":860,"y":160,"wires":[["d2d583fb.d57c1"]]},{"id":"21be3f51.c23c2","type":"function","z":"792fa8ec.b28a38","name":"Temperature messages","func":"var bromma = global.get('bromma');\nif(typeof bromma === 'undefined'){\n bromma = Object.assign({});\n global.set('bromma',bromma);\n}\nif(msg.topic.indexOf('1053C65B02080047') >= 0){\n\tbromma.place = msg.topic.substring(0,msg.topic.indexOf('/'))\n    // node.warn(msg.payload);\n\tvar temp = parseFloat(msg.payload.value);\n\tbromma.lastTemp = temp;\n// \tnode.warn(temp);\n\t if(typeof bromma.minTemp === 'undefined' || temp < bromma.minTemp){\n\t\tbromma.minTemp = temp;\n\t\tbromma.minStamp = Date.now();\n\t}\n\tif(typeof bromma.maxTemp === 'undefined' || temp > bromma.maxTemp){\n\t\tbromma.maxTemp = temp;\n\t\tbromma.maxStamp = Date.now();\n\t}\n\t\n\tbromma.time = formatTime(bromma.maxStamp);\n\t\n\tif(typeof bromma.totalTemp === 'undefined'){\n\t\tbromma.totalTemp = 0;\n\t}\n\tif(typeof bromma.numberOfTempVals === 'undefined'){\n\t\tbromma.numberOfTempVals = 0;\n\t}\n\t\n\tbromma.totalTemp += temp;\n\tbromma.numberOfTempVals++;\n\t\n} else \n if(msg.topic == 'tweet_temp'){\n\tif(msg.payload == 'now'){\n\t\t// The temperature are 2.81°C at 12:00. #temperature #smarthome\n\t\tmsg.payload = bromma.place + ' The temperature are '+ bromma.lastTemp + '°C at ' + formatTime(Date.now()) +'. #temperature #smarthome';\n\t\treturn msg;\n\t\n\t} else if(msg.payload == 'summary'){\n\t\tvar average = (Math.round((bromma.totalTemp / bromma.numberOfTempVals) * 100 ) / 100);\n\t\t //Last day's temperatures: average:2.23°C, max:3.0°C at 13:04, min:1.63°C at 07:29. #temperature #smarthome\n\t\tmsg.payload = bromma.place + ' Last day\\'s temperatures: average:'+ average + '°C, max:' + bromma.maxTemp +'°C at ' + formatTime(bromma.maxStamp) +\n\t\t', min:' + bromma.minTemp+'°C at ' + formatTime(bromma.minStamp) +'. #temperature #smarthome';\n\t\tbromma.totalTemp = 0;\n\t\tbromma.numberOfTempVals = 0;\n\t\tbromma.minTemp = 100;\n\t\tbromma.maxTemp = -100;\n\t\treturn msg;\n\t}\n}\nfunction formatTime(millis){\n\tvar d = new Date(millis);\n\treturn (\"00\" + d.getHours()).slice(-2) + \":\" +   (\"00\" + d.getMinutes()).slice(-2);\n}\n\n","outputs":1,"noerr":0,"x":870,"y":260,"wires":[["dec1351.f374cc8","b45b4e29.ffdb1"]]},{"id":"dec1351.f374cc8","type":"debug","z":"792fa8ec.b28a38","name":"","active":false,"complete":"true","x":1330,"y":440,"wires":[]},{"id":"3708e398.76681c","type":"inject","z":"792fa8ec.b28a38","name":"Tweet temp@00.00","topic":"tweet_temp","payload":"now","repeat":"","crontab":"00 00 * * *","once":false,"x":140,"y":300,"wires":[["21be3f51.c23c2","d0ddd4d0.eee2d8"]]},{"id":"5bd3f56a.8664bc","type":"inject","z":"792fa8ec.b28a38","name":"Tweet summary@08:00","topic":"tweet_temp","payload":"summary","repeat":"","crontab":"00 08 * * *","once":false,"x":150,"y":460,"wires":[["21be3f51.c23c2","d0ddd4d0.eee2d8"]]},{"id":"8739fcbe.37417","type":"inject","z":"792fa8ec.b28a38","name":"Tweet temp@06.00","topic":"tweet_temp","payload":"now","repeat":"","crontab":"00 06 * * *","once":false,"x":140,"y":340,"wires":[["21be3f51.c23c2","d0ddd4d0.eee2d8"]]},{"id":"8347c7ae.2fbe08","type":"inject","z":"792fa8ec.b28a38","name":"Tweet temp@18.00","topic":"tweet_temp","payload":"now","repeat":"","crontab":"00 18 * * *","once":false,"x":140,"y":420,"wires":[["21be3f51.c23c2","d0ddd4d0.eee2d8"]]},{"id":"bad48680.4cebc8","type":"inject","z":"792fa8ec.b28a38","name":"Tweet temp@12.00","topic":"tweet_temp","payload":"now","repeat":"","crontab":"00 12 * * *","once":false,"x":140,"y":380,"wires":[["21be3f51.c23c2","d0ddd4d0.eee2d8"]]},{"id":"d34c7f30.33583","type":"mqtt in","z":"792fa8ec.b28a38","name":"Daily Energy Consumption","topic":"+/powermeter/kwh/dailyconsumption0","qos":"2","broker":"fee7a4df.4347c8","x":150,"y":540,"wires":[["17ece604.02625a"]]},{"id":"17ece604.02625a","type":"function","z":"792fa8ec.b28a38","name":"Daily Energy Consumption","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nplace = msg.topic.substring(0,msg.topic.indexOf('/'))\nkWh = parseInt(msg.payload) / 10000\nmsg.payload = place + ' Last day\\'s power consumption for the house were '+ kWh +'kWh. #tweetawatt #smarthome';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":880,"y":420,"wires":[["dec1351.f374cc8","df80a9a1.95a3b8"]]},{"id":"e6616246.577b5","type":"debug","z":"792fa8ec.b28a38","name":"","active":false,"tosidebar":true,"complete":"false","x":830,"y":60,"wires":[]},{"id":"d2d583fb.d57c1","type":"debug","z":"792fa8ec.b28a38","name":"","active":false,"complete":"true","x":1110,"y":100,"wires":[]},{"id":"d3a955.ef8e86a8","type":"function","z":"792fa8ec.b28a38","name":"Tweet Sauna is warm","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nif(msg.topic.indexOf('28FF3E4C310400D2') >= 0){\n\tcontext.place = msg.topic.substring(0,msg.topic.indexOf('/'))\n\tvar temp = parseFloat(msg.payload.value);\n\tif(temp >= 75 \n\t\t&& (typeof context.saunaTimestamp === 'undefined'\n\t\t|| context.saunaTimestamp < Date.now())) {\n\t\t\n\t\tmsg.payload = context.place + ' @aceone_ The sauna temperature is '\n\t\t\t+ temp + '°C at ' + formatTime(Date.now()) +'. #temperature #smarthome';\n\t\t\tcontext.saunaTimestamp = Date.now() + 3600000;\n\t\t\t\n\t\treturn msg;\n\t}\n\t\n\t\n}\n\nfunction formatTime(millis){\n\tvar d = new Date(millis);\n\treturn (\"00\" + d.getHours()).slice(-2) + \":\" +   (\"00\" + d.getMinutes()).slice(-2);\n}\n\n","outputs":"1","noerr":0,"x":860,"y":460,"wires":[["dec1351.f374cc8","b45b4e29.ffdb1"]]},{"id":"8bae1c6d.93eee","type":"function","z":"792fa8ec.b28a38","name":"The house is to warm","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nif(msg.topic.indexOf('1064BC5B020800FF') >= 0 || \n\tmsg.topic.indexOf('10EFD25B0208005E') >= 0){\n\tcontext.place = msg.topic.substring(0,msg.topic.indexOf('/'))\n\tvar temp = parseFloat(msg.payload.value);\n\tif(temp >= 45) {\n\t\tmsg.payload = context.place + ' @aceone_ WARNING the temperature in the house is '\n\t\t\t+ temp + '°C at ' + formatTime(Date.now()) +'. #temperature #smarthome';\n\t\treturn msg;\n\t}\n\t\n\t\n}\n\nfunction formatTime(millis){\n\tvar d = new Date(millis);\n\treturn (\"00\" + d.getHours()).slice(-2) + \":\" +   (\"00\" + d.getMinutes()).slice(-2);\n}\n\n","outputs":"1","noerr":0,"x":860,"y":500,"wires":[["b45b4e29.ffdb1"]]},{"id":"aa3e098f.c76a88","type":"function","z":"792fa8ec.b28a38","name":"Build Topic for Emon","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n\nif(msg.topic.indexOf('temperature')>0){\n\tmsg.nodegroup = 17;\n}else{\n\tmsg.nodegroup = 5;\n}\nplace = msg.topic.substring(0,msg.topic.indexOf('/'));\ntype = msg.topic.substring(msg.topic.lastIndexOf('/')+1);\nmsg.payload = type+\"_\"+place + \":\"+msg.payload;\nreturn msg;","outputs":"1","noerr":0,"x":860,"y":119,"wires":[["d2d583fb.d57c1"]]},{"id":"5efc355e.05171c","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off","topic":"smartplug/9987695/output","payload":"0","payloadType":"num","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":"","x":190,"y":120,"wires":[["f24d3923.e625d8"]]},{"id":"f24d3923.e625d8","type":"mqtt out","z":"8f2bcdc5.cc23e","name":"SmartPlug 9987695","topic":"smartplug/9987695/output","qos":"1","retain":"","broker":"fee7a4df.4347c8","x":440,"y":120,"wires":[]},{"id":"e8451caf.1d13e","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch on","topic":"smartplug/9987695/output","payload":"1","payloadType":"num","repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":"","x":190,"y":160,"wires":[["f24d3923.e625d8"]]},{"id":"4b681ea1.90161","type":"mqtt in","z":"8f2bcdc5.cc23e","name":"State collcetor ","topic":"+/+/state","qos":"1","broker":"fee7a4df.4347c8","x":150,"y":240,"wires":[["837fa42.1e01658"]]},{"id":"f31179ea.be4a28","type":"mqtt in","z":"792fa8ec.b28a38","name":"Power Main","topic":"mulbetet49/powermeter/power0","qos":"2","broker":"fee7a4df.4347c8","x":150,"y":680,"wires":[["5e5b369b.8d77d8"]]},{"id":"4a0675f0.8f4acc","type":"mqtt in","z":"792fa8ec.b28a38","name":"Power Heater","topic":"mulbetet49/powermeter/power1","qos":"2","broker":"fee7a4df.4347c8","x":150,"y":740,"wires":[["5e5b369b.8d77d8"]]},{"id":"eb46fb24.82e358","type":"function","z":"792fa8ec.b28a38","name":"Calculate house power","func":"if(msg.topic == 'mulbetet49/powermeter/power0'){\n\tcontext.mainPower = msg.payload.value;\n\tcontext.mainTimestamp = msg.payload.timestamp;\n\t\n} else if(msg.topic == 'mulbetet49/powermeter/power1'){\n\tcontext.heaterPower = msg.payload.value / 10;\n\tcontext.heaterTimestamp = msg.payload.timestamp;\n}\n\n// if(typeof context.housePower !== 'undefined' && context.mainTimestamp == context.heaterTimestamp){\nif( context.mainTimestamp == context.heaterTimestamp){\n    var    housePower = { payload: {\n            value: (context.mainPower - context.heaterPower),\n            timestamp: msg.payload.timestamp,\n            name: \"power2\",\n            alias: \"House\"\n        }\n    };\n\n    var heaterPower = { payload:  {\n            value: context.heaterPower,\n            timestamp: msg.payload.timestamp,\n            name: \"power3\",\n            alias: \"Heatpump\"\n        }\n        \n    };\n\n    return [housePower, heaterPower];\n}\n\n\nreturn null;\n","outputs":"2","noerr":0,"x":560,"y":680,"wires":[["2b747e97.a2e632","2bda893d.70e8c6"],["9af1f531.0b3c18","2bda893d.70e8c6"]],"outputLabels":["House power","Heater power"]},{"id":"2b747e97.a2e632","type":"mqtt out","z":"792fa8ec.b28a38","name":"Power House","topic":"mulbetet49/powermeter/power2","qos":"2","retain":"false","broker":"fee7a4df.4347c8","x":900,"y":660,"wires":[]},{"id":"9af1f531.0b3c18","type":"mqtt out","z":"792fa8ec.b28a38","name":"New Power Heater","topic":"mulbetet49/powermeter/power3","qos":"2","retain":"false","broker":"fee7a4df.4347c8","x":910,"y":720,"wires":[]},{"id":"1850e40.654dd1c","type":"mqtt in","z":"792fa8ec.b28a38","name":"ESP Lua Temperature","topic":"temperature/#","qos":"2","datatype":"auto","broker":"fee7a4df.4347c8","x":140,"y":220,"wires":[["fe534db0.03226","d0ddd4d0.eee2d8","ea852383.5569c"]]},{"id":"fe534db0.03226","type":"function","z":"792fa8ec.b28a38","name":"Build Topic for Emon","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n\nif(msg.topic.indexOf('temperature')>0){\n\tmsg.nodegroup = 17;\n}else{\n\tmsg.nodegroup = 5;\n}\nplace = \"esp-lua\";\ntype = msg.topic.substring(msg.topic.lastIndexOf('/')+1);\nmsg.payload = type+\"_\"+place + \":\"+msg.payload;\nreturn msg;","outputs":"1","noerr":0,"x":860,"y":200,"wires":[["d2d583fb.d57c1"]]},{"id":"ea852383.5569c","type":"debug","z":"792fa8ec.b28a38","name":"","active":false,"tosidebar":true,"console":false,"complete":"payload","x":790,"y":340,"wires":[]},{"id":"c332982c.30c208","type":"emoncms","z":"792fa8ec.b28a38","name":"Emoncms node 17","emonServer":"31ccddc3.399cc2","nodegroup":"17","datatype":"legacy","x":1230,"y":200,"wires":[]},{"id":"f9e7836d.40c38","type":"emoncms","z":"792fa8ec.b28a38","name":"Emoncms node 5","emonServer":"31ccddc3.399cc2","nodegroup":"5","datatype":"legacy","x":1230,"y":160,"wires":[]},{"id":"f640ea46.788c18","type":"inject","z":"a941cad7.5549a8","name":"Lock","topic":"","payload":"{\"type\":\"lock\",\"label\":\"2AQS 4YQN\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1000,"wires":[[]]},{"id":"8c04009d.b172f","type":"inject","z":"a941cad7.5549a8","name":"Verisure site","topic":"","payload":"{\"type\": \"site\"} ","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":960,"wires":[[]]},{"id":"5c0c0418.c89e4c","type":"exec","z":"a941cad7.5549a8","command":"vsure henols@googlemail.com F331g00d@12 set smartplug '2A7B 43NZ' ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Switch cmd","x":370,"y":1120,"wires":[["c8a761fe.01563"],["afa85d21.e7755"],["32096bc4.fd7924"]]},{"id":"c8a761fe.01563","type":"debug","z":"a941cad7.5549a8","name":"Stdout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":1080,"wires":[]},{"id":"a9f1f1a2.957d5","type":"inject","z":"a941cad7.5549a8","name":"Switch on","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1100,"wires":[["5c0c0418.c89e4c"]]},{"id":"c8b09b7e.b627b8","type":"inject","z":"a941cad7.5549a8","name":"Switch off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1140,"wires":[["5c0c0418.c89e4c"]]},{"id":"afa85d21.e7755","type":"debug","z":"a941cad7.5549a8","name":"Stderr","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":1120,"wires":[]},{"id":"32096bc4.fd7924","type":"debug","z":"a941cad7.5549a8","name":"Return code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":1160,"wires":[]},{"id":"7e94d398.980a3c","type":"inject","z":"a941cad7.5549a8","name":"Smart plug","topic":"","payload":"{\"type\":\"smartPlug\",\"label\":\"2A7B 43NZ\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1040,"wires":[[]]},{"id":"5400fbb9.a95f54","type":"mqtt in","z":"a941cad7.5549a8","name":"Any SmartPlug ","topic":"smartplug/+/output","qos":"1","datatype":"auto","broker":"fee7a4df.4347c8","x":120,"y":180,"wires":[["6655a16d.d102b"]]},{"id":"6655a16d.d102b","type":"switch","z":"a941cad7.5549a8","name":"Match SmartPlug","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"\\b\\/([\\dA-Z]{2,4} [\\dA-Z]{2,4})\\/*","vt":"str","case":false},{"t":"regex","v":"(\\d{7,8})","vt":"str","case":false},{"t":"regex","v":"(\\d{5,6})","vt":"str","case":false}],"checkall":"false","repair":true,"outputs":3,"x":410,"y":180,"wires":[["52104295.a4c52c"],["dd7d2a03.897b28"],["a5efd7b6.b61a98"]]},{"id":"5b406114.d5f0f","type":"inject","z":"a941cad7.5549a8","name":"Switch off","topic":"smartplug/2A7B 43NZ/output","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":820,"wires":[["6e6dc55b.cd7e4c"]]},{"id":"6e6dc55b.cd7e4c","type":"mqtt out","z":"a941cad7.5549a8","name":"SmartPlug 9987695","topic":"","qos":"1","retain":"","broker":"fee7a4df.4347c8","x":420,"y":820,"wires":[]},{"id":"e6862ca6.691cc","type":"inject","z":"a941cad7.5549a8","name":"Switch on","topic":"smartplug/2A7B 43NZ/output","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":860,"wires":[["6e6dc55b.cd7e4c"]]},{"id":"dd7d2a03.897b28","type":"debug","z":"a941cad7.5549a8","name":"Match ESP smart plug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":980,"y":220,"wires":[]},{"id":"b45b4e29.ffdb1","type":"pushbullet","z":"792fa8ec.b28a38","config":"ab4639e2.fd1e08","pushtype":"note","title":"Temperature","chan":"","name":"Temperature","x":1330,"y":360,"wires":[]},{"id":"df80a9a1.95a3b8","type":"pushbullet","z":"792fa8ec.b28a38","config":"ab4639e2.fd1e08","pushtype":"note","title":"Energy","chan":"","name":"Energy","x":1340,"y":400,"wires":[]},{"id":"4b8b4b1d.11aa84","type":"inject","z":"a941cad7.5549a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":80,"wires":[["5aa1ff39.aa77b"]]},{"id":"5aa1ff39.aa77b","type":"change","z":"a941cad7.5549a8","name":"Verisore config","rules":[{"t":"set","p":"vsure-user","pt":"global","to":"henols@googlemail.com","tot":"str"},{"t":"set","p":"vsure-password","pt":"global","to":"F331g00d@12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":80,"wires":[["92e6d2fe.d027d"]]},{"id":"92e6d2fe.d027d","type":"debug","z":"a941cad7.5549a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":80,"wires":[]},{"id":"bafc810b.84369","type":"template","z":"a941cad7.5549a8","name":"Vsure SmartPlug params","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-c /home/pi/.node-red/vsure.cookie {{global.vsure-user}} {{global.vsure-password}} set smartplug '{{deviceId}}' {{state}} ","output":"str","x":150,"y":280,"wires":[["6a7f2ee6.999a5"]]},{"id":"6a7f2ee6.999a5","type":"exec","z":"a941cad7.5549a8","command":"vsure","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Vsure cmd","x":390,"y":280,"wires":[["2123c931.d44d86"],[],[]]},{"id":"52104295.a4c52c","type":"change","z":"a941cad7.5549a8","name":"Translate to Vsure state","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"on","tot":"str"},{"t":"set","p":"deviceId","pt":"msg","to":"$split(msg.topic, '/', 2)[1]\t","tot":"jsonata"},{"t":"move","p":"payload","pt":"msg","to":"state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":180,"wires":[["bafc810b.84369","920f6dd5.6d276"]]},{"id":"2123c931.d44d86","type":"switch","z":"a941cad7.5549a8","name":"Test return code","property":"rc.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":280,"wires":[["de0ccea8.f7421","aec062f7.3bbcc","50ca598e.1b05b8"]]},{"id":"de0ccea8.f7421","type":"template","z":"a941cad7.5549a8","name":"SmartPlug state request","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-c /home/pi/.node-red/vsure.cookie {{global.vsure-user}} {{global.vsure-password}} overview ","output":"str","x":150,"y":380,"wires":[["5c36b057.ec0c"]]},{"id":"dfc88add.6e1fb8","type":"template","z":"a941cad7.5549a8","name":"SmartPlug topic","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"smartplug/{{deviceId}}/state","output":"str","x":580,"y":480,"wires":[["be251df2.cc42a","c92b14c7.75ef38"]]},{"id":"be251df2.cc42a","type":"mqtt out","z":"a941cad7.5549a8","name":"SmartPlug state","topic":"","qos":"1","retain":"true","broker":"fee7a4df.4347c8","x":1260,"y":480,"wires":[]},{"id":"920f6dd5.6d276","type":"debug","z":"a941cad7.5549a8","name":"SmartPlug request","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":180,"wires":[]},{"id":"c92b14c7.75ef38","type":"debug","z":"a941cad7.5549a8","name":"SmartPlug state","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":880,"y":520,"wires":[]},{"id":"aec062f7.3bbcc","type":"debug","z":"a941cad7.5549a8","name":"SmartPlug cmd response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":280,"wires":[]},{"id":"c163aec6.73c9f","type":"mqtt in","z":"2e500814.3e3ca8","name":"Temperature","topic":"+/temperature/#","qos":"2","broker":"fee7a4df.4347c8","x":130,"y":120,"wires":[["2cdd74a1.00602c"]]},{"id":"9a41919.0a54d7","type":"mqtt in","z":"2e500814.3e3ca8","name":"Energy Consumption","topic":"+/powermeter/#","qos":"2","broker":"fee7a4df.4347c8","x":160,"y":60,"wires":[["2cdd74a1.00602c"]]},{"id":"274c95df.ef402a","type":"function","z":"2e500814.3e3ca8","name":"Topic for Influx","func":"place = msg.topic.substring(0,msg.topic.indexOf('/'));\ntype = msg.topic.substring(msg.topic.lastIndexOf('/')+1);\nmsg.measurement = type+\"_\"+place;\nvalue = msg.payload.value;\nmsg.payload = value;\nreturn msg;","outputs":"1","noerr":0,"x":560,"y":100,"wires":[["7fd0cc20.815b74","c362ddf4.4ddc2"]]},{"id":"a6567e13.2a8be","type":"mqtt in","z":"2e500814.3e3ca8","name":"ESP Lua Temperature","topic":"temperature/#","qos":"2","broker":"fee7a4df.4347c8","x":160,"y":180,"wires":[["401ef373.1c4a8c"]]},{"id":"401ef373.1c4a8c","type":"function","z":"2e500814.3e3ca8","name":"Esp temp Topic for Influx","func":"place = \"esp-lua\";\ntype = msg.topic.substring(msg.topic.lastIndexOf('/')+1);\nmsg.measurement = type+\"_\"+place;\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":"1","noerr":0,"x":510,"y":180,"wires":[["c362ddf4.4ddc2","d5a0a373.23d9"]]},{"id":"c362ddf4.4ddc2","type":"influxdb out","z":"2e500814.3e3ca8","influxdb":"e99fb9cd.962498","name":"Influx House news","measurement":"","precision":"","retentionPolicy":"","x":910,"y":160,"wires":[]},{"id":"cfedede4.78ff1","type":"inject","z":"ea0c1405.b63778","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":150,"y":60,"wires":[["ecae4c83.19bc3"]]},{"id":"ecae4c83.19bc3","type":"change","z":"ea0c1405.b63778","name":"Room mappings","rules":[{"t":"set","p":"devices","pt":"global","to":"{\"corner lamp vsure\":\"smartplug/2A7B 43NZ/output\",\"plant vsure\":\"smartplug/2A5E 4DRD/output\",\"bookshelf xiami\":\"smartplug/158d00016cfb49/output\",\"corner lamp\":\"smartplug/65540/output\",\"plant\":\"smartplug/65542/output\",\"tv lamp\":\"smartplug/65561/output\",\"fire lamp\":\"smartplug/65562/output\",\"bookshelf\":\"smartplug/65541/output\",\"feather lamp\":\"yeelight/feather lamp/output\",\"tv room lamp\":\"yeelight/tv room lamp/output\"}","tot":"json"},{"t":"set","p":"groups","pt":"global","to":"{\"livingroom lights\":[\"plant\",\"corner lamp\",\"bookshelf\",\"feather lamp\"],\"tv room lights\":[\"fire lamp_\",\"tv lamp\",\"tv room lamp\"]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":60,"wires":[[]]},{"id":"6df8a8e1.bec4a8","type":"influxdb out","z":"8676f7a6.d37568","influxdb":"e99fb9cd.962498","name":"","measurement":"test","precision":"","retentionPolicy":"","x":630,"y":120,"wires":[]},{"id":"555c5148.23bf1","type":"function","z":"8676f7a6.d37568","name":"single value","func":"msg.payload = Math.random()*10;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["6df8a8e1.bec4a8"]]},{"id":"7fa5c48e.829d0c","type":"inject","z":"8676f7a6.d37568","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":120,"wires":[["555c5148.23bf1"]]},{"id":"fcd01fbb.2f13f","type":"influxdb in","z":"8676f7a6.d37568","influxdb":"e99fb9cd.962498","name":"time query","query":"SELECT \"value\" FROM \"1053C65B02080047_mulbetet49\" WHERE time >= now() - 15m GROUP BY time(1s) fill(null)","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":420,"wires":[["248c9ef2.c3c972"]]},{"id":"a0a88451.efc3e8","type":"inject","z":"8676f7a6.d37568","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":199,"y":420,"wires":[["fcd01fbb.2f13f"]]},{"id":"248c9ef2.c3c972","type":"debug","z":"8676f7a6.d37568","name":"","active":false,"console":"false","complete":"false","x":532,"y":420,"wires":[]},{"id":"a21e558.c502ca8","type":"function","z":"ea0c1405.b63778","name":"Group matcher","func":"var first = msg.topic.indexOf('/');\nvar last = msg.topic.lastIndexOf('/');\n\nvar name = msg.topic.substring(first + 1, last);\nvar group = global.get('groups')[name];\n\nif (typeof group !== 'undefined'){\n    var outputMsgs = [];\n    for(var g in group) {\n        var localMsg = Object.assign({},msg);\n        localMsg.topic = \"device/\" + group[g] + '/output';\n        outputMsgs.push(localMsg);\n    }\n    var stateMsg = Object.assign({},msg);\n    stateMsg.topic = \"device/\" + name + '/state';\n    stateMsg.retain = true;\n    return [ outputMsgs, stateMsg ];\n} \n\nvar device = global.get('devices')[name];\nif (typeof device !== 'undefined'){\n    msg.topic = device;\n    stateMsg = Object.assign({},msg);\n    stateMsg.topic = \"device/\" + name + '/state';\n    stateMsg.retain = true;\n    return [msg, stateMsg];\n} \n\nnode.warn('Group or device ' + name + ' not found');","outputs":2,"noerr":0,"x":400,"y":140,"wires":[["8abb278f.6aef98"],["a65f7e73.1d49d"]]},{"id":"403b74bc.2185dc","type":"debug","z":"ea0c1405.b63778","name":"Group/device state","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":300,"wires":[]},{"id":"feae5e84.8503b","type":"mqtt in","z":"ea0c1405.b63778","name":"Group listener","topic":"device/+/output","qos":"1","broker":"fee7a4df.4347c8","x":150,"y":140,"wires":[["a21e558.c502ca8"]]},{"id":"cc31ebf5.0aded8","type":"mqtt out","z":"ea0c1405.b63778","name":"","topic":"","qos":"1","retain":"","broker":"fee7a4df.4347c8","x":910,"y":120,"wires":[]},{"id":"33d61784.dec898","type":"function","z":"ea0c1405.b63778","name":"Alexa translation","func":"if(msg.on_off_command){\n    msg.topic = \"device/\"+msg.device_name + '/output';\n    return msg;\n}","outputs":1,"noerr":0,"x":470,"y":320,"wires":[["a21e558.c502ca8"]]},{"id":"ab321a97.5a1de8","type":"change","z":"2f9a8b5.0ac1174","name":"Translate payload to internal state 0/1","rules":[{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"On","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Off","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":100,"wires":[[]]},{"id":"80acfb53.3da868","type":"mqtt in","z":"8f2bcdc5.cc23e","name":"Xiaomi Switch","topic":"xiaomi/switch/158d0001225b76/status","qos":"1","datatype":"auto","broker":"fee7a4df.4347c8","x":150,"y":380,"wires":[["c65465a5.065208"]]},{"id":"c65465a5.065208","type":"switch","z":"8f2bcdc5.cc23e","name":"Click type","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"click","vt":"str"},{"t":"eq","v":"double_click","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"},{"t":"eq","v":"long_click_release","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":340,"y":380,"wires":[["7e0caefc.a436a"],["3a2a282b.c4f5a8"],[],[]]},{"id":"837fa42.1e01658","type":"function","z":"8f2bcdc5.cc23e","name":"State parser","func":"var name = msg.topic;\nif(msg.topic.startsWith('device')){\n    var first = msg.topic.indexOf('/');\n    var last = msg.topic.lastIndexOf('/');\n    name = msg.topic.substring(first + 1, last );\n}\n\nvar states = global.get('states')|| {};\nstates[name] = parseInt(msg.payload);\nglobal.set('states', states);\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["2dee9059.b4c4c"]]},{"id":"2dee9059.b4c4c","type":"debug","z":"8f2bcdc5.cc23e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":240,"wires":[]},{"id":"7e0caefc.a436a","type":"function","z":"8f2bcdc5.cc23e","name":"Switch living room","func":"var states = global.get('states') || {};\n\nvar ll = states['livingroom lights'] || 0;\n\nmsg.payload = (ll + 1) % 2;\nmsg.topic = 'device/livingroom lights/output';\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["a62bff69.f418e","6e785709.52b5a8"]]},{"id":"a62bff69.f418e","type":"mqtt out","z":"8f2bcdc5.cc23e","name":"","topic":"","qos":"","retain":"","broker":"fee7a4df.4347c8","x":810,"y":320,"wires":[]},{"id":"f6c7a381.7218","type":"yeelight-compat-hue-out","z":"28a17c07.58fdd4","name":"","server":"752a224d.b803ac","x":630,"y":160,"wires":[]},{"id":"33f741dc.3637ae","type":"yeelight-compat-hue-state","z":"28a17c07.58fdd4","name":"Feather lamp","server":"752a224d.b803ac","x":630,"y":220,"wires":[["d6be4456.ff67a8"]]},{"id":"6e785709.52b5a8","type":"debug","z":"8f2bcdc5.cc23e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":380,"wires":[]},{"id":"65bb5e3.fc53ba","type":"debug","z":"28a17c07.58fdd4","name":"Fether lamp controle","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":660,"y":120,"wires":[]},{"id":"39efd3df.61573c","type":"inject","z":"28a17c07.58fdd4","name":"On","topic":"yeelight/feather lamp/output","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["46180e4b.ced84"]]},{"id":"1940bc49.d0ad84","type":"delay","z":"fcdc4e42.52247","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":240,"wires":[[]]},{"id":"d6be4456.ff67a8","type":"function","z":"28a17c07.58fdd4","name":"Build state","func":"if(typeof msg.name !== 'undefined') {\n    msg.payload = msg.payload.state.on ? 1 : 0;\n    msg.topic = 'yeelight/' + msg.name + '/state'\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["204da5f1.b6988a","d9a4dddf.2c71f"]]},{"id":"6beda369.75156c","type":"mqtt in","z":"28a17c07.58fdd4","name":"Feather lamp","topic":"yeelight/feather lamp/output","qos":"1","datatype":"auto","broker":"fee7a4df.4347c8","x":130,"y":160,"wires":[["46180e4b.ced84"]]},{"id":"b385d08f.f1e46","type":"change","z":"fcdc4e42.52247","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"},{"t":"set","p":"name","pt":"msg","to":"$split(topic, '/')[1]\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":160,"wires":[["b013dfa.4bf062","1940bc49.d0ad84"]]},{"id":"b013dfa.4bf062","type":"template","z":"fcdc4e42.52247","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"on\": {{payload}},\n    \"duration\": 5000\n}\n","output":"json","x":560,"y":160,"wires":[[]]},{"id":"2aa41fc5.ff4e4","type":"inject","z":"28a17c07.58fdd4","name":"Off","topic":"yeelight/feather lamp/output","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["46180e4b.ced84"]]},{"id":"204da5f1.b6988a","type":"mqtt out","z":"28a17c07.58fdd4","name":"","topic":"","qos":"","retain":"","broker":"fee7a4df.4347c8","x":850,"y":220,"wires":[]},{"id":"46180e4b.ced84","type":"subflow:fcdc4e42.52247","z":"28a17c07.58fdd4","name":"Yeeleight controle","env":[],"x":390,"y":160,"wires":[["f6c7a381.7218","65bb5e3.fc53ba"],["33f741dc.3637ae"]]},{"id":"5c36b057.ec0c","type":"exec","z":"a941cad7.5549a8","command":"vsure","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Vsure cmd","x":390,"y":380,"wires":[["d6b09e7d.007a7"],[],[]]},{"id":"d6b09e7d.007a7","type":"json","z":"a941cad7.5549a8","name":"","property":"payload","action":"","pretty":false,"x":630,"y":380,"wires":[["77c83658.17d6b8"]]},{"id":"77c83658.17d6b8","type":"function","z":"a941cad7.5549a8","name":"Translate smartplugs state","func":"var smartPlugs = msg.payload.smartPlugs;\n\nvar outputMsgs = [];\nfor(var i in smartPlugs) {\n    var localMsg = Object.assign({},msg);\n    localMsg.deviceId = smartPlugs[i].deviceLabel;\n    localMsg.payload = smartPlugs[i].currentState;\n    localMsg.sumsum = smartPlugs[i];\n    outputMsgs.push(localMsg);\n}\nreturn [ outputMsgs ];\n","outputs":1,"noerr":0,"x":860,"y":380,"wires":[["19b3b8d0.f315d7"]]},{"id":"6bd7cef3.8ac1a","type":"mqtt out","z":"8f2bcdc5.cc23e","name":"","topic":"","qos":"1","retain":"","broker":"fee7a4df.4347c8","x":1010,"y":580,"wires":[]},{"id":"b3b1fb6.636fe08","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch on, every day at 18:30","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"30 18 * * *","once":false,"onceDelay":"","x":190,"y":860,"wires":[[]]},{"id":"86048eb.ea7cd7","type":"change","z":"8f2bcdc5.cc23e","name":"Add livingroom topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"device/livingroom lights/output","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":640,"wires":[["6bd7cef3.8ac1a"]]},{"id":"94bfe3b6.76bb3","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, weekdays at 8","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 08 * * 1,2,3,4,5","once":false,"onceDelay":"","x":200,"y":480,"wires":[["16f2bffe.63309"]]},{"id":"813983ec.87ebf","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch on, weekdays at 6","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 06 * * 1,2,3,4,5","once":false,"onceDelay":"","x":200,"y":520,"wires":[["16f2bffe.63309"]]},{"id":"6877d0b5.d66a2","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch on, weekends at 8","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 06 * * 6,0","once":false,"onceDelay":"","x":200,"y":560,"wires":[["16f2bffe.63309"]]},{"id":"3cfa7e2d.3702f2","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, Sat Fri days at 23:30","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"30 23 * * 5,6","once":false,"onceDelay":"","x":220,"y":720,"wires":[["16f2bffe.63309"]]},{"id":"d8c1cf87.ade18","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, Sun-Thu at 22:20","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"20 22 * * 1,2,3,4,0","once":false,"onceDelay":"","x":210,"y":760,"wires":[["16f2bffe.63309"]]},{"id":"1c846f2c.d3a301","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, weekends at 10:10","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"10 10 * * 6,0","once":false,"onceDelay":"","x":210,"y":680,"wires":[["16f2bffe.63309"]]},{"id":"d9a4dddf.2c71f","type":"debug","z":"28a17c07.58fdd4","name":"Fether lamp state","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":300,"wires":[]},{"id":"a65f7e73.1d49d","type":"subflow:2f9a8b5.0ac1174","z":"ea0c1405.b63778","name":"","x":670,"y":200,"wires":[["cc31ebf5.0aded8","403b74bc.2185dc"]]},{"id":"8abb278f.6aef98","type":"subflow:2f9a8b5.0ac1174","z":"ea0c1405.b63778","name":"","x":670,"y":120,"wires":[["cc31ebf5.0aded8"]]},{"id":"19b3b8d0.f315d7","type":"subflow:2f9a8b5.0ac1174","z":"a941cad7.5549a8","name":"","env":[],"x":350,"y":480,"wires":[["dfc88add.6e1fb8"]]},{"id":"c6ef97c7.fa46f8","type":"yeelight-compat-hue-out","z":"28a17c07.58fdd4","name":"","server":"96669935.059368","x":640,"y":400,"wires":[]},{"id":"b9d09734.bded18","type":"yeelight-compat-hue-state","z":"28a17c07.58fdd4","name":"Tvroom lamp","server":"96669935.059368","x":640,"y":460,"wires":[["8b0f2197.0352d"]]},{"id":"2f7638a1.629988","type":"debug","z":"28a17c07.58fdd4","name":"Tv room lamp controle","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":660,"y":360,"wires":[]},{"id":"6f3e09f3.c29c68","type":"inject","z":"28a17c07.58fdd4","name":"On","topic":"yeelight/corner lamp/output","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":460,"wires":[["62fa9ff4.89a5e"]]},{"id":"8b0f2197.0352d","type":"function","z":"28a17c07.58fdd4","name":"Build state","func":"if(typeof msg.name !== 'undefined') {\n    msg.payload = msg.payload.state.on ? 1 : 0;\n    msg.topic = 'yeelight/' + msg.name + '/state'\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":610,"y":540,"wires":[["80937aa3.3d29d8","f3db5623.71a958"]]},{"id":"ca52345c.fc89c8","type":"mqtt in","z":"28a17c07.58fdd4","name":"Tv room lamp","topic":"yeelight/tv room lamp/output","qos":"1","broker":"fee7a4df.4347c8","x":130,"y":400,"wires":[["62fa9ff4.89a5e"]]},{"id":"1b9ff8b6.69fbc7","type":"inject","z":"28a17c07.58fdd4","name":"Off","topic":"yeelight/corner lamp/output","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":520,"wires":[["62fa9ff4.89a5e"]]},{"id":"80937aa3.3d29d8","type":"mqtt out","z":"28a17c07.58fdd4","name":"","topic":"","qos":"","retain":"","broker":"fee7a4df.4347c8","x":870,"y":480,"wires":[]},{"id":"62fa9ff4.89a5e","type":"subflow:fcdc4e42.52247","z":"28a17c07.58fdd4","name":"Yeeleight controle","x":390,"y":400,"wires":[["c6ef97c7.fa46f8","2f7638a1.629988"],["b9d09734.bded18"]]},{"id":"f3db5623.71a958","type":"debug","z":"28a17c07.58fdd4","name":"Tv room lamp state","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":540,"wires":[]},{"id":"50ca598e.1b05b8","type":"change","z":"a941cad7.5549a8","name":"Expected state","rules":[{"t":"move","p":"state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":320,"wires":[["19b3b8d0.f315d7"]]},{"id":"16a25871.576da8","type":"mqtt out","z":"888de14e.3ee9c","name":"","topic":"","qos":"","retain":"","broker":"fee7a4df.4347c8","x":790,"y":280,"wires":[]},{"id":"4194ca33.aa7224","type":"debug","z":"888de14e.3ee9c","name":"","active":false,"console":"false","complete":"false","x":810,"y":240,"wires":[]},{"id":"9869d99f.2656c8","type":"function","z":"888de14e.3ee9c","name":"","func":"var newMsg = {};\nif (msg.payload.cmd == 'report') {\n    var data = JSON.parse(msg.payload.data);\n    if (data.no_motion) {\n        newMsg.payload = \"no_motion\";\n    } else if (data.status ){\n        newMsg.payload = data.status;\n    } else {\n        newMsg.payload = msg.payload.data;\n    }\n    newMsg.topic = 'xiaomi/' + msg.payload.model + '/' + msg.payload.sid + '/status';\n    return [msg, newMsg];\n} \n\nreturn null;","outputs":"2","noerr":0,"x":640,"y":260,"wires":[["4194ca33.aa7224"],["16a25871.576da8"]]},{"id":"f2313a57.a65908","type":"json","z":"888de14e.3ee9c","name":"","property":"payload","action":"","pretty":false,"x":500,"y":260,"wires":[["9869d99f.2656c8"]]},{"id":"21d9a297.e10eee","type":"udp in","z":"888de14e.3ee9c","name":"","iface":"","port":"9898","ipv":"udp4","multicast":"true","group":"224.0.0.50","datatype":"utf8","x":290,"y":260,"wires":[["f2313a57.a65908"]]},{"id":"40963b27.bcfdf4","type":"comment","z":"888de14e.3ee9c","name":"Listen for Xiaomi sensors","info":"every msg type != cmd:report gets filtered out.","x":310,"y":200,"wires":[]},{"id":"af58690d.ab27b8","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch on, every day at 16:00","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 16 * * *","once":false,"onceDelay":"","x":210,"y":600,"wires":[["16f2bffe.63309"]]},{"id":"7c156313.e1da0c","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, Sat Fri days at 23:30","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"30 23 * * 5,6","once":false,"onceDelay":"","x":200,"y":920,"wires":[[]]},{"id":"56ceadf2.b9e184","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, Sun-Thu ar 22:20","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"20 22 * * 1,2,3,4,0","once":false,"onceDelay":"","x":190,"y":960,"wires":[[]]},{"id":"d0ddd4d0.eee2d8","type":"function","z":"792fa8ec.b28a38","name":"Temperature messages Fbg","func":"var fbg = global.get('fbg');\nif(typeof fbg === 'undefined'){\n fbg = Object.assign({});\n global.set('fbg',fbg);\n}\n\nif(msg.topic.indexOf('28FF76E6021703D6') >= 0){\n\tfbg.place = 'Radhuset';\n\tvar temp = parseFloat(msg.payload);\n\tfbg.lastTemp = temp;\n\t\n\t if(typeof fbg.minTemp === 'undefined' || temp < fbg.minTemp){\n\t\tfbg.minTemp = temp;\n\t\tfbg.minStamp = Date.now();\n\t}\n\tif(typeof fbg.maxTemp === 'undefined' || temp > fbg.maxTemp){\n\t\tfbg.maxTemp = temp;\n\t\tfbg.maxStamp = Date.now();\n\t}\n\t\n\tfbg.time = formatTime(fbg.maxStamp);\n\t\n\tif(typeof fbg.totalTemp === 'undefined'){\n\t\tfbg.totalTemp = 0;\n\t}\n\tif(typeof fbg.numberOfTempVals === 'undefined'){\n\t\tfbg.numberOfTempVals = 0;\n\t}\n\t\n\tfbg.totalTemp += temp;\n\tfbg.numberOfTempVals++;\n\t\n} else \n if(msg.topic == 'tweet_temp'){\n\tif(msg.payload == 'now'){\n\t\t// The temperature are 2.81°C at 12:00. #temperature #smarthome\n\t\tmsg.payload = fbg.place + ' The temperature are '+ fbg.lastTemp + '°C at ' + formatTime(Date.now()) +'. #temperature #smarthome';\n\t\treturn msg;\n\t\n\t} else if(msg.payload == 'summary'){\n\t\tvar average = (Math.round((fbg.totalTemp / fbg.numberOfTempVals) * 100 ) / 100);\n\t\t //Last day's temperatures: average:2.23°C, max:3.0°C at 13:04, min:1.63°C at 07:29. #temperature #smarthome\n\t\tmsg.payload = fbg.place + ' Last day\\'s temperatures: average:'+ average + '°C, max:' + fbg.maxTemp +'°C at ' + formatTime(fbg.maxStamp) +\n\t\t', min:' + fbg.minTemp+'°C at ' + formatTime(fbg.minStamp) +'. #temperature #smarthome';\n\t\tfbg.totalTemp = 0;\n\t\tfbg.numberOfTempVals = 0;\n\t\tfbg.minTemp = 100;\n\t\tfbg.maxTemp = -100;\n\t\treturn msg;\n\t}\n}\n\nfunction formatTime(millis){\n\tvar d = new Date(millis);\n\treturn (\"00\" + d.getHours()).slice(-2) + \":\" +   (\"00\" + d.getMinutes()).slice(-2);\n}\n\n","outputs":1,"noerr":0,"x":880,"y":540,"wires":[["dec1351.f374cc8","b45b4e29.ffdb1"]]},{"id":"2bda893d.70e8c6","type":"debug","z":"792fa8ec.b28a38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":820,"wires":[]},{"id":"5e5b369b.8d77d8","type":"json","z":"792fa8ec.b28a38","name":"","property":"payload","action":"","pretty":false,"x":310,"y":680,"wires":[["eb46fb24.82e358","2bda893d.70e8c6"]]},{"id":"351c86d5.3e27ca","type":"json","z":"792fa8ec.b28a38","name":"","property":"payload","action":"","pretty":false,"x":470,"y":180,"wires":[["21be3f51.c23c2","d3a955.ef8e86a8","8bae1c6d.93eee"]]},{"id":"718a54f6.2214ac","type":"mqtt out","z":"43650c6e.0883a4","name":"","topic":"","qos":"","retain":"","broker":"fee7a4df.4347c8","x":950,"y":160,"wires":[]},{"id":"1a640e48.774592","type":"debug","z":"43650c6e.0883a4","name":"MI Original msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":760,"y":120,"wires":[]},{"id":"f25b6533.77b978","type":"comment","z":"43650c6e.0883a4","name":"Listen for Xiaomi sensors","info":"every msg type != cmd:report gets filtered out.","x":190,"y":100,"wires":[]},{"id":"bd1db8aa.883238","type":"debug","z":"43650c6e.0883a4","name":"MI mqtt ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":740,"y":200,"wires":[]},{"id":"ab7f65c8.c7c048","type":"debug","z":"43650c6e.0883a4","name":"MI Motion","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":440,"y":600,"wires":[]},{"id":"5616dc81.91ff14","type":"debug","z":"43650c6e.0883a4","name":"MI Magnet","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":680,"wires":[]},{"id":"6c32b323.4ab6dc","type":"inject","z":"43650c6e.0883a4","name":"","topic":"smartplug/158d00016cfb49/output","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":420,"wires":[["822b9eae.f146f"]]},{"id":"29cab028.b3ba6","type":"inject","z":"43650c6e.0883a4","name":"","topic":"smartplug/158d00016cfb49/output","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["822b9eae.f146f"]]},{"id":"fcd8fd72.44e","type":"mqtt in","z":"43650c6e.0883a4","name":"Any SmartPlug ","topic":"smartplug/158d00016cfb49/output","qos":"1","broker":"fee7a4df.4347c8","x":120,"y":280,"wires":[["822b9eae.f146f"]]},{"id":"822b9eae.f146f","type":"change","z":"43650c6e.0883a4","name":"Translate to MI state","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"on","tot":"str"},{"t":"set","p":"deviceId","pt":"msg","to":"$split(msg.topic, '/', 2)[1]\t","tot":"jsonata"},{"t":"set","p":"state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":280,"wires":[["ff9a99b0.e73458"]]},{"id":"9213abda.2fdb08","type":"debug","z":"43650c6e.0883a4","name":"Json","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":340,"wires":[]},{"id":"e7a4d5ef.522c68","type":"xiaomi-gateway","z":"43650c6e.0883a4","gateway":"568b0a42.103954","name":"","healthcheck":60,"x":840,"y":280,"wires":[[]]},{"id":"291234ba.21ce9c","type":"function","z":"43650c6e.0883a4","name":"","func":"var newMsg = {};\nif (msg.payload.cmd == 'report') {\n    var data = msg.payload.data;\n    if (data.no_motion) {\n        newMsg.payload = \"no_motion\";\n    } else if (data.status ){\n        newMsg.payload = data.status;\n    } else {\n        newMsg.payload = msg.payload.data;\n    }\n    newMsg.topic = 'xiaomi/' + msg.payload.model + '/' + msg.payload.sid + '/status';\n    \n    var plug = null;\n    if(msg.payload.model == 'plug'){\n        plug = {};\n        plug.payload = data.status == 'on' ? 1 : 0;\n        plug.topic = 'smartplug/' + msg.payload.sid + '/state';\n    }\n\n\n    return [msg, newMsg, plug];\n} \n\nreturn null;","outputs":3,"noerr":0,"x":470,"y":140,"wires":[["1a640e48.774592"],["bd1db8aa.883238","718a54f6.2214ac"],["718a54f6.2214ac","bd1db8aa.883238"]],"outputLabels":["org msg","","smartplug state"]},{"id":"efbd981.8bc3268","type":"xiaomi-gateway","z":"43650c6e.0883a4","gateway":"568b0a42.103954","name":"","healthcheck":60,"x":160,"y":160,"wires":[["291234ba.21ce9c"]]},{"id":"ff9a99b0.e73458","type":"template","z":"43650c6e.0883a4","name":"Smart plug msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"cmd\":\"write\",\"sid\":\"{{deviceId}}\",\"model\":\"plug\",\"data\":{\"status\":\"{{payload}}\",\"key\":\"\"}}","output":"json","x":620,"y":280,"wires":[["9213abda.2fdb08","e7a4d5ef.522c68"]]},{"id":"be053e70.d6e35","type":"tradfri-get","z":"888de14e.3ee9c","name":"","hub":"df3740cc.ec4c2","x":340,"y":440,"wires":[["ab2dd540.f449c8"]]},{"id":"10052eb.b6d17d1","type":"tradfri-out","z":"888de14e.3ee9c","name":"By msg.tradfri_id","dtype":"","tradfri_id":"0","hub":"df3740cc.ec4c2","output":true,"x":710,"y":380,"wires":[]},{"id":"ab2dd540.f449c8","type":"debug","z":"888de14e.3ee9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":440,"wires":[]},{"id":"5501f63d.221fd8","type":"inject","z":"888de14e.3ee9c","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":440,"wires":[["be053e70.d6e35"]]},{"id":"4638e05f.daf55","type":"debug","z":"888de14e.3ee9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1000,"y":400,"wires":[]},{"id":"8fcea5ae.18f8b8","type":"function","z":"6bd20862.85df28","name":"All lights off","func":"var output = [];\n\n// loop through the groups\nfor (var i=0; i<msg.payload.length; i++) {\n    // loop through each bulb in the group\n    for (var j=0; j<msg.payload[i].devices.length; j++) {\n        if (msg.payload[i].devices[j].type.indexOf(\"control outlet\")!==-1) {\n            output.push({\"topic\": \"tradfri\", \"payload\": { \"tradfri_id\": msg.payload[i].devices[j].id, \"type\": msg.payload[i].devices[j].type, \"state\": \"off\"}});\n        }\n    }\n}\n\nreturn [output];","outputs":1,"noerr":0,"x":590,"y":220,"wires":[["a05ec185.98407","2aa8e328.7ffbac"]]},{"id":"ac87d080.1ecc9","type":"inject","z":"6bd20862.85df28","name":"","topic":"","payload":"a","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":220,"wires":[["ba9f1da1.8f861","2aa8e328.7ffbac"]]},{"id":"5c563e39.70047","type":"function","z":"6bd20862.85df28","name":"Dim all lights","func":"var output = [];\n\n// loop through the groups\nfor (var i=0; i<msg.payload.length; i++) {\n    // loop through each bulb in the group\n    for (var j=0; j<msg.payload[i].devices.length; j++) {\n        if (msg.payload[i].devices[j].type.indexOf(\"bulb\")!==-1) {\n            if (msg.payload[i].devices[j].on) {\n                output.push({\"topic\": \"tradfri\", \"payload\": { \"tradfri_id\": msg.payload[i].devices[j].id, \"type\": msg.payload[i].devices[j].type, \"state\": \"on\", \"brightness\": 100}});\n            }\n        }\n    }\n}\nreturn [output];","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["8afdc887.242a88"]]},{"id":"f5d8973c.e30588","type":"change","z":"6bd20862.85df28","name":"Full brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\":255,\"color\":\"normal\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":540,"wires":[["c07d12d4.27614","ac0ad5c6.8f2c48"]]},{"id":"c07d12d4.27614","type":"delay","z":"6bd20862.85df28","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":580,"wires":[["3d60be12.4ce172"]]},{"id":"3d60be12.4ce172","type":"change","z":"6bd20862.85df28","name":"Half brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\":128,\"color\":\"normal\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":620,"wires":[["2dd0117e.ad6d7e","ac0ad5c6.8f2c48"]]},{"id":"5eb65b47.f85ba4","type":"change","z":"6bd20862.85df28","name":"Full brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\":255,\"color\":\"normal\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":700,"wires":[["979f68ef.f18a68","ac0ad5c6.8f2c48"]]},{"id":"cd8b9d5c.ed084","type":"change","z":"6bd20862.85df28","name":"Turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":780,"wires":[["ac0ad5c6.8f2c48"]]},{"id":"2dd0117e.ad6d7e","type":"delay","z":"6bd20862.85df28","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":660,"wires":[["5eb65b47.f85ba4"]]},{"id":"979f68ef.f18a68","type":"delay","z":"6bd20862.85df28","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":740,"wires":[["cd8b9d5c.ed084"]]},{"id":"876ea18f.bea9","type":"comment","z":"6bd20862.85df28","name":"All lights off","info":"Cycle through all the Tradfri lights, and turn them off","x":190,"y":180,"wires":[]},{"id":"8da33ce4.aae58","type":"function","z":"6bd20862.85df28","name":"All lights on","func":"var output = [];\n\n// loop through the groups\nfor (var i=0; i<msg.payload.length; i++) {\n    // loop through each bulb in the group\n    for (var j=0; j<msg.payload[i].devices.length; j++) {\n        if (msg.payload[i].devices[j].type.indexOf(\"control outlet\")!==-1) {\n            // output.push({\"topic\": \"tradfri\", \"payload\": { \"tradfri_id\": msg.payload[i].devices[j].id, \"type\": msg.payload[i].devices[j].type, \"state\": \"on\", \"brightness\": 255, \"color\": \"normal\"}});\n            output.push({\"topic\": \"tradfri\", \"payload\": { \"tradfri_id\": msg.payload[i].devices[j].id, \"type\": msg.payload[i].devices[j].type, \"state\": \"on\"}});\n        }\n    }\n}\n\nreturn [output];","outputs":1,"noerr":0,"x":590,"y":320,"wires":[["e83f77c6.ec2788","2aa8e328.7ffbac"]]},{"id":"d1947bb6.e232b8","type":"comment","z":"6bd20862.85df28","name":"All lights on","info":"Cycle through all the Tradfri lights, \nand turn them on at full brightness","x":190,"y":280,"wires":[]},{"id":"d099ea3.70e6118","type":"comment","z":"6bd20862.85df28","name":"Twilight mode","info":"Cycle through all the Tradfri lights, \nand what is on, reduce to 50% brightness","x":187.00000762939453,"y":374.00000762939453,"wires":[]},{"id":"9085ba98.9fddc8","type":"inject","z":"6bd20862.85df28","name":"","topic":"","payload":"a","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":320,"wires":[["26240d9a.9d5522"]]},{"id":"5c3d2d84.065184","type":"inject","z":"6bd20862.85df28","name":"","topic":"","payload":"a","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":420,"wires":[["1256411e.c7e85f"]]},{"id":"e9a94681.27ea68","type":"comment","z":"6bd20862.85df28","name":"Notification light","info":"Send a light pattern to a light to indicate\na particular action (e.g. email is received)","x":220,"y":500,"wires":[]},{"id":"1fa93c07.195be4","type":"comment","z":"6bd20862.85df28","name":"Wake up light","info":"Slowly increase the brightness of a bulb","x":230,"y":840,"wires":[]},{"id":"4a768d79.a2a364","type":"function","z":"6bd20862.85df28","name":"Wake up light","func":"// Get the state value from last time\nvar state = context.get(\"state\");\nif (state===undefined) {\n    state = false;\n    context.set(\"state\",state);\n}\n// the counter counts upto full brightness \nvar counter = context.get(\"counter\");\nif (counter===undefined) {\n    counter = 0;\n    context.set(\"counter\",counter);\n}\nif (msg.topic===\"timecheck\") {\n    if (state) {\n        counter++;\n        //msg.payload.state=\"on\";\n        //msg.payload.color=\"warm\";\n        msg.payload = {\"brightness\" : Math.floor(counter/30*255)};\n        node.status({fill:\"blue\",shape:\"ring\",text:\"state: \"+state+\", counter: \"+counter});\n        context.set(\"counter\",counter);\n        return msg;\n    }\n} else {\n    if (msg.payload===\"start\") {\n        state = true;\n        counter = 0;\n        context.set(\"state\",state);\n        context.set(\"counter\",counter);\n        node.status({fill:\"blue\",shape:\"ring\",text:\"state: \"+state+\", counter: \"+counter});\n    }\n    if (msg.payload===\"off\") {\n        state = false;\n        counter = 0;\n        context.set(\"state\",state);\n        context.set(\"counter\",counter);\n        msg.payload=\"off\";\n        node.status({fill:\"blue\",shape:\"ring\",text:\"state: \"+state+\", counter: \"+counter});\n        return msg;\n    }\n}\n\n\n\n","outputs":1,"noerr":0,"x":760,"y":920,"wires":[["6cd5a58c.10ab3c"]]},{"id":"561e4a2.779c5b4","type":"inject","z":"6bd20862.85df28","name":"","topic":"timecheck","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"","x":530,"y":1000,"wires":[["4a768d79.a2a364"]]},{"id":"ac0ad5c6.8f2c48","type":"link out","z":"6bd20862.85df28","name":"","links":["16954595.cb27ca"],"x":815,"y":540,"wires":[]},{"id":"6cd5a58c.10ab3c","type":"link out","z":"6bd20862.85df28","name":"","links":["505ec51a.830e6c"],"x":955,"y":920,"wires":[]},{"id":"8afdc887.242a88","type":"link out","z":"6bd20862.85df28","name":"","links":["301faeb8.12f4b2","ec21d3fe.d2d9f"],"x":755,"y":420,"wires":[]},{"id":"e83f77c6.ec2788","type":"link out","z":"6bd20862.85df28","name":"","links":["301faeb8.12f4b2","ec21d3fe.d2d9f"],"x":755,"y":320,"wires":[]},{"id":"a05ec185.98407","type":"link out","z":"6bd20862.85df28","name":"","links":["301faeb8.12f4b2"],"x":755,"y":220,"wires":[]},{"id":"3f9b4f98.a93cf","type":"comment","z":"6bd20862.85df28","name":"Away time","info":"Turn off a light automatically at a set time","x":220,"y":1120,"wires":[]},{"id":"4e29c0b6.cce8d","type":"switch","z":"6bd20862.85df28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":1220,"wires":[["ae400718.1c7ea8"]]},{"id":"ae400718.1c7ea8","type":"change","z":"6bd20862.85df28","name":"Turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1220,"wires":[["9572ceea.a17fd"]]},{"id":"9572ceea.a17fd","type":"link out","z":"6bd20862.85df28","name":"","links":[],"x":1035,"y":1220,"wires":[]},{"id":"cb137be0.784bc8","type":"comment","z":"6bd20862.85df28","name":"Garden lights","info":"Turn bulbs on at a set time and \nturn them off at a later time ","x":230,"y":1400,"wires":[]},{"id":"e0d30375.2e95","type":"link out","z":"6bd20862.85df28","name":"","links":["16954595.cb27ca","505ec51a.830e6c"],"x":915,"y":1460,"wires":[]},{"id":"a09e73a2.74b5","type":"comment","z":"6bd20862.85df28","name":"Burgler light","info":"Cycle bulb randomly","x":210,"y":1680,"wires":[]},{"id":"effd8369.0d53","type":"delay","z":"6bd20862.85df28","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"15","randomLast":"20","randomUnits":"minutes","drop":false,"x":1080,"y":1800,"wires":[["b18eb644.0f2798"]]},{"id":"451c94a4.b3b54c","type":"switch","z":"6bd20862.85df28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"end","vt":"str"}],"checkall":"true","outputs":2,"x":690,"y":1720,"wires":[["b34e3a33.aba2f8"],["fd7b4e66.0e03"]]},{"id":"b34e3a33.aba2f8","type":"change","z":"6bd20862.85df28","name":"Turn on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1760,"wires":[["effd8369.0d53","431ff5f7.efc8fc"]]},{"id":"bc8e7fc.289be8","type":"change","z":"6bd20862.85df28","name":"Turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1860,"wires":[["431ff5f7.efc8fc","b2a9bedc.e4b33"]]},{"id":"431ff5f7.efc8fc","type":"link out","z":"6bd20862.85df28","name":"","links":["16954595.cb27ca"],"x":1355,"y":1760,"wires":[]},{"id":"cf209310.202a6","type":"link out","z":"6bd20862.85df28","name":"","links":["505ec51a.830e6c"],"x":1335,"y":1900,"wires":[]},{"id":"c5115692.97db28","type":"change","z":"6bd20862.85df28","name":"Turn on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1900,"wires":[["cf209310.202a6","24dcd45e.b54cfc"]]},{"id":"24dcd45e.b54cfc","type":"delay","z":"6bd20862.85df28","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"15","randomLast":"20","randomUnits":"minutes","drop":false,"x":1080,"y":1940,"wires":[["dab903b3.615c2"]]},{"id":"eaa24216.f4be2","type":"change","z":"6bd20862.85df28","name":"Turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2000,"wires":[["cf209310.202a6","6d6cc8be.8129c8"]]},{"id":"fd7b4e66.0e03","type":"change","z":"6bd20862.85df28","name":"Turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2060,"wires":[["431ff5f7.efc8fc","cf209310.202a6"]]},{"id":"ce3a49b3.f861d8","type":"inject","z":"6bd20862.85df28","name":"Manual","topic":"","payload":"manual","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":940,"wires":[["69ac27a8.5c5a38"]]},{"id":"ce99f7fb.e33978","type":"inject","z":"6bd20862.85df28","name":"Auto","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":900,"wires":[["69ac27a8.5c5a38"]]},{"id":"fd026dfb.46a53","type":"inject","z":"6bd20862.85df28","name":"Test: On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":280,"y":980,"wires":[["69ac27a8.5c5a38"]]},{"id":"6d6cc8be.8129c8","type":"function","z":"6bd20862.85df28","name":"Stop cycle?","func":"var state = context.get(\"state\");\nif (state===undefined) {\n    state = false;\n}\nswitch (msg.payload) {\n    case \"start\":\n        state = true;\n        context.set(\"state\",state);\n        break;\n    case \"end\":\n        state = false;\n        context.set(\"state\",state);\n        break;\n    default:\n        if (state) {\n            return msg;\n        }\n}\n","outputs":1,"noerr":0,"x":910,"y":1760,"wires":[["b34e3a33.aba2f8"]]},{"id":"b18eb644.0f2798","type":"function","z":"6bd20862.85df28","name":"Stop cycle?","func":"var state = context.get(\"state\");\nif (state===undefined) {\n    state = false;\n}\nswitch (msg.payload) {\n    case \"start\":\n        state = true;\n        context.set(\"state\",state);\n        break;\n    case \"end\":\n        state = false;\n        context.set(\"state\",state);\n        break;\n    default:\n        if (state) {\n            return msg;\n        }\n}\n","outputs":1,"noerr":0,"x":930,"y":1860,"wires":[["bc8e7fc.289be8"]]},{"id":"b2a9bedc.e4b33","type":"function","z":"6bd20862.85df28","name":"Stop cycle?","func":"var state = context.get(\"state\");\nif (state===undefined) {\n    state = false;\n}\nswitch (msg.payload) {\n    case \"start\":\n        state = true;\n        context.set(\"state\",state);\n        break;\n    case \"end\":\n        state = false;\n        context.set(\"state\",state);\n        break;\n    default:\n        if (state) {\n            return msg;\n        }\n}\n","outputs":1,"noerr":0,"x":930,"y":1900,"wires":[["c5115692.97db28"]]},{"id":"dab903b3.615c2","type":"function","z":"6bd20862.85df28","name":"Stop cycle?","func":"var state = context.get(\"state\");\nif (state===undefined) {\n    state = false;\n}\nswitch (msg.payload) {\n    case \"start\":\n        state = true;\n        context.set(\"state\",state);\n        break;\n    case \"end\":\n        state = false;\n        context.set(\"state\",state);\n        break;\n    default:\n        if (state) {\n            return msg;\n        }\n}\n","outputs":1,"noerr":0,"x":930,"y":2000,"wires":[["eaa24216.f4be2"]]},{"id":"7e8c1c04.146724","type":"tradfri-get","z":"6bd20862.85df28","name":"","hub":"df3740cc.ec4c2","x":1360,"y":460,"wires":[["16c7ad15.4d1d73"]]},{"id":"f86da257.d7d9a","type":"inject","z":"6bd20862.85df28","name":"","topic":"","payload":"a","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":1210,"y":460,"wires":[["7e8c1c04.146724"]]},{"id":"16c7ad15.4d1d73","type":"debug","z":"6bd20862.85df28","name":"","active":true,"console":"false","complete":"false","x":1530,"y":460,"wires":[]},{"id":"75c724e8.c64f7c","type":"tradfri-out","z":"6bd20862.85df28","name":"By msg.tradfri_id","dtype":"","tradfri_id":"0","hub":"df3740cc.ec4c2","output":false,"x":1150,"y":220,"wires":[]},{"id":"301faeb8.12f4b2","type":"link in","z":"6bd20862.85df28","name":"Tradfri by ID","links":["a05ec185.98407","e83f77c6.ec2788","8afdc887.242a88"],"x":975,"y":220,"wires":[["75c724e8.c64f7c"]]},{"id":"4c1e37b6.6824d8","type":"inject","z":"6bd20862.85df28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":540,"wires":[["f5d8973c.e30588"]]},{"id":"26240d9a.9d5522","type":"tradfri-get","z":"6bd20862.85df28","name":"","hub":"df3740cc.ec4c2","x":400,"y":320,"wires":[["8da33ce4.aae58","2aa8e328.7ffbac"]]},{"id":"ba9f1da1.8f861","type":"tradfri-get","z":"6bd20862.85df28","name":"","hub":"df3740cc.ec4c2","x":400,"y":220,"wires":[["8fcea5ae.18f8b8","2aa8e328.7ffbac"]]},{"id":"1256411e.c7e85f","type":"tradfri-get","z":"6bd20862.85df28","name":"","hub":"df3740cc.ec4c2","x":400,"y":420,"wires":[["5c563e39.70047"]]},{"id":"a09cfa11.0b4898","type":"inject","z":"6bd20862.85df28","name":"Test: Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":280,"y":1020,"wires":[["69ac27a8.5c5a38"]]},{"id":"fa13c091.b831e","type":"inject","z":"6bd20862.85df28","name":"Manual","topic":"","payload":"manual","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":270,"y":1220,"wires":[["f403934a.339ba"]]},{"id":"a39501f2.90971","type":"inject","z":"6bd20862.85df28","name":"Auto","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":270,"y":1180,"wires":[["f403934a.339ba"]]},{"id":"edc95b68.b1a468","type":"inject","z":"6bd20862.85df28","name":"Test: On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":300,"y":1260,"wires":[["f403934a.339ba"]]},{"id":"b68855f1.f1c898","type":"inject","z":"6bd20862.85df28","name":"Test: Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":300,"y":1300,"wires":[["f403934a.339ba"]]},{"id":"41af3236.9a730c","type":"inject","z":"6bd20862.85df28","name":"Manual","topic":"","payload":"manual","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":1500,"wires":[["9147e19e.bbaf4"]]},{"id":"aa4a12bb.2fd3e","type":"inject","z":"6bd20862.85df28","name":"Auto","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":1460,"wires":[["9147e19e.bbaf4"]]},{"id":"625c5d14.0fb424","type":"inject","z":"6bd20862.85df28","name":"Test: On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":1500,"wires":[["9147e19e.bbaf4"]]},{"id":"ddef482c.14d7d8","type":"inject","z":"6bd20862.85df28","name":"Test: Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":300,"y":1580,"wires":[["9147e19e.bbaf4"]]},{"id":"7724bd91.b8c9c4","type":"inject","z":"6bd20862.85df28","name":"Manual","topic":"","payload":"manual","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":1780,"wires":[["fb1d7576.a52dd8"]]},{"id":"3e754ff.587e4b","type":"inject","z":"6bd20862.85df28","name":"Auto","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":1740,"wires":[["fb1d7576.a52dd8"]]},{"id":"e675c91d.7f1928","type":"inject","z":"6bd20862.85df28","name":"Test: On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":280,"y":1820,"wires":[["fb1d7576.a52dd8"]]},{"id":"5356676e.35ba88","type":"inject","z":"6bd20862.85df28","name":"Test: Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":280,"y":1860,"wires":[["fb1d7576.a52dd8"]]},{"id":"69ac27a8.5c5a38","type":"bigtimer","z":"6bd20862.85df28","outtopic":"","outpayload1":"start","outpayload2":"off","name":"Big Timer","comment":"","lat":"46.08","lon":"18.27","starttime":"360","endtime":"450","startoff":0,"endoff":0,"startoff2":"","endoff2":"","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":500,"y":920,"wires":[["4a768d79.a2a364"],[],[]]},{"id":"f403934a.339ba","type":"bigtimer","z":"6bd20862.85df28","outtopic":"","outpayload1":"off","outpayload2":"","name":"Big Timer","comment":"","lat":"46.08","lon":"18.27","starttime":"480","endtime":"900","startoff":0,"endoff":0,"startoff2":"","endoff2":"","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":520,"y":1220,"wires":[["4e29c0b6.cce8d"],[],[]]},{"id":"9147e19e.bbaf4","type":"bigtimer","z":"6bd20862.85df28","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer","comment":"","lat":"46.08","lon":"18.27","starttime":"5001","endtime":"1380","startoff":"-20","endoff":0,"startoff2":"","endoff2":"","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":520,"y":1480,"wires":[["e0d30375.2e95"],[],[]]},{"id":"fb1d7576.a52dd8","type":"bigtimer","z":"6bd20862.85df28","outtopic":"","outpayload1":"start","outpayload2":"end","name":"Big Timer","lat":"46.08","lon":"18.27","starttime":"5001","endtime":"1380","startoff":"60","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":477,"y":1780,"wires":[["451c94a4.b3b54c","6d6cc8be.8129c8","b18eb644.0f2798","b2a9bedc.e4b33","dab903b3.615c2"],[],[]]},{"id":"2aa8e328.7ffbac","type":"debug","z":"6bd20862.85df28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":340,"wires":[]},{"id":"f9f60e14.00456","type":"function","z":"6bd20862.85df28","name":"Convert to MQTT","func":"var output = [];\n\n// loop through the groups\nfor (var i=0; i<msg.payload.length; i++) {\n    // loop through each bulb in the group\n    for (var j=0; j<msg.payload[i].devices.length; j++) {\n        if (msg.payload[i].devices[j].type.indexOf(\"control outlet\")!==-1) {\n            output.push({\n                \"topic\": \"smartplug/\" + msg.payload[i].devices[j].id + \"/state\", \n                \"payload\": msg.payload[i].devices[j].on\n            });\n        }\n    }\n}\n\nreturn [output];","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["5f2fa7f2.0d7058"]]},{"id":"13c4f60a.fbc68a","type":"inject","z":"6bd20862.85df28","name":"","topic":"","payload":"a","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":"2","x":210,"y":120,"wires":[["464d78e8.2bf9e8"]]},{"id":"27786086.de13c","type":"comment","z":"6bd20862.85df28","name":"All lights to mqtt","info":"Cycle through all the Tradfri lights, and post broker","x":200,"y":80,"wires":[]},{"id":"464d78e8.2bf9e8","type":"tradfri-get","z":"6bd20862.85df28","name":"","hub":"df3740cc.ec4c2","x":400,"y":120,"wires":[["f9f60e14.00456","3dd85c22.b06714"]]},{"id":"77085c36.77a014","type":"mqtt out","z":"6bd20862.85df28","name":"","topic":"","qos":"1","retain":"true","broker":"fee7a4df.4347c8","x":1030,"y":120,"wires":[]},{"id":"5f2fa7f2.0d7058","type":"subflow:2f9a8b5.0ac1174","z":"6bd20862.85df28","name":"","env":[],"x":810,"y":120,"wires":[["77085c36.77a014"]]},{"id":"b8e92e87.e71c7","type":"tradfri-out","z":"a941cad7.5549a8","name":"By msg.tradfri_id","dtype":"","tradfri_id":"0","hub":"df3740cc.ec4c2","output":true,"x":510,"y":620,"wires":[]},{"id":"a5efd7b6.b61a98","type":"link out","z":"a941cad7.5549a8","name":"IKEA","links":["235dec7d.92d9d4"],"x":615,"y":240,"wires":[]},{"id":"235dec7d.92d9d4","type":"link in","z":"a941cad7.5549a8","name":"","links":["a5efd7b6.b61a98"],"x":75,"y":620,"wires":[["18915826.6ef568"]]},{"id":"18915826.6ef568","type":"change","z":"a941cad7.5549a8","name":"Translate to Tradfri state","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"on","tot":"str"},{"t":"move","p":"payload","pt":"msg","to":"payload.state","tot":"msg"},{"t":"set","p":"payload.tradfri_id","pt":"msg","to":"$number($split(msg.topic, '/', 2)[1]) ","tot":"jsonata"},{"t":"set","p":"payload.type","pt":"msg","to":"TRADFRI control outlet","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"tradfri","tot":"str"},{"t":"set","p":"tradfri_id","pt":"msg","to":"payload.tradfri_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":620,"wires":[["b8e92e87.e71c7"]]},{"id":"57a092e8.5e158c","type":"debug","z":"a941cad7.5549a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":720,"wires":[]},{"id":"3dd85c22.b06714","type":"debug","z":"6bd20862.85df28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":180,"wires":[]},{"id":"5b8ec4ba.6d117c","type":"change","z":"8f2bcdc5.cc23e","name":"Add tv room topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"device/tv room lights/output","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":500,"wires":[["6bd7cef3.8ac1a"]]},{"id":"5bd72064.20ff7","type":"inject","z":"8f2bcdc5.cc23e","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":420,"wires":[["5b8ec4ba.6d117c"]]},{"id":"db4a4883.f96bd8","type":"inject","z":"8f2bcdc5.cc23e","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":460,"wires":[["5b8ec4ba.6d117c"]]},{"id":"9681c51.9d24e38","type":"template","z":"a941cad7.5549a8","name":"SmartPlug topic","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"smartplug/{{tradfri_id}}/state","output":"str","x":420,"y":720,"wires":[["9a3a4ffd.5b90e"]]},{"id":"b2c2f5bb.9bd198","type":"subflow:2f9a8b5.0ac1174","z":"a941cad7.5549a8","name":"","x":910,"y":720,"wires":[["be251df2.cc42a","57a092e8.5e158c"]]},{"id":"3f384f95.06597","type":"switch","z":"a941cad7.5549a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":620,"wires":[["8da5a99a.dfd248"]]},{"id":"d5d0277.4d188d8","type":"tradfri-get","z":"a941cad7.5549a8","name":"","hub":"df3740cc.ec4c2","x":200,"y":720,"wires":[["9681c51.9d24e38"]]},{"id":"8da5a99a.dfd248","type":"change","z":"a941cad7.5549a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tradfri_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":620,"wires":[["d5d0277.4d188d8"]]},{"id":"9a3a4ffd.5b90e","type":"change","z":"a941cad7.5549a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.on","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":720,"wires":[["b2c2f5bb.9bd198"]]},{"id":"3a2a282b.c4f5a8","type":"function","z":"8f2bcdc5.cc23e","name":"Switch TV room","func":"var states = global.get('states') || {};\n\nvar ll = states['tv room lights'] || 0;\n\nmsg.payload = (ll + 1) % 2;\nmsg.topic = 'device/tv room lights/output';\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["6e785709.52b5a8","a62bff69.f418e"]]},{"id":"16f2bffe.63309","type":"link out","z":"8f2bcdc5.cc23e","name":"","links":["167b8f26.e3d461","65adddc3.dedd64"],"x":435,"y":620,"wires":[]},{"id":"167b8f26.e3d461","type":"link in","z":"8f2bcdc5.cc23e","name":"","links":["16f2bffe.63309"],"x":575,"y":640,"wires":[["86048eb.ea7cd7"]]},{"id":"65adddc3.dedd64","type":"link in","z":"8f2bcdc5.cc23e","name":"","links":["16f2bffe.63309"],"x":575,"y":520,"wires":[["5b8ec4ba.6d117c"]]},{"id":"d5a0a373.23d9","type":"debug","z":"2e500814.3e3ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":220,"wires":[]},{"id":"7fd0cc20.815b74","type":"debug","z":"2e500814.3e3ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":80,"wires":[]},{"id":"2cdd74a1.00602c","type":"json","z":"2e500814.3e3ca8","name":"","property":"payload","action":"","pretty":false,"x":390,"y":100,"wires":[["274c95df.ef402a"]]}]