flows_ras-pi_II.json
[{"id":"792fa8ec.b28a38","type":"tab","label":"Emon poster"},{"id":"8f2bcdc5.cc23e","type":"tab","label":"Remote Switch","disabled":false,"info":""},{"id":"ea0c1405.b63778","type":"tab","label":"Room mappings","disabled":false,"info":""},{"id":"28a17c07.58fdd4","type":"tab","label":"Yeelight","disabled":false,"info":""},{"id":"a941cad7.5549a8","type":"tab","label":"Verisure SmartPlug contole","disabled":false,"info":""},{"id":"e2391743.cbd018","type":"tab","label":"Xiaomi Controle","disabled":false,"info":""},{"id":"2e500814.3e3ca8","type":"tab","label":"InfluxDB","disabled":false,"info":""},{"id":"8676f7a6.d37568","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"888de14e.3ee9c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fcdc4e42.52247","type":"subflow","name":"Yeelight controle","info":"","category":"","in":[{"x":180,"y":160,"wires":[{"id":"b385d08f.f1e46"}]}],"out":[{"x":860,"y":160,"wires":[{"id":"b013dfa.4bf062","port":0}]},{"x":860,"y":240,"wires":[{"id":"1940bc49.d0ad84","port":0}]}]},{"id":"2f9a8b5.0ac1174","type":"subflow","name":"Translate to internal state","info":"Translate payload to internal state 0/1","category":"","in":[{"x":100,"y":100,"wires":[{"id":"ab321a97.5a1de8"}]}],"out":[{"x":600,"y":100,"wires":[{"id":"ab321a97.5a1de8","port":0}]}]},{"id":"c11d79a4.e9bc68","type":"twitter-credentials","z":"","screen_name":"@aceone_"},{"id":"63e8ee4a.883ac","type":"mqtt-broker","z":"","broker":"localhost","port":"6883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2c64fd6d.ec5432","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.170","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fee7a4df.4347c8","type":"mqtt-broker","z":"","name":"RasPi II","broker":"192.168.1.170","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b4c7cf30.4f907","type":"twitter-credentials","z":"","screen_name":"@Mulbetet49"},{"id":"83e8c7cb.466b48","type":"serial-port","z":"","serialport":"","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"31ccddc3.399cc2","type":"emoncms-server","z":"","server":"http://192.168.1.215/emon","name":"Emon"},{"id":"ab4639e2.fd1e08","type":"pushbullet-config","z":"","name":"aceone"},{"id":"c1d1beae.20ce5","type":"xiaomi-configurator","z":"","name":"Living room hub","deviceList":[{"sid":"158d00016cfb49","desc":"Smart plug","model":"plug"},{"sid":"158d0001225b76","desc":"Switch","model":"switch"},{"sid":"158d00012246b6","desc":"Motion","model":"motion"},{"sid":"158d000120edb9","desc":"Cat door","model":"magnet"},{"sid":"","desc":"","model":"sensor_ht"}],"key":"5ltx3o70j7hcvtaw"},{"id":"e99fb9cd.962498","type":"influxdb","z":"","hostname":"192.168.1.215","port":"8086","protocol":"http","database":"house_news","name":"","usetls":false,"tls":""},{"id":"9b180f7a.b3dc2","type":"influxdb","z":"8676f7a6.d37568","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"c98694a2.fff628","type":"influxdb","z":"8676f7a6.d37568","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"74b0e9dd.d88a18","type":"influxdb","z":"8676f7a6.d37568","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"96669935.059368","type":"yeelight-compat-hue-config","z":"","hostname":"192.168.1.206","port":"55443","name":"Tv room lamp"},{"id":"752a224d.b803ac","type":"yeelight-compat-hue-config","z":"","hostname":"192.168.1.143","port":"55443","name":"Feather lamp"},{"id":"568b0a42.103954","type":"xiaomi-gateway-config","z":"","name":"gateway","deviceList":[{"sid":"","desc":"","model":"temperature-humidity-sensor"}],"address":"224.0.0.50","port":"9898","key":"5ltx3o70j7hcvtaw"},{"id":"60aedf5f.a21e6","type":"xiaomi-configurator","z":"","name":"gatway","deviceList":[{"sid":"158d00016cfb49","desc":"da plug","model":"plug"}],"key":"5ltx3o70j7hcvtaw"},{"id":"f6b45139.5e414","type":"mqtt in","z":"792fa8ec.b28a38","name":"Temperature","topic":"+/temperature/#","qos":"2","broker":"fee7a4df.4347c8","x":110,"y":160,"wires":[["f18879ef.e0aa58","e6616246.577b5","351c86d5.3e27ca"]]},{"id":"881055a1.2b5b88","type":"mqtt in","z":"792fa8ec.b28a38","name":"Energy Consumption","topic":"+/powermeter/#","qos":"2","broker":"fee7a4df.4347c8","x":140,"y":100,"wires":[["aa3e098f.c76a88"]]},{"id":"f18879ef.e0aa58","type":"function","z":"792fa8ec.b28a38","name":"Build Topic for Emon","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n\nif(msg.topic.indexOf('temperature')>0){\n\tmsg.nodegroup = 17;\n}else{\n\tmsg.nodegroup = 5;\n}\nplace = msg.topic.substring(0,msg.topic.indexOf('/'));\ntype = msg.topic.substring(msg.topic.lastIndexOf('/')+1);\nmsg.payload = type+\"_\"+place + \":\"+msg.payload;\nreturn msg;","outputs":"1","noerr":0,"x":860,"y":160,"wires":[["d2d583fb.d57c1"]]},{"id":"bcd0f77d.8ce958","type":"twitter out","z":"792fa8ec.b28a38","twitter":"b4c7cf30.4f907","name":"Huset","x":1330,"y":320,"wires":[]},{"id":"21be3f51.c23c2","type":"function","z":"792fa8ec.b28a38","name":"Temperature messages","func":"var bromma = global.get('bromma');\nif(typeof bromma === 'undefined'){\n bromma = Object.assign({});\n global.set('bromma',bromma);\n}\nif(msg.topic.indexOf('1053C65B02080047') >= 0){\n\tbromma.place = msg.topic.substring(0,msg.topic.indexOf('/'))\n    // node.warn(msg.payload);\n\tvar temp = parseFloat(msg.payload.value);\n\tbromma.lastTemp = temp;\n// \tnode.warn(temp);\n\t if(typeof bromma.minTemp === 'undefined' || temp < bromma.minTemp){\n\t\tbromma.minTemp = temp;\n\t\tbromma.minStamp = Date.now();\n\t}\n\tif(typeof bromma.maxTemp === 'undefined' || temp > bromma.maxTemp){\n\t\tbromma.maxTemp = temp;\n\t\tbromma.maxStamp = Date.now();\n\t}\n\t\n\tbromma.time = formatTime(bromma.maxStamp);\n\t\n\tif(typeof bromma.totalTemp === 'undefined'){\n\t\tbromma.totalTemp = 0;\n\t}\n\tif(typeof bromma.numberOfTempVals === 'undefined'){\n\t\tbromma.numberOfTempVals = 0;\n\t}\n\t\n\tbromma.totalTemp += temp;\n\tbromma.numberOfTempVals++;\n\t\n} else \n if(msg.topic == 'tweet_temp'){\n\tif(msg.payload == 'now'){\n\t\t// The temperature are 2.81°C at 12:00. #temperature #smarthome\n\t\tmsg.payload = bromma.place + ' The temperature are '+ bromma.lastTemp + '°C at ' + formatTime(Date.now()) +'. #temperature #smarthome';\n\t\treturn msg;\n\t\n\t} else if(msg.payload == 'summary'){\n\t\tvar average = (Math.round((bromma.totalTemp / bromma.numberOfTempVals) * 100 ) / 100);\n\t\t //Last day's temperatures: average:2.23°C, max:3.0°C at 13:04, min:1.63°C at 07:29. #temperature #smarthome\n\t\tmsg.payload = bromma.place + ' Last day\\'s temperatures: average:'+ average + '°C, max:' + bromma.maxTemp +'°C at ' + formatTime(bromma.maxStamp) +\n\t\t', min:' + bromma.minTemp+'°C at ' + formatTime(bromma.minStamp) +'. #temperature #smarthome';\n\t\tbromma.totalTemp = 0;\n\t\tbromma.numberOfTempVals = 0;\n\t\tbromma.minTemp = 100;\n\t\tbromma.maxTemp = -100;\n\t\treturn msg;\n\t}\n}\nfunction formatTime(millis){\n\tvar d = new Date(millis);\n\treturn (\"00\" + d.getHours()).slice(-2) + \":\" +   (\"00\" + d.getMinutes()).slice(-2);\n}\n\n","outputs":1,"noerr":0,"x":870,"y":260,"wires":[["dec1351.f374cc8","bcd0f77d.8ce958","b45b4e29.ffdb1"]]},{"id":"dec1351.f374cc8","type":"debug","z":"792fa8ec.b28a38","name":"","active":false,"complete":"true","x":1330,"y":440,"wires":[]},{"id":"3708e398.76681c","type":"inject","z":"792fa8ec.b28a38","name":"Tweet temp@00.00","topic":"tweet_temp","payload":"now","repeat":"","crontab":"00 00 * * *","once":false,"x":140,"y":300,"wires":[["21be3f51.c23c2","d0ddd4d0.eee2d8"]]},{"id":"5bd3f56a.8664bc","type":"inject","z":"792fa8ec.b28a38","name":"Tweet summary@08:00","topic":"tweet_temp","payload":"summary","repeat":"","crontab":"00 08 * * *","once":false,"x":150,"y":460,"wires":[["21be3f51.c23c2","d0ddd4d0.eee2d8"]]},{"id":"8739fcbe.37417","type":"inject","z":"792fa8ec.b28a38","name":"Tweet temp@06.00","topic":"tweet_temp","payload":"now","repeat":"","crontab":"00 06 * * *","once":false,"x":140,"y":340,"wires":[["21be3f51.c23c2","d0ddd4d0.eee2d8"]]},{"id":"8347c7ae.2fbe08","type":"inject","z":"792fa8ec.b28a38","name":"Tweet temp@18.00","topic":"tweet_temp","payload":"now","repeat":"","crontab":"00 18 * * *","once":false,"x":140,"y":420,"wires":[["21be3f51.c23c2","d0ddd4d0.eee2d8"]]},{"id":"bad48680.4cebc8","type":"inject","z":"792fa8ec.b28a38","name":"Tweet temp@12.00","topic":"tweet_temp","payload":"now","repeat":"","crontab":"00 12 * * *","once":false,"x":140,"y":380,"wires":[["21be3f51.c23c2","d0ddd4d0.eee2d8"]]},{"id":"d34c7f30.33583","type":"mqtt in","z":"792fa8ec.b28a38","name":"Daily Energy Consumption","topic":"+/powermeter/kwh/dailyconsumption0","qos":"2","broker":"fee7a4df.4347c8","x":150,"y":540,"wires":[["17ece604.02625a"]]},{"id":"17ece604.02625a","type":"function","z":"792fa8ec.b28a38","name":"Daily Energy Consumption","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nplace = msg.topic.substring(0,msg.topic.indexOf('/'))\nkWh = parseInt(msg.payload) / 10000\nmsg.payload = place + ' Last day\\'s power consumption for the house were '+ kWh +'kWh. #tweetawatt #smarthome';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":880,"y":420,"wires":[["dec1351.f374cc8","bcd0f77d.8ce958","df80a9a1.95a3b8"]]},{"id":"e6616246.577b5","type":"debug","z":"792fa8ec.b28a38","name":"","active":false,"complete":"false","x":830,"y":60,"wires":[]},{"id":"d2d583fb.d57c1","type":"debug","z":"792fa8ec.b28a38","name":"","active":false,"complete":"true","x":1110,"y":100,"wires":[]},{"id":"d3a955.ef8e86a8","type":"function","z":"792fa8ec.b28a38","name":"Tweet Sauna is warm","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nif(msg.topic.indexOf('28FF3E4C310400D2') >= 0){\n\tcontext.place = msg.topic.substring(0,msg.topic.indexOf('/'))\n\tvar temp = parseFloat(msg.payload.value);\n\tif(temp >= 75 \n\t\t&& (typeof context.saunaTimestamp === 'undefined'\n\t\t|| context.saunaTimestamp < Date.now())) {\n\t\t\n\t\tmsg.payload = context.place + ' @aceone_ The sauna temperature is '\n\t\t\t+ temp + '°C at ' + formatTime(Date.now()) +'. #temperature #smarthome';\n\t\t\tcontext.saunaTimestamp = Date.now() + 3600000;\n\t\t\t\n\t\treturn msg;\n\t}\n\t\n\t\n}\n\nfunction formatTime(millis){\n\tvar d = new Date(millis);\n\treturn (\"00\" + d.getHours()).slice(-2) + \":\" +   (\"00\" + d.getMinutes()).slice(-2);\n}\n\n","outputs":"1","noerr":0,"x":860,"y":460,"wires":[["bcd0f77d.8ce958","dec1351.f374cc8","b45b4e29.ffdb1"]]},{"id":"8bae1c6d.93eee","type":"function","z":"792fa8ec.b28a38","name":"The house is to warm","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nif(msg.topic.indexOf('1064BC5B020800FF') >= 0 || \n\tmsg.topic.indexOf('10EFD25B0208005E') >= 0){\n\tcontext.place = msg.topic.substring(0,msg.topic.indexOf('/'))\n\tvar temp = parseFloat(msg.payload.value);\n\tif(temp >= 45) {\n\t\tmsg.payload = context.place + ' @aceone_ WARNING the temperature in the house is '\n\t\t\t+ temp + '°C at ' + formatTime(Date.now()) +'. #temperature #smarthome';\n\t\treturn msg;\n\t}\n\t\n\t\n}\n\nfunction formatTime(millis){\n\tvar d = new Date(millis);\n\treturn (\"00\" + d.getHours()).slice(-2) + \":\" +   (\"00\" + d.getMinutes()).slice(-2);\n}\n\n","outputs":"1","noerr":0,"x":860,"y":500,"wires":[["bcd0f77d.8ce958","b45b4e29.ffdb1"]]},{"id":"aa3e098f.c76a88","type":"function","z":"792fa8ec.b28a38","name":"Build Topic for Emon","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n\nif(msg.topic.indexOf('temperature')>0){\n\tmsg.nodegroup = 17;\n}else{\n\tmsg.nodegroup = 5;\n}\nplace = msg.topic.substring(0,msg.topic.indexOf('/'));\ntype = msg.topic.substring(msg.topic.lastIndexOf('/')+1);\nmsg.payload = type+\"_\"+place + \":\"+msg.payload;\nreturn msg;","outputs":"1","noerr":0,"x":860,"y":119,"wires":[["d2d583fb.d57c1"]]},{"id":"5efc355e.05171c","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off","topic":"smartplug/9987695/output","payload":"0","payloadType":"num","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":"","x":190,"y":120,"wires":[["f24d3923.e625d8"]]},{"id":"f24d3923.e625d8","type":"mqtt out","z":"8f2bcdc5.cc23e","name":"SmartPlug 9987695","topic":"smartplug/9987695/output","qos":"1","retain":"","broker":"fee7a4df.4347c8","x":440,"y":120,"wires":[]},{"id":"e8451caf.1d13e","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch on","topic":"smartplug/9987695/output","payload":"1","payloadType":"num","repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":"","x":190,"y":160,"wires":[["f24d3923.e625d8"]]},{"id":"4b681ea1.90161","type":"mqtt in","z":"8f2bcdc5.cc23e","name":"State collcetor ","topic":"+/+/state","qos":"1","broker":"fee7a4df.4347c8","x":150,"y":240,"wires":[["837fa42.1e01658"]]},{"id":"f31179ea.be4a28","type":"mqtt in","z":"792fa8ec.b28a38","name":"Power Main","topic":"mulbetet49/powermeter/power0","qos":"2","broker":"fee7a4df.4347c8","x":150,"y":680,"wires":[["5e5b369b.8d77d8"]]},{"id":"4a0675f0.8f4acc","type":"mqtt in","z":"792fa8ec.b28a38","name":"Power Heater","topic":"mulbetet49/powermeter/power1","qos":"2","broker":"fee7a4df.4347c8","x":150,"y":740,"wires":[["5e5b369b.8d77d8"]]},{"id":"eb46fb24.82e358","type":"function","z":"792fa8ec.b28a38","name":"Calculate house power","func":"if(msg.topic == 'mulbetet49/powermeter/power0'){\n\tcontext.mainPower = msg.payload.value;\n\tcontext.mainTimestamp = msg.payload.timestamp;\n\t\n} else if(msg.topic == 'mulbetet49/powermeter/power1'){\n\tcontext.heaterPower = msg.payload.value / 10;\n\tcontext.heaterTimestamp = msg.payload.timestamp;\n}\n\n// if(typeof context.housePower !== 'undefined' && context.mainTimestamp == context.heaterTimestamp){\nif( context.mainTimestamp == context.heaterTimestamp){\n    var    housePower = { payload: {\n            value: (context.mainPower - context.heaterPower),\n            timestamp: msg.payload.timestamp,\n            name: \"power2\",\n            alias: \"House\"\n        }\n    };\n\n    var heaterPower = { payload:  {\n            value: context.heaterPower,\n            timestamp: msg.payload.timestamp,\n            name: \"power3\",\n            alias: \"Heatpump\"\n        }\n        \n    };\n\n    return [housePower, heaterPower];\n}\n\n\nreturn null;\n","outputs":"2","noerr":0,"x":560,"y":680,"wires":[["2b747e97.a2e632","2bda893d.70e8c6"],["9af1f531.0b3c18","2bda893d.70e8c6"]],"outputLabels":["House power","Heater power"]},{"id":"2b747e97.a2e632","type":"mqtt out","z":"792fa8ec.b28a38","name":"Power House","topic":"mulbetet49/powermeter/power2","qos":"2","retain":"false","broker":"fee7a4df.4347c8","x":900,"y":660,"wires":[]},{"id":"9af1f531.0b3c18","type":"mqtt out","z":"792fa8ec.b28a38","name":"New Power Heater","topic":"mulbetet49/powermeter/power3","qos":"2","retain":"false","broker":"fee7a4df.4347c8","x":910,"y":720,"wires":[]},{"id":"1850e40.654dd1c","type":"mqtt in","z":"792fa8ec.b28a38","name":"ESP Lua Temperature","topic":"temperature/#","qos":"2","broker":"fee7a4df.4347c8","x":140,"y":220,"wires":[["fe534db0.03226","ea852383.5569c","d0ddd4d0.eee2d8"]]},{"id":"fe534db0.03226","type":"function","z":"792fa8ec.b28a38","name":"Build Topic for Emon","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n\nif(msg.topic.indexOf('temperature')>0){\n\tmsg.nodegroup = 17;\n}else{\n\tmsg.nodegroup = 5;\n}\nplace = \"esp-lua\";\ntype = msg.topic.substring(msg.topic.lastIndexOf('/')+1);\nmsg.payload = type+\"_\"+place + \":\"+msg.payload;\nreturn msg;","outputs":"1","noerr":0,"x":860,"y":200,"wires":[["d2d583fb.d57c1"]]},{"id":"ea852383.5569c","type":"debug","z":"792fa8ec.b28a38","name":"","active":false,"console":"false","complete":"payload","x":790,"y":340,"wires":[]},{"id":"c332982c.30c208","type":"emoncms","z":"792fa8ec.b28a38","name":"Emoncms node 17","emonServer":"31ccddc3.399cc2","nodegroup":"17","datatype":"legacy","x":1230,"y":200,"wires":[]},{"id":"f9e7836d.40c38","type":"emoncms","z":"792fa8ec.b28a38","name":"Emoncms node 5","emonServer":"31ccddc3.399cc2","nodegroup":"5","datatype":"legacy","x":1230,"y":160,"wires":[]},{"id":"f640ea46.788c18","type":"inject","z":"a941cad7.5549a8","name":"Lock","topic":"","payload":"{\"type\":\"lock\",\"label\":\"2AQS 4YQN\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":640,"wires":[[]]},{"id":"8c04009d.b172f","type":"inject","z":"a941cad7.5549a8","name":"Verisure site","topic":"","payload":"{\"type\": \"site\"} ","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":600,"wires":[[]]},{"id":"5c0c0418.c89e4c","type":"exec","z":"a941cad7.5549a8","command":"vsure henols@googlemail.com F331g00d@12 set smartplug '2A7B 43NZ' ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Switch cmd","x":390,"y":840,"wires":[["c8a761fe.01563"],["afa85d21.e7755"],["32096bc4.fd7924"]]},{"id":"c8a761fe.01563","type":"debug","z":"a941cad7.5549a8","name":"Stdout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":800,"wires":[]},{"id":"a9f1f1a2.957d5","type":"inject","z":"a941cad7.5549a8","name":"Switch on","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":820,"wires":[["5c0c0418.c89e4c"]]},{"id":"c8b09b7e.b627b8","type":"inject","z":"a941cad7.5549a8","name":"Switch off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":860,"wires":[["5c0c0418.c89e4c"]]},{"id":"afa85d21.e7755","type":"debug","z":"a941cad7.5549a8","name":"Stderr","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":840,"wires":[]},{"id":"32096bc4.fd7924","type":"debug","z":"a941cad7.5549a8","name":"Return code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":880,"wires":[]},{"id":"7e94d398.980a3c","type":"inject","z":"a941cad7.5549a8","name":"Smart plug","topic":"","payload":"{\"type\":\"smartPlug\",\"label\":\"2A7B 43NZ\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":680,"wires":[[]]},{"id":"1735078.1477bf9","type":"mqtt out","z":"e2391743.cbd018","name":"","topic":"","qos":"","retain":"","broker":"fee7a4df.4347c8","x":950,"y":160,"wires":[]},{"id":"e51c7a77.569c58","type":"debug","z":"e2391743.cbd018","name":"MI Original msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":760,"y":120,"wires":[]},{"id":"4babb83.780d548","type":"comment","z":"e2391743.cbd018","name":"Listen for Xiaomi sensors","info":"every msg type != cmd:report gets filtered out.","x":190,"y":100,"wires":[]},{"id":"5400fbb9.a95f54","type":"mqtt in","z":"a941cad7.5549a8","name":"Any SmartPlug ","topic":"smartplug/+/output","qos":"1","broker":"fee7a4df.4347c8","x":120,"y":180,"wires":[["6655a16d.d102b"]]},{"id":"6655a16d.d102b","type":"switch","z":"a941cad7.5549a8","name":"Match SmartPlug","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"\\b\\/([\\dA-Z]{2,4} [\\dA-Z]{2,4})\\/*","vt":"str","case":false},{"t":"regex","v":"\\b\\/(\\d{2,8})\\/+","vt":"str","case":false}],"checkall":"false","repair":true,"outputs":2,"x":410,"y":180,"wires":[["52104295.a4c52c"],["dd7d2a03.897b28"]]},{"id":"5b406114.d5f0f","type":"inject","z":"a941cad7.5549a8","name":"Switch off","topic":"smartplug/2A7B 43NZ/output","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":800,"y":60,"wires":[["6e6dc55b.cd7e4c"]]},{"id":"6e6dc55b.cd7e4c","type":"mqtt out","z":"a941cad7.5549a8","name":"SmartPlug 9987695","topic":"","qos":"1","retain":"","broker":"fee7a4df.4347c8","x":1060,"y":60,"wires":[]},{"id":"e6862ca6.691cc","type":"inject","z":"a941cad7.5549a8","name":"Switch on","topic":"smartplug/2A7B 43NZ/output","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":800,"y":100,"wires":[["6e6dc55b.cd7e4c"]]},{"id":"dd7d2a03.897b28","type":"debug","z":"a941cad7.5549a8","name":"Match ESP smart plug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":980,"y":220,"wires":[]},{"id":"b45b4e29.ffdb1","type":"pushbullet","z":"792fa8ec.b28a38","config":"ab4639e2.fd1e08","pushtype":"note","title":"Temperature","chan":"","name":"Temperature","x":1330,"y":360,"wires":[]},{"id":"df80a9a1.95a3b8","type":"pushbullet","z":"792fa8ec.b28a38","config":"ab4639e2.fd1e08","pushtype":"note","title":"Energy","chan":"","name":"Energy","x":1340,"y":400,"wires":[]},{"id":"4b8b4b1d.11aa84","type":"inject","z":"a941cad7.5549a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":80,"wires":[["5aa1ff39.aa77b"]]},{"id":"5aa1ff39.aa77b","type":"change","z":"a941cad7.5549a8","name":"Verisore config","rules":[{"t":"set","p":"vsure-user","pt":"global","to":"henols@googlemail.com","tot":"str"},{"t":"set","p":"vsure-password","pt":"global","to":"F331g00d@12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":80,"wires":[["92e6d2fe.d027d"]]},{"id":"92e6d2fe.d027d","type":"debug","z":"a941cad7.5549a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":80,"wires":[]},{"id":"bafc810b.84369","type":"template","z":"a941cad7.5549a8","name":"Vsure SmartPlug params","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-c /home/pi/.node-red/vsure.cookie {{global.vsure-user}} {{global.vsure-password}} set smartplug '{{deviceId}}' {{state}} ","output":"str","x":150,"y":280,"wires":[["6a7f2ee6.999a5"]]},{"id":"6a7f2ee6.999a5","type":"exec","z":"a941cad7.5549a8","command":"vsure","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Vsure cmd","x":390,"y":280,"wires":[["2123c931.d44d86"],[],[]]},{"id":"52104295.a4c52c","type":"change","z":"a941cad7.5549a8","name":"Translate to Vsure state","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"on","tot":"str"},{"t":"set","p":"deviceId","pt":"msg","to":"$split(msg.topic, '/', 2)[1]\t","tot":"jsonata"},{"t":"move","p":"payload","pt":"msg","to":"state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":180,"wires":[["bafc810b.84369","920f6dd5.6d276"]]},{"id":"2123c931.d44d86","type":"switch","z":"a941cad7.5549a8","name":"Test return code","property":"rc.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":280,"wires":[["de0ccea8.f7421","aec062f7.3bbcc","50ca598e.1b05b8"]]},{"id":"de0ccea8.f7421","type":"template","z":"a941cad7.5549a8","name":"SmartPlug state request","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-c /home/pi/.node-red/vsure.cookie {{global.vsure-user}} {{global.vsure-password}} overview ","output":"str","x":150,"y":380,"wires":[["5c36b057.ec0c"]]},{"id":"dfc88add.6e1fb8","type":"template","z":"a941cad7.5549a8","name":"SmartPlug topic","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"smartplug/{{deviceId}}/state","output":"str","x":660,"y":480,"wires":[["be251df2.cc42a","c92b14c7.75ef38"]]},{"id":"be251df2.cc42a","type":"mqtt out","z":"a941cad7.5549a8","name":"SmartPlug state","topic":"","qos":"1","retain":"true","broker":"fee7a4df.4347c8","x":960,"y":480,"wires":[]},{"id":"920f6dd5.6d276","type":"debug","z":"a941cad7.5549a8","name":"SmartPlug request","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":180,"wires":[]},{"id":"c92b14c7.75ef38","type":"debug","z":"a941cad7.5549a8","name":"SmartPlug state","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":660,"y":540,"wires":[]},{"id":"aec062f7.3bbcc","type":"debug","z":"a941cad7.5549a8","name":"SmartPlug cmd response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":280,"wires":[]},{"id":"37f5f97b.c70536","type":"xiaomi-motion","z":"e2391743.cbd018","gateway":"c1d1beae.20ce5","name":"","sid":"158d00012246b6","motionmsg":"","nomotionmsg":"","output":"0","x":140,"y":600,"wires":[["fc071cea.08704"],["fc071cea.08704"]]},{"id":"f32756b1.e3b418","type":"debug","z":"e2391743.cbd018","name":"MI mqtt ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":740,"y":200,"wires":[]},{"id":"fc071cea.08704","type":"debug","z":"e2391743.cbd018","name":"MI Motion","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":440,"y":600,"wires":[]},{"id":"9ef88325.87db9","type":"xiaomi-magnet","z":"e2391743.cbd018","gateway":"c1d1beae.20ce5","name":"","sid":"158d000120edb9","openmsg":"","closemsg":"","output":"0","x":140,"y":680,"wires":[["aa3591d.684217"]]},{"id":"aa3591d.684217","type":"debug","z":"e2391743.cbd018","name":"MI Magnet","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":680,"wires":[]},{"id":"d755863e.5265e8","type":"inject","z":"e2391743.cbd018","name":"","topic":"smartplug/158d00016cfb49/output","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":420,"wires":[["4df42825.a1e628"]]},{"id":"8223812d.fa7d6","type":"inject","z":"e2391743.cbd018","name":"","topic":"smartplug/158d00016cfb49/output","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["4df42825.a1e628"]]},{"id":"b71f3bff.193748","type":"mqtt in","z":"e2391743.cbd018","name":"Any SmartPlug ","topic":"smartplug/158d00016cfb49/output","qos":"1","broker":"fee7a4df.4347c8","x":120,"y":280,"wires":[["4df42825.a1e628"]]},{"id":"4df42825.a1e628","type":"change","z":"e2391743.cbd018","name":"Translate to MI state","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"on","tot":"str"},{"t":"set","p":"deviceId","pt":"msg","to":"$split(msg.topic, '/', 2)[1]\t","tot":"jsonata"},{"t":"set","p":"state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":280,"wires":[["654afdd8.94c9d4"]]},{"id":"c163aec6.73c9f","type":"mqtt in","z":"2e500814.3e3ca8","name":"Temperature","topic":"+/temperature/#","qos":"2","broker":"fee7a4df.4347c8","x":130,"y":120,"wires":[["274c95df.ef402a"]]},{"id":"9a41919.0a54d7","type":"mqtt in","z":"2e500814.3e3ca8","name":"Energy Consumption","topic":"+/powermeter/#","qos":"2","broker":"fee7a4df.4347c8","x":160,"y":60,"wires":[["274c95df.ef402a"]]},{"id":"274c95df.ef402a","type":"function","z":"2e500814.3e3ca8","name":"Topic for Influx","func":"place = msg.topic.substring(0,msg.topic.indexOf('/'));\ntype = msg.topic.substring(msg.topic.lastIndexOf('/')+1);\nmsg.measurement = type+\"_\"+place;\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":"1","noerr":0,"x":500,"y":120,"wires":[["f0589dbd.6fb36"]]},{"id":"f0589dbd.6fb36","type":"debug","z":"2e500814.3e3ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":60,"wires":[]},{"id":"a6567e13.2a8be","type":"mqtt in","z":"2e500814.3e3ca8","name":"ESP Lua Temperature","topic":"temperature/#","qos":"2","broker":"fee7a4df.4347c8","x":160,"y":180,"wires":[["401ef373.1c4a8c"]]},{"id":"401ef373.1c4a8c","type":"function","z":"2e500814.3e3ca8","name":"Esp temp Topic for Influx","func":"place = \"esp-lua\";\ntype = msg.topic.substring(msg.topic.lastIndexOf('/')+1);\nmsg.measurement = type+\"_\"+place;\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":"1","noerr":0,"x":530,"y":180,"wires":[["f0589dbd.6fb36"]]},{"id":"c362ddf4.4ddc2","type":"influxdb out","z":"2e500814.3e3ca8","influxdb":"e99fb9cd.962498","name":"Influx House news","measurement":"","precision":"","retentionPolicy":"","x":810,"y":120,"wires":[]},{"id":"cfedede4.78ff1","type":"inject","z":"ea0c1405.b63778","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":150,"y":60,"wires":[["ecae4c83.19bc3"]]},{"id":"ecae4c83.19bc3","type":"change","z":"ea0c1405.b63778","name":"Room mappings","rules":[{"t":"set","p":"devices","pt":"global","to":"{\"corner lamp\":\"smartplug/2A7B 43NZ/output\",\"plant\":\"smartplug/2A5E 4DRD/output\",\"bookshelf\":\"smartplug/158d00016cfb49/output\",\"feather lamp\":\"yeelight/feather lamp/output\",\"tv room lamp\":\"yeelight/tv room lamp/output\"}","tot":"json"},{"t":"set","p":"groups","pt":"global","to":"{\"livingroom lights\":[\"plant\",\"corner lamp\",\"bookshelf\",\"feather lamp\"]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":60,"wires":[[]]},{"id":"6df8a8e1.bec4a8","type":"influxdb out","z":"8676f7a6.d37568","influxdb":"e99fb9cd.962498","name":"","measurement":"test","precision":"","retentionPolicy":"","x":508.952392578125,"y":123.61904907226562,"wires":[]},{"id":"555c5148.23bf1","type":"function","z":"8676f7a6.d37568","name":"single value","func":"msg.payload = Math.random()*10;\nreturn msg;","outputs":1,"noerr":0,"x":265.952392578125,"y":151.61904907226562,"wires":[["6df8a8e1.bec4a8"]]},{"id":"7fa5c48e.829d0c","type":"inject","z":"8676f7a6.d37568","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":121.952392578125,"y":126.61904907226562,"wires":[["555c5148.23bf1"]]},{"id":"fcd01fbb.2f13f","type":"influxdb in","z":"8676f7a6.d37568","influxdb":"e99fb9cd.962498","name":"time query","query":"SELECT \"value\" FROM \"1053C65B02080047_mulbetet49\" WHERE time >= now() - 15m GROUP BY time(1s) fill(null)","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":420,"wires":[["248c9ef2.c3c972"]]},{"id":"a0a88451.efc3e8","type":"inject","z":"8676f7a6.d37568","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":199,"y":420,"wires":[["fcd01fbb.2f13f"]]},{"id":"248c9ef2.c3c972","type":"debug","z":"8676f7a6.d37568","name":"","active":false,"console":"false","complete":"false","x":532,"y":420,"wires":[]},{"id":"a21e558.c502ca8","type":"function","z":"ea0c1405.b63778","name":"Group matcher","func":"var first = msg.topic.indexOf('/');\nvar last = msg.topic.lastIndexOf('/');\n\nvar name = msg.topic.substring(first + 1, last);\nvar group = global.get('groups')[name];\n\nif (typeof group !== 'undefined'){\n    var outputMsgs = [];\n    for(var g in group) {\n        var localMsg = Object.assign({},msg);\n        localMsg.topic = \"device/\" + group[g] + '/output';\n        outputMsgs.push(localMsg);\n    }\n    var stateMsg = Object.assign({},msg);\n    stateMsg.topic = \"device/\" + name + '/state';\n    stateMsg.retain = true;\n    return [ outputMsgs, stateMsg ];\n} \n\nvar device = global.get('devices')[name];\nif (typeof device !== 'undefined'){\n    msg.topic = device;\n    var stateMsg = Object.assign({},msg);\n    stateMsg.topic = \"device/\" + name + '/state';\n    stateMsg.retain = true;\n    return [msg, stateMsg];\n} \n\nnode.warn('Group or device ' + name + ' not found');","outputs":2,"noerr":0,"x":400,"y":140,"wires":[["8abb278f.6aef98"],["a65f7e73.1d49d"]]},{"id":"403b74bc.2185dc","type":"debug","z":"ea0c1405.b63778","name":"Group/device state","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":300,"wires":[]},{"id":"feae5e84.8503b","type":"mqtt in","z":"ea0c1405.b63778","name":"Group listener","topic":"device/+/output","qos":"1","broker":"fee7a4df.4347c8","x":150,"y":140,"wires":[["a21e558.c502ca8"]]},{"id":"cc31ebf5.0aded8","type":"mqtt out","z":"ea0c1405.b63778","name":"","topic":"","qos":"1","retain":"","broker":"fee7a4df.4347c8","x":910,"y":120,"wires":[]},{"id":"33d61784.dec898","type":"function","z":"ea0c1405.b63778","name":"Alexa translation","func":"if(msg.on_off_command){\n    msg.topic = \"device/\"+msg.device_name + '/output';\n    return msg;\n}","outputs":1,"noerr":0,"x":470,"y":320,"wires":[["a21e558.c502ca8"]]},{"id":"ab321a97.5a1de8","type":"change","z":"2f9a8b5.0ac1174","name":"Translate payload to internal state 0/1","rules":[{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"On","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Off","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":100,"wires":[[]]},{"id":"80acfb53.3da868","type":"mqtt in","z":"8f2bcdc5.cc23e","name":"Xiaomi Switch","topic":"xiaomi/switch/158d0001225b76/status","qos":"1","broker":"fee7a4df.4347c8","x":150,"y":380,"wires":[["c65465a5.065208"]]},{"id":"c65465a5.065208","type":"switch","z":"8f2bcdc5.cc23e","name":"Click type","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"click","vt":"str"},{"t":"eq","v":"double_click","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"},{"t":"eq","v":"long_click_release","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":340,"y":380,"wires":[["7e0caefc.a436a"],[],[],[]]},{"id":"837fa42.1e01658","type":"function","z":"8f2bcdc5.cc23e","name":"State parser","func":"var name = msg.topic;\nif(msg.topic.startsWith('device')){\n    var first = msg.topic.indexOf('/');\n    var last = msg.topic.lastIndexOf('/');\n    name = msg.topic.substring(first + 1, last );\n}\n\nvar states = global.get('states')|| {};\nstates[name] = parseInt(msg.payload);\nglobal.set('states', states);\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["2dee9059.b4c4c"]]},{"id":"2dee9059.b4c4c","type":"debug","z":"8f2bcdc5.cc23e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":240,"wires":[]},{"id":"7e0caefc.a436a","type":"function","z":"8f2bcdc5.cc23e","name":"Switch living room","func":"var states = global.get('states') || {};\n\nvar ll = states['livingroom lights'] || 0;\n\nmsg.payload = (ll + 1) % 2;\nmsg.topic = 'device/livingroom lights/output';\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["a62bff69.f418e","6e785709.52b5a8"]]},{"id":"a62bff69.f418e","type":"mqtt out","z":"8f2bcdc5.cc23e","name":"","topic":"","qos":"","retain":"","broker":"fee7a4df.4347c8","x":740,"y":320,"wires":[]},{"id":"f6c7a381.7218","type":"yeelight-compat-hue-out","z":"28a17c07.58fdd4","name":"","server":"752a224d.b803ac","x":630,"y":160,"wires":[]},{"id":"33f741dc.3637ae","type":"yeelight-compat-hue-state","z":"28a17c07.58fdd4","name":"Feather lamp","server":"752a224d.b803ac","x":630,"y":220,"wires":[["d6be4456.ff67a8"]]},{"id":"6e785709.52b5a8","type":"debug","z":"8f2bcdc5.cc23e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":400,"wires":[]},{"id":"65bb5e3.fc53ba","type":"debug","z":"28a17c07.58fdd4","name":"Fether lamp controle","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":660,"y":120,"wires":[]},{"id":"39efd3df.61573c","type":"inject","z":"28a17c07.58fdd4","name":"On","topic":"yeelight/feather lamp/output","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["46180e4b.ced84"]]},{"id":"1940bc49.d0ad84","type":"delay","z":"fcdc4e42.52247","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":240,"wires":[[]]},{"id":"d6be4456.ff67a8","type":"function","z":"28a17c07.58fdd4","name":"Build state","func":"if(typeof msg.name !== 'undefined') {\n    msg.payload = msg.payload.state.on ? 1 : 0;\n    msg.topic = 'yeelight/' + msg.name + '/state'\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["204da5f1.b6988a","d9a4dddf.2c71f"]]},{"id":"6beda369.75156c","type":"mqtt in","z":"28a17c07.58fdd4","name":"Feather lamp","topic":"yeelight/feather lamp/output","qos":"1","broker":"fee7a4df.4347c8","x":130,"y":160,"wires":[["46180e4b.ced84"]]},{"id":"b385d08f.f1e46","type":"change","z":"fcdc4e42.52247","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"},{"t":"set","p":"name","pt":"msg","to":"$split(topic, '/')[1]\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":160,"wires":[["b013dfa.4bf062","1940bc49.d0ad84"]]},{"id":"b013dfa.4bf062","type":"template","z":"fcdc4e42.52247","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"on\": {{payload}},\n    \"duration\": 5000\n}\n","output":"json","x":560,"y":160,"wires":[[]]},{"id":"2aa41fc5.ff4e4","type":"inject","z":"28a17c07.58fdd4","name":"Off","topic":"yeelight/feather lamp/output","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["46180e4b.ced84"]]},{"id":"204da5f1.b6988a","type":"mqtt out","z":"28a17c07.58fdd4","name":"","topic":"","qos":"","retain":"","broker":"fee7a4df.4347c8","x":830,"y":240,"wires":[]},{"id":"46180e4b.ced84","type":"subflow:fcdc4e42.52247","z":"28a17c07.58fdd4","name":"Yeeleight controle","x":390,"y":160,"wires":[["f6c7a381.7218","65bb5e3.fc53ba"],["33f741dc.3637ae"]]},{"id":"5c36b057.ec0c","type":"exec","z":"a941cad7.5549a8","command":"vsure","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Vsure cmd","x":390,"y":380,"wires":[["d6b09e7d.007a7"],[],[]]},{"id":"d6b09e7d.007a7","type":"json","z":"a941cad7.5549a8","name":"","property":"payload","action":"","pretty":false,"x":630,"y":380,"wires":[["77c83658.17d6b8"]]},{"id":"77c83658.17d6b8","type":"function","z":"a941cad7.5549a8","name":"Translate smartplugs state","func":"var smartPlugs = msg.payload.smartPlugs;\n\nvar outputMsgs = [];\nfor(var i in smartPlugs) {\n    var localMsg = Object.assign({},msg);\n    localMsg.deviceId = smartPlugs[i].deviceLabel;\n    localMsg.payload = smartPlugs[i].currentState;\n    localMsg.sumsum = smartPlugs[i];\n    outputMsgs.push(localMsg);\n}\nreturn [ outputMsgs ];\n","outputs":1,"noerr":0,"x":860,"y":380,"wires":[["19b3b8d0.f315d7"]]},{"id":"6bd7cef3.8ac1a","type":"mqtt out","z":"8f2bcdc5.cc23e","name":"","topic":"","qos":"1","retain":"","broker":"fee7a4df.4347c8","x":810,"y":640,"wires":[]},{"id":"b3b1fb6.636fe08","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch on, every day at 18:30","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"30 18 * * *","once":false,"onceDelay":"","x":190,"y":860,"wires":[["86048eb.ea7cd7"]]},{"id":"86048eb.ea7cd7","type":"change","z":"8f2bcdc5.cc23e","name":"Add livingroom topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"device/livingroom lights/output","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":640,"wires":[["6bd7cef3.8ac1a"]]},{"id":"94bfe3b6.76bb3","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, weekdays at 8","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 08 * * 1,2,3,4,5","once":false,"onceDelay":"","x":200,"y":640,"wires":[[]]},{"id":"813983ec.87ebf","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch on, weekdays at 6","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 06 * * 1,2,3,4,5","once":false,"onceDelay":"","x":200,"y":520,"wires":[[]]},{"id":"6877d0b5.d66a2","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch on, weekends at 8","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 06 * * 6,0","once":false,"onceDelay":"","x":200,"y":560,"wires":[[]]},{"id":"3cfa7e2d.3702f2","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, Sat Fri days at 23:30","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"30 23 * * 5,6","once":false,"onceDelay":"","x":220,"y":720,"wires":[[]]},{"id":"d8c1cf87.ade18","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, Sun-Thu ar 22:20","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"20 22 * * 1,2,3,4,0","once":false,"onceDelay":"","x":210,"y":760,"wires":[[]]},{"id":"1c846f2c.d3a301","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, weekends at 10:10","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"10 10 * * 6,0","once":false,"onceDelay":"","x":210,"y":680,"wires":[[]]},{"id":"d9a4dddf.2c71f","type":"debug","z":"28a17c07.58fdd4","name":"Fether lamp state","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":300,"wires":[]},{"id":"a65f7e73.1d49d","type":"subflow:2f9a8b5.0ac1174","z":"ea0c1405.b63778","name":"","x":670,"y":200,"wires":[["cc31ebf5.0aded8","403b74bc.2185dc"]]},{"id":"8abb278f.6aef98","type":"subflow:2f9a8b5.0ac1174","z":"ea0c1405.b63778","name":"","x":670,"y":120,"wires":[["cc31ebf5.0aded8"]]},{"id":"19b3b8d0.f315d7","type":"subflow:2f9a8b5.0ac1174","z":"a941cad7.5549a8","name":"","x":350,"y":480,"wires":[["dfc88add.6e1fb8"]]},{"id":"c6ef97c7.fa46f8","type":"yeelight-compat-hue-out","z":"28a17c07.58fdd4","name":"","server":"96669935.059368","x":640,"y":400,"wires":[]},{"id":"b9d09734.bded18","type":"yeelight-compat-hue-state","z":"28a17c07.58fdd4","name":"Tvroom lamp","server":"96669935.059368","x":630,"y":460,"wires":[["8b0f2197.0352d"]]},{"id":"2f7638a1.629988","type":"debug","z":"28a17c07.58fdd4","name":"Tv room lamp controle","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":660,"y":360,"wires":[]},{"id":"6f3e09f3.c29c68","type":"inject","z":"28a17c07.58fdd4","name":"On","topic":"yeelight/corner lamp/output","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":460,"wires":[["62fa9ff4.89a5e"]]},{"id":"8b0f2197.0352d","type":"function","z":"28a17c07.58fdd4","name":"Build state","func":"if(typeof msg.name !== 'undefined') {\n    msg.payload = msg.payload.state.on ? 1 : 0;\n    msg.topic = 'yeelight/' + msg.name + '/state'\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":610,"y":540,"wires":[["80937aa3.3d29d8","f3db5623.71a958"]]},{"id":"ca52345c.fc89c8","type":"mqtt in","z":"28a17c07.58fdd4","name":"Tv room lamp","topic":"yeelight/tv room lamp/output","qos":"1","broker":"fee7a4df.4347c8","x":130,"y":400,"wires":[["62fa9ff4.89a5e"]]},{"id":"1b9ff8b6.69fbc7","type":"inject","z":"28a17c07.58fdd4","name":"Off","topic":"yeelight/corner lamp/output","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":520,"wires":[["62fa9ff4.89a5e"]]},{"id":"80937aa3.3d29d8","type":"mqtt out","z":"28a17c07.58fdd4","name":"","topic":"","qos":"","retain":"","broker":"fee7a4df.4347c8","x":870,"y":480,"wires":[]},{"id":"62fa9ff4.89a5e","type":"subflow:fcdc4e42.52247","z":"28a17c07.58fdd4","name":"Yeeleight controle","x":390,"y":400,"wires":[["c6ef97c7.fa46f8","2f7638a1.629988"],["b9d09734.bded18"]]},{"id":"f3db5623.71a958","type":"debug","z":"28a17c07.58fdd4","name":"Tv room lamp state","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":540,"wires":[]},{"id":"c6c43bc.6de67c8","type":"debug","z":"e2391743.cbd018","name":"Json","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":340,"wires":[]},{"id":"50ca598e.1b05b8","type":"change","z":"a941cad7.5549a8","name":"Expected state","rules":[{"t":"move","p":"state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":320,"wires":[["19b3b8d0.f315d7"]]},{"id":"8340ac3d.72303","type":"xiaomi-gateway","z":"e2391743.cbd018","gateway":"568b0a42.103954","name":"","healthcheck":60,"x":840,"y":280,"wires":[[]]},{"id":"16a25871.576da8","type":"mqtt out","z":"888de14e.3ee9c","name":"","topic":"","qos":"","retain":"","broker":"fee7a4df.4347c8","x":790,"y":280,"wires":[]},{"id":"4194ca33.aa7224","type":"debug","z":"888de14e.3ee9c","name":"","active":false,"console":"false","complete":"false","x":810,"y":240,"wires":[]},{"id":"9869d99f.2656c8","type":"function","z":"888de14e.3ee9c","name":"","func":"var newMsg = {};\nif (msg.payload.cmd == 'report') {\n    var data = JSON.parse(msg.payload.data);\n    if (data.no_motion) {\n        newMsg.payload = \"no_motion\";\n    } else if (data.status ){\n        newMsg.payload = data.status;\n    } else {\n        newMsg.payload = msg.payload.data;\n    }\n    newMsg.topic = 'xiaomi/' + msg.payload.model + '/' + msg.payload.sid + '/status';\n    return [msg, newMsg];\n} \n\nreturn null;","outputs":"2","noerr":0,"x":640,"y":260,"wires":[["4194ca33.aa7224"],["16a25871.576da8"]]},{"id":"f2313a57.a65908","type":"json","z":"888de14e.3ee9c","name":"","x":500,"y":260,"wires":[["9869d99f.2656c8"]]},{"id":"21d9a297.e10eee","type":"udp in","z":"888de14e.3ee9c","name":"","iface":"","port":"9898","ipv":"udp4","multicast":"true","group":"224.0.0.50","datatype":"utf8","x":290,"y":260,"wires":[["f2313a57.a65908"]]},{"id":"40963b27.bcfdf4","type":"comment","z":"888de14e.3ee9c","name":"Listen for Xiaomi sensors","info":"every msg type != cmd:report gets filtered out.","x":310,"y":200,"wires":[]},{"id":"5590b6fb.ac3a28","type":"function","z":"e2391743.cbd018","name":"","func":"var newMsg = {};\nif (msg.payload.cmd == 'report') {\n    var data = msg.payload.data;\n    if (data.no_motion) {\n        newMsg.payload = \"no_motion\";\n    } else if (data.status ){\n        newMsg.payload = data.status;\n    } else {\n        newMsg.payload = msg.payload.data;\n    }\n    newMsg.topic = 'xiaomi/' + msg.payload.model + '/' + msg.payload.sid + '/status';\n    \n    var plug = null;\n    if(msg.payload.model == 'plug'){\n        plug = {};\n        plug.payload = data.status == 'on' ? 1 : 0;\n        plug.topic = 'smartplug/' + msg.payload.sid + '/state';\n    }\n\n\n    return [msg, newMsg, plug];\n} \n\nreturn null;","outputs":3,"noerr":0,"x":470,"y":160,"wires":[["e51c7a77.569c58"],["f32756b1.e3b418","1735078.1477bf9"],["1735078.1477bf9","f32756b1.e3b418"]],"outputLabels":["org msg","","smartplug state"]},{"id":"7b24820c.7b96ec","type":"xiaomi-gateway","z":"e2391743.cbd018","gateway":"568b0a42.103954","name":"","healthcheck":60,"x":160,"y":160,"wires":[["5590b6fb.ac3a28"]]},{"id":"654afdd8.94c9d4","type":"template","z":"e2391743.cbd018","name":"Smart plug msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"cmd\":\"write\",\"sid\":\"{{deviceId}}\",\"model\":\"plug\",\"data\":{\"status\":\"{{payload}}\",\"key\":\"\"}}","output":"json","x":620,"y":280,"wires":[["c6c43bc.6de67c8","8340ac3d.72303"]]},{"id":"af58690d.ab27b8","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch on, every day at 16","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 16 * * *","once":false,"onceDelay":"","x":200,"y":600,"wires":[[]]},{"id":"7c156313.e1da0c","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, Sat Fri days at 23:30","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"30 23 * * 5,6","once":false,"onceDelay":"","x":200,"y":920,"wires":[["86048eb.ea7cd7"]]},{"id":"56ceadf2.b9e184","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, Sun-Thu ar 22:20","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"20 22 * * 1,2,3,4,0","once":false,"onceDelay":"","x":190,"y":960,"wires":[["86048eb.ea7cd7"]]},{"id":"d0ddd4d0.eee2d8","type":"function","z":"792fa8ec.b28a38","name":"Temperature messages Fbg","func":"var fbg = global.get('fbg');\nif(typeof fbg === 'undefined'){\n fbg = Object.assign({});\n global.set('fbg',fbg);\n}\n\nif(msg.topic.indexOf('28FF76E6021703D6') >= 0){\n\tfbg.place = 'Radhuset';\n\tvar temp = parseFloat(msg.payload);\n\tfbg.lastTemp = temp;\n\t\n\t if(typeof fbg.minTemp === 'undefined' || temp < fbg.minTemp){\n\t\tfbg.minTemp = temp;\n\t\tfbg.minStamp = Date.now();\n\t}\n\tif(typeof fbg.maxTemp === 'undefined' || temp > fbg.maxTemp){\n\t\tfbg.maxTemp = temp;\n\t\tfbg.maxStamp = Date.now();\n\t}\n\t\n\tfbg.time = formatTime(fbg.maxStamp);\n\t\n\tif(typeof fbg.totalTemp === 'undefined'){\n\t\tfbg.totalTemp = 0;\n\t}\n\tif(typeof fbg.numberOfTempVals === 'undefined'){\n\t\tfbg.numberOfTempVals = 0;\n\t}\n\t\n\tfbg.totalTemp += temp;\n\tfbg.numberOfTempVals++;\n\t\n} else \n if(msg.topic == 'tweet_temp'){\n\tif(msg.payload == 'now'){\n\t\t// The temperature are 2.81°C at 12:00. #temperature #smarthome\n\t\tmsg.payload = fbg.place + ' The temperature are '+ fbg.lastTemp + '°C at ' + formatTime(Date.now()) +'. #temperature #smarthome';\n\t\treturn msg;\n\t\n\t} else if(msg.payload == 'summary'){\n\t\tvar average = (Math.round((fbg.totalTemp / fbg.numberOfTempVals) * 100 ) / 100);\n\t\t //Last day's temperatures: average:2.23°C, max:3.0°C at 13:04, min:1.63°C at 07:29. #temperature #smarthome\n\t\tmsg.payload = fbg.place + ' Last day\\'s temperatures: average:'+ average + '°C, max:' + fbg.maxTemp +'°C at ' + formatTime(fbg.maxStamp) +\n\t\t', min:' + fbg.minTemp+'°C at ' + formatTime(fbg.minStamp) +'. #temperature #smarthome';\n\t\tfbg.totalTemp = 0;\n\t\tfbg.numberOfTempVals = 0;\n\t\tfbg.minTemp = 100;\n\t\tfbg.maxTemp = -100;\n\t\treturn msg;\n\t}\n}\n\nfunction formatTime(millis){\n\tvar d = new Date(millis);\n\treturn (\"00\" + d.getHours()).slice(-2) + \":\" +   (\"00\" + d.getMinutes()).slice(-2);\n}\n\n","outputs":1,"noerr":0,"x":880,"y":540,"wires":[["dec1351.f374cc8","b45b4e29.ffdb1","bcd0f77d.8ce958"]]},{"id":"2bda893d.70e8c6","type":"debug","z":"792fa8ec.b28a38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":820,"wires":[]},{"id":"5e5b369b.8d77d8","type":"json","z":"792fa8ec.b28a38","name":"","property":"payload","action":"","pretty":false,"x":310,"y":680,"wires":[["eb46fb24.82e358","2bda893d.70e8c6"]]},{"id":"351c86d5.3e27ca","type":"json","z":"792fa8ec.b28a38","name":"","property":"payload","action":"","pretty":false,"x":470,"y":180,"wires":[["21be3f51.c23c2","d3a955.ef8e86a8","8bae1c6d.93eee"]]}]