flows_ras-pi_II.json
[{"id":"792fa8ec.b28a38","type":"tab","label":"Emon poster","disabled":false,"info":""},{"id":"8f2bcdc5.cc23e","type":"tab","label":"Lights timer ","disabled":false,"info":""},{"id":"ea0c1405.b63778","type":"tab","label":"Room mappings","disabled":false,"info":""},{"id":"28a17c07.58fdd4","type":"tab","label":"Yeelight","disabled":false,"info":""},{"id":"a941cad7.5549a8","type":"tab","label":"Verisure SmartPlug contole","disabled":false,"info":""},{"id":"6bd20862.85df28","type":"tab","label":"Tradfri","disabled":false,"info":""},{"id":"888de14e.3ee9c","type":"tab","label":"Zigbee2MQTT","disabled":false,"info":""},{"id":"ed8eb5c5.6a0458","type":"tab","label":"Z2M Admin","disabled":false,"info":""},{"id":"2e500814.3e3ca8","type":"tab","label":"InfluxDB","disabled":false,"info":""},{"id":"fcdc4e42.52247","type":"subflow","name":"Yeelight controle","info":"","category":"","in":[{"x":180,"y":160,"wires":[{"id":"b385d08f.f1e46"}]}],"out":[{"x":860,"y":160,"wires":[{"id":"b013dfa.4bf062","port":0}]},{"x":860,"y":240,"wires":[{"id":"1940bc49.d0ad84","port":0}]}]},{"id":"2f9a8b5.0ac1174","type":"subflow","name":"Translate to internal state","info":"Translate payload to internal state 0/1","category":"","in":[{"x":100,"y":100,"wires":[{"id":"ab321a97.5a1de8"}]}],"out":[{"x":600,"y":100,"wires":[{"id":"ab321a97.5a1de8","port":0}]}]},{"id":"63e8ee4a.883ac","type":"mqtt-broker","z":"","broker":"localhost","port":"6883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2c64fd6d.ec5432","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.170","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fee7a4df.4347c8","type":"mqtt-broker","z":"","name":"RasPi II","broker":"192.168.1.170","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"83e8c7cb.466b48","type":"serial-port","z":"","serialport":"","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"31ccddc3.399cc2","type":"emoncms-server","z":"","server":"http://192.168.1.215/emon","name":"Emon"},{"id":"ab4639e2.fd1e08","type":"pushbullet-config","z":"","name":"aceone"},{"id":"e99fb9cd.962498","type":"influxdb","z":"","hostname":"192.168.1.215","port":"8086","protocol":"http","database":"house","name":"","usetls":false,"tls":""},{"id":"96669935.059368","type":"yeelight-compat-hue-config","z":"","hostname":"192.168.1.166","port":"55443","name":"Tv room lamp"},{"id":"752a224d.b803ac","type":"yeelight-compat-hue-config","z":"","hostname":"192.168.1.143","port":"55443","name":"Feather lamp"},{"id":"df3740cc.ec4c2","type":"tradfri-config","z":"","name":"IKEA hub","hubip":"192.168.1.129","sid":"6BfbKBRbfeBUpqB6","coap":"/home/pi/.node-red/node_modules/node-tradfri-argon/lib/coap-client-raspbian","identity":"WRb9lpMJbWI2c","preshared_key":"IL1KvFHKe7HHZKfS"},{"id":"300ebab7.071c56","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5cfb0867.c556a8","type":"ui_group","z":"","name":"Device management","tab":"6b13e27b.58783c","order":3,"disp":true,"width":"6","collapse":false},{"id":"ebad7aa0.b860b8","type":"mqtt-broker","z":"","name":"mqtt","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9a2d7c5b.5c7c9","type":"ui_group","z":"","name":"Device list","tab":"6b13e27b.58783c","order":1,"disp":true,"width":"6","collapse":false},{"id":"288c84b2.f0e8cc","type":"ui_group","z":"","name":"Bridge configuration","tab":"6b13e27b.58783c","order":5,"disp":true,"width":"6","collapse":true},{"id":"b222b201.5404b","type":"ui_group","z":"","name":"Network map","tab":"d603745c.7aa448","disp":false,"width":"27","collapse":false},{"id":"c54ab6c0.045028","type":"ui_group","z":"","name":"Device details","tab":"6b13e27b.58783c","order":2,"disp":true,"width":"6","collapse":false},{"id":"9338b9c9.0dd528","type":"ui_group","z":"","name":"Group configuration","tab":"6b13e27b.58783c","order":4,"disp":true,"width":"6","collapse":true},{"id":"6b13e27b.58783c","type":"ui_tab","z":"","name":"Z2M Admin","icon":"dashboard","disabled":false,"hidden":false},{"id":"d603745c.7aa448","type":"ui_tab","z":"","name":"Z2M Network map","icon":"dashboard","disabled":false,"hidden":true},{"id":"c27ce5ed.6f0fc8","type":"ui_group","z":"","name":"Status","tab":"a8f4e9f6.99db78","order":2,"disp":true,"width":"6","collapse":false},{"id":"2326fad9.3a65e6","type":"ui_group","z":"","name":"Permit Join","tab":"a8f4e9f6.99db78","order":3,"disp":true,"width":"6","collapse":false},{"id":"cd4ac487.b85d48","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.5","port":"8883","tls":"638a551c.68ae2c","clientid":"","usetls":true,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"638a551c.68ae2c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"m2mqtt_srv.crt","keyname":"m2mqtt_srv.key","caname":"m2mqtt_ca.crt","servername":"","verifyservercert":false},{"id":"305ffd3e.0e17b2","type":"ui_group","z":"","name":"Rename Device","tab":"a8f4e9f6.99db78","order":6,"disp":true,"width":"6","collapse":false},{"id":"a8f4e9f6.99db78","type":"ui_tab","z":"","name":"Zigbee2MQTT Admin Panel","icon":"dashboard"},{"id":"bc53e51.d24ec18","type":"ui_group","z":"","name":"Device management","tab":"a55257a1.9f2978","order":3,"disp":true,"width":"6","collapse":false},{"id":"cfc43053.4fcd9","type":"mqtt-broker","z":"","name":"mqtt","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b823e4f8.8ceda8","type":"ui_group","z":"","name":"Device list","tab":"a55257a1.9f2978","order":1,"disp":true,"width":"6","collapse":false},{"id":"43254e6a.421ce","type":"ui_group","z":"","name":"Bridge configuration","tab":"a55257a1.9f2978","order":5,"disp":true,"width":"6","collapse":true},{"id":"3b0e5780.d5f2a8","type":"ui_group","z":"","name":"Network map","tab":"113b095e.aa0c67","disp":false,"width":"27","collapse":false},{"id":"6f44f22f.706abc","type":"ui_group","z":"","name":"Device details","tab":"a55257a1.9f2978","order":2,"disp":true,"width":"6","collapse":false},{"id":"1ab4a29e.e1a56d","type":"ui_group","z":"","name":"Group configuration","tab":"a55257a1.9f2978","order":4,"disp":true,"width":"6","collapse":true},{"id":"a55257a1.9f2978","type":"ui_tab","z":"","name":"Z2M Admin","icon":"dashboard","disabled":false,"hidden":false},{"id":"113b095e.aa0c67","type":"ui_tab","z":"","name":"Z2M Network map","icon":"dashboard","disabled":false,"hidden":true},{"id":"f6b45139.5e414","type":"mqtt in","z":"792fa8ec.b28a38","name":"Temperature","topic":"+/temperature/#","qos":"2","datatype":"auto","broker":"fee7a4df.4347c8","x":110,"y":160,"wires":[["f18879ef.e0aa58","e6616246.577b5","351c86d5.3e27ca"]]},{"id":"881055a1.2b5b88","type":"mqtt in","z":"792fa8ec.b28a38","name":"Energy Consumption","topic":"+/powermeter/#","qos":"2","broker":"fee7a4df.4347c8","x":140,"y":100,"wires":[["aa3e098f.c76a88"]]},{"id":"f18879ef.e0aa58","type":"function","z":"792fa8ec.b28a38","name":"Build Topic for Emon","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n\nif(msg.topic.indexOf('temperature')>0){\n\tmsg.nodegroup = 17;\n}else{\n\tmsg.nodegroup = 5;\n}\nplace = msg.topic.substring(0,msg.topic.indexOf('/'));\ntype = msg.topic.substring(msg.topic.lastIndexOf('/')+1);\nmsg.payload = type+\"_\"+place + \":\"+msg.payload;\nreturn msg;","outputs":"1","noerr":0,"x":860,"y":160,"wires":[["d2d583fb.d57c1"]]},{"id":"21be3f51.c23c2","type":"function","z":"792fa8ec.b28a38","name":"Temperature messages","func":"var bromma = global.get('bromma');\nif(typeof bromma === 'undefined'){\n bromma = Object.assign({});\n global.set('bromma',bromma);\n}\nif(msg.topic.indexOf('1053C65B02080047') >= 0){\n\tbromma.place = msg.topic.substring(0,msg.topic.indexOf('/'))\n    // node.warn(msg.payload);\n\tvar temp = parseFloat(msg.payload.value);\n\tbromma.lastTemp = temp;\n// \tnode.warn(temp);\n\t if(typeof bromma.minTemp === 'undefined' || temp < bromma.minTemp){\n\t\tbromma.minTemp = temp;\n\t\tbromma.minStamp = Date.now();\n\t}\n\tif(typeof bromma.maxTemp === 'undefined' || temp > bromma.maxTemp){\n\t\tbromma.maxTemp = temp;\n\t\tbromma.maxStamp = Date.now();\n\t}\n\t\n\tbromma.time = formatTime(bromma.maxStamp);\n\t\n\tif(typeof bromma.totalTemp === 'undefined'){\n\t\tbromma.totalTemp = 0;\n\t}\n\tif(typeof bromma.numberOfTempVals === 'undefined'){\n\t\tbromma.numberOfTempVals = 0;\n\t}\n\t\n\tbromma.totalTemp += temp;\n\tbromma.numberOfTempVals++;\n\t\n} else \n if(msg.topic == 'tweet_temp'){\n\tif(msg.payload == 'now'){\n\t\t// The temperature are 2.81°C at 12:00. #temperature #smarthome\n\t\tmsg.payload = bromma.place + ' The temperature are '+ bromma.lastTemp + '°C at ' + formatTime(Date.now()) +'. #temperature #smarthome';\n\t\treturn msg;\n\t\n\t} else if(msg.payload == 'summary'){\n\t\tvar average = (Math.round((bromma.totalTemp / bromma.numberOfTempVals) * 100 ) / 100);\n\t\t //Last day's temperatures: average:2.23°C, max:3.0°C at 13:04, min:1.63°C at 07:29. #temperature #smarthome\n\t\tmsg.payload = bromma.place + ' Last day\\'s temperatures: average:'+ average + '°C, max:' + bromma.maxTemp +'°C at ' + formatTime(bromma.maxStamp) +\n\t\t', min:' + bromma.minTemp+'°C at ' + formatTime(bromma.minStamp) +'. #temperature #smarthome';\n\t\tbromma.totalTemp = 0;\n\t\tbromma.numberOfTempVals = 0;\n\t\tbromma.minTemp = 100;\n\t\tbromma.maxTemp = -100;\n\t\treturn msg;\n\t}\n}\nfunction formatTime(millis){\n\tvar d = new Date(millis);\n\treturn (\"00\" + d.getHours()).slice(-2) + \":\" +   (\"00\" + d.getMinutes()).slice(-2);\n}\n\n","outputs":1,"noerr":0,"x":870,"y":260,"wires":[["dec1351.f374cc8","b45b4e29.ffdb1"]]},{"id":"dec1351.f374cc8","type":"debug","z":"792fa8ec.b28a38","name":"","active":false,"complete":"true","x":1330,"y":440,"wires":[]},{"id":"3708e398.76681c","type":"inject","z":"792fa8ec.b28a38","name":"Tweet temp@00.00","topic":"tweet_temp","payload":"now","repeat":"","crontab":"00 00 * * *","once":false,"x":140,"y":300,"wires":[["21be3f51.c23c2","d0ddd4d0.eee2d8"]]},{"id":"5bd3f56a.8664bc","type":"inject","z":"792fa8ec.b28a38","name":"Tweet summary@08:00","topic":"tweet_temp","payload":"summary","repeat":"","crontab":"00 08 * * *","once":false,"x":150,"y":460,"wires":[["21be3f51.c23c2","d0ddd4d0.eee2d8"]]},{"id":"8739fcbe.37417","type":"inject","z":"792fa8ec.b28a38","name":"Tweet temp@06.00","topic":"tweet_temp","payload":"now","repeat":"","crontab":"00 06 * * *","once":false,"x":140,"y":340,"wires":[["21be3f51.c23c2","d0ddd4d0.eee2d8"]]},{"id":"8347c7ae.2fbe08","type":"inject","z":"792fa8ec.b28a38","name":"Tweet temp@18.00","topic":"tweet_temp","payload":"now","repeat":"","crontab":"00 18 * * *","once":false,"x":140,"y":420,"wires":[["21be3f51.c23c2","d0ddd4d0.eee2d8"]]},{"id":"bad48680.4cebc8","type":"inject","z":"792fa8ec.b28a38","name":"Tweet temp@12.00","topic":"tweet_temp","payload":"now","repeat":"","crontab":"00 12 * * *","once":false,"x":140,"y":380,"wires":[["21be3f51.c23c2","d0ddd4d0.eee2d8"]]},{"id":"d34c7f30.33583","type":"mqtt in","z":"792fa8ec.b28a38","name":"Daily Energy Consumption","topic":"+/powermeter/kwh/dailyconsumption0","qos":"2","broker":"fee7a4df.4347c8","x":150,"y":540,"wires":[["17ece604.02625a"]]},{"id":"17ece604.02625a","type":"function","z":"792fa8ec.b28a38","name":"Daily Energy Consumption","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nplace = msg.topic.substring(0,msg.topic.indexOf('/'))\nkWh = parseInt(msg.payload) / 10000\nmsg.payload = place + ' Last day\\'s power consumption for the house were '+ kWh +'kWh. #tweetawatt #smarthome';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":880,"y":420,"wires":[["dec1351.f374cc8","df80a9a1.95a3b8"]]},{"id":"e6616246.577b5","type":"debug","z":"792fa8ec.b28a38","name":"","active":false,"tosidebar":true,"complete":"false","x":830,"y":60,"wires":[]},{"id":"d2d583fb.d57c1","type":"debug","z":"792fa8ec.b28a38","name":"","active":false,"complete":"true","x":1110,"y":100,"wires":[]},{"id":"d3a955.ef8e86a8","type":"function","z":"792fa8ec.b28a38","name":"Tweet Sauna is warm","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nif(msg.topic.indexOf('28FF3E4C310400D2') >= 0){\n\tcontext.place = msg.topic.substring(0,msg.topic.indexOf('/'))\n\tvar temp = parseFloat(msg.payload.value);\n\tif(temp >= 75 \n\t\t&& (typeof context.saunaTimestamp === 'undefined'\n\t\t|| context.saunaTimestamp < Date.now())) {\n\t\t\n\t\tmsg.payload = context.place + ' @aceone_ The sauna temperature is '\n\t\t\t+ temp + '°C at ' + formatTime(Date.now()) +'. #temperature #smarthome';\n\t\t\tcontext.saunaTimestamp = Date.now() + 3600000;\n\t\t\t\n\t\treturn msg;\n\t}\n\t\n\t\n}\n\nfunction formatTime(millis){\n\tvar d = new Date(millis);\n\treturn (\"00\" + d.getHours()).slice(-2) + \":\" +   (\"00\" + d.getMinutes()).slice(-2);\n}\n\n","outputs":"1","noerr":0,"x":860,"y":460,"wires":[["dec1351.f374cc8","b45b4e29.ffdb1"]]},{"id":"8bae1c6d.93eee","type":"function","z":"792fa8ec.b28a38","name":"The house is to warm","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nif(msg.topic.indexOf('1064BC5B020800FF') >= 0 || \n\tmsg.topic.indexOf('10EFD25B0208005E') >= 0){\n\tcontext.place = msg.topic.substring(0,msg.topic.indexOf('/'))\n\tvar temp = parseFloat(msg.payload.value);\n\tif(temp >= 45) {\n\t\tmsg.payload = context.place + ' @aceone_ WARNING the temperature in the house is '\n\t\t\t+ temp + '°C at ' + formatTime(Date.now()) +'. #temperature #smarthome';\n\t\treturn msg;\n\t}\n\t\n\t\n}\n\nfunction formatTime(millis){\n\tvar d = new Date(millis);\n\treturn (\"00\" + d.getHours()).slice(-2) + \":\" +   (\"00\" + d.getMinutes()).slice(-2);\n}\n\n","outputs":"1","noerr":0,"x":860,"y":500,"wires":[["b45b4e29.ffdb1"]]},{"id":"aa3e098f.c76a88","type":"function","z":"792fa8ec.b28a38","name":"Build Topic for Emon","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n\nif(msg.topic.indexOf('temperature')>0){\n\tmsg.nodegroup = 17;\n}else{\n\tmsg.nodegroup = 5;\n}\nplace = msg.topic.substring(0,msg.topic.indexOf('/'));\ntype = msg.topic.substring(msg.topic.lastIndexOf('/')+1);\nmsg.payload = type+\"_\"+place + \":\"+msg.payload;\nreturn msg;","outputs":"1","noerr":0,"x":860,"y":119,"wires":[["d2d583fb.d57c1"]]},{"id":"f31179ea.be4a28","type":"mqtt in","z":"792fa8ec.b28a38","name":"Power Main","topic":"mulbetet49/powermeter/power0","qos":"2","broker":"fee7a4df.4347c8","x":150,"y":680,"wires":[["5e5b369b.8d77d8"]]},{"id":"4a0675f0.8f4acc","type":"mqtt in","z":"792fa8ec.b28a38","name":"Power Heater","topic":"mulbetet49/powermeter/power1","qos":"2","broker":"fee7a4df.4347c8","x":150,"y":740,"wires":[["5e5b369b.8d77d8"]]},{"id":"eb46fb24.82e358","type":"function","z":"792fa8ec.b28a38","name":"Calculate house power","func":"if(msg.topic == 'mulbetet49/powermeter/power0'){\n\tcontext.mainPower = msg.payload.value;\n\tcontext.mainTimestamp = msg.payload.timestamp;\n\t\n} else if(msg.topic == 'mulbetet49/powermeter/power1'){\n\tcontext.heaterPower = msg.payload.value / 10;\n\tcontext.heaterTimestamp = msg.payload.timestamp;\n}\n\n// if(typeof context.housePower !== 'undefined' && context.mainTimestamp == context.heaterTimestamp){\nif( context.mainTimestamp == context.heaterTimestamp){\n    var    housePower = { payload: {\n            value: (context.mainPower - context.heaterPower),\n            timestamp: msg.payload.timestamp,\n            name: \"power2\",\n            alias: \"House\"\n        }\n    };\n\n    var heaterPower = { payload:  {\n            value: context.heaterPower,\n            timestamp: msg.payload.timestamp,\n            name: \"power3\",\n            alias: \"Heatpump\"\n        }\n        \n    };\n\n    return [housePower, heaterPower];\n}\n\n\nreturn null;\n","outputs":"2","noerr":0,"x":560,"y":680,"wires":[["2b747e97.a2e632","2bda893d.70e8c6"],["9af1f531.0b3c18","2bda893d.70e8c6"]],"outputLabels":["House power","Heater power"]},{"id":"2b747e97.a2e632","type":"mqtt out","z":"792fa8ec.b28a38","name":"Power House","topic":"mulbetet49/powermeter/power2","qos":"2","retain":"false","broker":"fee7a4df.4347c8","x":900,"y":660,"wires":[]},{"id":"9af1f531.0b3c18","type":"mqtt out","z":"792fa8ec.b28a38","name":"New Power Heater","topic":"mulbetet49/powermeter/power3","qos":"2","retain":"false","broker":"fee7a4df.4347c8","x":910,"y":720,"wires":[]},{"id":"1850e40.654dd1c","type":"mqtt in","z":"792fa8ec.b28a38","name":"ESP Lua Temperature","topic":"temperature/#","qos":"2","datatype":"auto","broker":"fee7a4df.4347c8","x":140,"y":220,"wires":[["fe534db0.03226","d0ddd4d0.eee2d8","ea852383.5569c"]]},{"id":"fe534db0.03226","type":"function","z":"792fa8ec.b28a38","name":"Build Topic for Emon","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n\nif(msg.topic.indexOf('temperature')>0){\n\tmsg.nodegroup = 17;\n}else{\n\tmsg.nodegroup = 5;\n}\nplace = \"esp-lua\";\ntype = msg.topic.substring(msg.topic.lastIndexOf('/')+1);\nmsg.payload = type+\"_\"+place + \":\"+msg.payload;\nreturn msg;","outputs":"1","noerr":0,"x":860,"y":200,"wires":[["d2d583fb.d57c1"]]},{"id":"ea852383.5569c","type":"debug","z":"792fa8ec.b28a38","name":"","active":false,"tosidebar":true,"console":false,"complete":"payload","x":790,"y":340,"wires":[]},{"id":"c332982c.30c208","type":"emoncms","z":"792fa8ec.b28a38","name":"Emoncms node 17","emonServer":"31ccddc3.399cc2","nodegroup":"17","datatype":"legacy","x":1230,"y":200,"wires":[]},{"id":"f9e7836d.40c38","type":"emoncms","z":"792fa8ec.b28a38","name":"Emoncms node 5","emonServer":"31ccddc3.399cc2","nodegroup":"5","datatype":"legacy","x":1230,"y":160,"wires":[]},{"id":"5400fbb9.a95f54","type":"mqtt in","z":"a941cad7.5549a8","name":"Any SmartPlug ","topic":"smartplug/+/output","qos":"1","datatype":"auto","broker":"fee7a4df.4347c8","x":120,"y":180,"wires":[["6655a16d.d102b"]]},{"id":"6655a16d.d102b","type":"switch","z":"a941cad7.5549a8","name":"Match SmartPlug","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"\\b\\/([\\dA-Z]{2,4} [\\dA-Z]{2,4})\\/*","vt":"str","case":false},{"t":"regex","v":"(\\d{7,8})","vt":"str","case":false},{"t":"regex","v":"(\\d{5,6})","vt":"str","case":false}],"checkall":"false","repair":true,"outputs":3,"x":410,"y":180,"wires":[["52104295.a4c52c"],["dd7d2a03.897b28"],["a5efd7b6.b61a98"]]},{"id":"dd7d2a03.897b28","type":"debug","z":"a941cad7.5549a8","name":"Match ESP smart plug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":980,"y":220,"wires":[]},{"id":"b45b4e29.ffdb1","type":"pushbullet","z":"792fa8ec.b28a38","config":"ab4639e2.fd1e08","pushtype":"note","title":"Temperature","chan":"","name":"Temperature","x":1330,"y":360,"wires":[]},{"id":"df80a9a1.95a3b8","type":"pushbullet","z":"792fa8ec.b28a38","config":"ab4639e2.fd1e08","pushtype":"note","title":"Energy","chan":"","name":"Energy","x":1340,"y":400,"wires":[]},{"id":"4b8b4b1d.11aa84","type":"inject","z":"a941cad7.5549a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":80,"wires":[["5aa1ff39.aa77b"]]},{"id":"5aa1ff39.aa77b","type":"change","z":"a941cad7.5549a8","name":"Verisore config","rules":[{"t":"set","p":"vsure-user","pt":"global","to":"henols@googlemail.com","tot":"str"},{"t":"set","p":"vsure-password","pt":"global","to":"F331g00d@12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":80,"wires":[["92e6d2fe.d027d"]]},{"id":"92e6d2fe.d027d","type":"debug","z":"a941cad7.5549a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":80,"wires":[]},{"id":"bafc810b.84369","type":"template","z":"a941cad7.5549a8","name":"Vsure SmartPlug params","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-c /home/pi/.node-red/vsure.cookie {{global.vsure-user}} {{global.vsure-password}} set smartplug '{{deviceId}}' {{state}} ","output":"str","x":150,"y":280,"wires":[["6a7f2ee6.999a5"]]},{"id":"6a7f2ee6.999a5","type":"exec","z":"a941cad7.5549a8","command":"vsure","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Vsure cmd","x":390,"y":280,"wires":[["2123c931.d44d86"],[],[]]},{"id":"52104295.a4c52c","type":"change","z":"a941cad7.5549a8","name":"Translate to Vsure state","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"on","tot":"str"},{"t":"set","p":"deviceId","pt":"msg","to":"$split(msg.topic, '/', 2)[1]\t","tot":"jsonata"},{"t":"move","p":"payload","pt":"msg","to":"state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":180,"wires":[["bafc810b.84369","920f6dd5.6d276"]]},{"id":"2123c931.d44d86","type":"switch","z":"a941cad7.5549a8","name":"Test return code","property":"rc.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":280,"wires":[["de0ccea8.f7421","aec062f7.3bbcc","50ca598e.1b05b8"]]},{"id":"de0ccea8.f7421","type":"template","z":"a941cad7.5549a8","name":"SmartPlug state request","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-c /home/pi/.node-red/vsure.cookie {{global.vsure-user}} {{global.vsure-password}} overview ","output":"str","x":150,"y":380,"wires":[["5c36b057.ec0c"]]},{"id":"dfc88add.6e1fb8","type":"template","z":"a941cad7.5549a8","name":"SmartPlug topic","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"smartplug/{{deviceId}}/state","output":"str","x":580,"y":480,"wires":[["be251df2.cc42a","c92b14c7.75ef38"]]},{"id":"be251df2.cc42a","type":"mqtt out","z":"a941cad7.5549a8","name":"SmartPlug state","topic":"","qos":"1","retain":"true","broker":"fee7a4df.4347c8","x":1260,"y":480,"wires":[]},{"id":"920f6dd5.6d276","type":"debug","z":"a941cad7.5549a8","name":"SmartPlug request","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":180,"wires":[]},{"id":"c92b14c7.75ef38","type":"debug","z":"a941cad7.5549a8","name":"SmartPlug state","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":880,"y":520,"wires":[]},{"id":"aec062f7.3bbcc","type":"debug","z":"a941cad7.5549a8","name":"SmartPlug cmd response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":280,"wires":[]},{"id":"c163aec6.73c9f","type":"mqtt in","z":"2e500814.3e3ca8","name":"Temperature","topic":"+/temperature/#","qos":"2","broker":"fee7a4df.4347c8","x":130,"y":120,"wires":[["2cdd74a1.00602c"]]},{"id":"9a41919.0a54d7","type":"mqtt in","z":"2e500814.3e3ca8","name":"Energy Consumption","topic":"+/powermeter/#","qos":"2","broker":"fee7a4df.4347c8","x":160,"y":60,"wires":[["2cdd74a1.00602c"]]},{"id":"274c95df.ef402a","type":"function","z":"2e500814.3e3ca8","name":"Topic for Influx","func":"place = msg.topic.substring(0,msg.topic.indexOf('/'));\ntype = msg.topic.substring(msg.topic.lastIndexOf('/')+1);\nmsg.measurement = type+\"_\"+place;\nvalue = msg.payload.value;\nmsg.payload = value;\nreturn msg;","outputs":"1","noerr":0,"x":560,"y":100,"wires":[["7fd0cc20.815b74","c362ddf4.4ddc2"]]},{"id":"a6567e13.2a8be","type":"mqtt in","z":"2e500814.3e3ca8","name":"ESP Lua Temperature","topic":"temperature/#","qos":"2","broker":"fee7a4df.4347c8","x":160,"y":180,"wires":[["401ef373.1c4a8c"]]},{"id":"401ef373.1c4a8c","type":"function","z":"2e500814.3e3ca8","name":"Esp temp Topic for Influx","func":"place = \"esp-lua\";\ntype = msg.topic.substring(msg.topic.lastIndexOf('/')+1);\nmsg.measurement = type+\"_\"+place;\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":"1","noerr":0,"x":510,"y":180,"wires":[["c362ddf4.4ddc2","d5a0a373.23d9"]]},{"id":"c362ddf4.4ddc2","type":"influxdb out","z":"2e500814.3e3ca8","influxdb":"e99fb9cd.962498","name":"Influx House news","measurement":"","precision":"","retentionPolicy":"","x":910,"y":160,"wires":[]},{"id":"cfedede4.78ff1","type":"inject","z":"ea0c1405.b63778","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":150,"y":60,"wires":[["ecae4c83.19bc3"]]},{"id":"ecae4c83.19bc3","type":"change","z":"ea0c1405.b63778","name":"Room mappings","rules":[{"t":"set","p":"devices","pt":"global","to":"{\"corner lamp vsure\":\"smartplug/2A7B 43NZ/output\",\"plant vsure\":\"smartplug/2A5E 4DRD/output\",\"bookshelf xiami\":\"smartplug/158d00016cfb49/output\",\"corner lamp\":\"smartplug/65537/output\",\"plant\":\"smartplug/65539/output\",\"tv lamp\":\"smartplug/65542/output\",\"fire lamp\":\"smartplug/65562/output\",\"bookshelf\":\"smartplug/65538/output\",\"feather lamp\":\"yeelight/feather lamp/output\",\"tv room lamp\":\"yeelight/tv room lamp/output\",\"ball thread\":\"zigbee2mqtt/ball thread/output\",\"leia tv lamp\":\"zigbee2mqtt/leia tv lamp/output\"}","tot":"json"},{"t":"set","p":"groups","pt":"global","to":"{\"livingroom lights\":[\"plant\",\"corner lamp\",\"bookshelf\",\"feather lamp\"],\"tv room lights\":[\"fire lamp_\",\"tv lamp\",\"tv room lamp\"],\"leias room lights\":[\"ball thread\",\"leias tv lamp\"]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":60,"wires":[[]]},{"id":"a21e558.c502ca8","type":"function","z":"ea0c1405.b63778","name":"Group matcher","func":"var first = msg.topic.indexOf('/');\nvar last = msg.topic.lastIndexOf('/');\n\nvar name = msg.topic.substring(first + 1, last);\nvar group = global.get('groups')[name];\n\nif (typeof group !== 'undefined'){\n    var outputMsgs = [];\n    for(var g in group) {\n        var localMsg = Object.assign({},msg);\n        localMsg.topic = \"device/\" + group[g] + '/output';\n        outputMsgs.push(localMsg);\n    }\n    var stateMsg = Object.assign({},msg);\n    stateMsg.topic = \"device/\" + name + '/state';\n    stateMsg.retain = true;\n    return [ outputMsgs, stateMsg ];\n} \n\nvar device = global.get('devices')[name];\nif (typeof device !== 'undefined'){\n    msg.topic = device;\n    stateMsg = Object.assign({},msg);\n    stateMsg.topic = \"device/\" + name + '/state';\n    stateMsg.retain = true;\n    return [msg, stateMsg];\n} \n\nnode.warn('Group or device ' + name + ' not found');","outputs":2,"noerr":0,"x":400,"y":140,"wires":[["8abb278f.6aef98"],["a65f7e73.1d49d"]]},{"id":"403b74bc.2185dc","type":"debug","z":"ea0c1405.b63778","name":"Group/device state","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":220,"wires":[]},{"id":"feae5e84.8503b","type":"mqtt in","z":"ea0c1405.b63778","name":"Group listener","topic":"device/+/output","qos":"1","datatype":"auto","broker":"fee7a4df.4347c8","x":150,"y":140,"wires":[["a21e558.c502ca8"]]},{"id":"cc31ebf5.0aded8","type":"mqtt out","z":"ea0c1405.b63778","name":"","topic":"","qos":"1","retain":"","broker":"fee7a4df.4347c8","x":910,"y":120,"wires":[]},{"id":"33d61784.dec898","type":"function","z":"ea0c1405.b63778","name":"Alexa translation","func":"if(msg.on_off_command){\n    msg.topic = \"device/\"+msg.device_name + '/output';\n    return msg;\n}","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["a21e558.c502ca8"]]},{"id":"ab321a97.5a1de8","type":"change","z":"2f9a8b5.0ac1174","name":"Translate payload to internal state 0/1","rules":[{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"On","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Off","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":100,"wires":[[]]},{"id":"f6c7a381.7218","type":"yeelight-compat-hue-out","z":"28a17c07.58fdd4","name":"","server":"752a224d.b803ac","x":870,"y":160,"wires":[]},{"id":"33f741dc.3637ae","type":"yeelight-compat-hue-state","z":"28a17c07.58fdd4","name":"Feather lamp","server":"752a224d.b803ac","x":870,"y":220,"wires":[["8327528e.436eb"]]},{"id":"65bb5e3.fc53ba","type":"debug","z":"28a17c07.58fdd4","name":"Fether lamp controle","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":900,"y":120,"wires":[]},{"id":"39efd3df.61573c","type":"inject","z":"28a17c07.58fdd4","name":"On","topic":"yeelight/feather lamp/output","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["46180e4b.ced84"]]},{"id":"1940bc49.d0ad84","type":"delay","z":"fcdc4e42.52247","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":240,"wires":[[]]},{"id":"6beda369.75156c","type":"mqtt in","z":"28a17c07.58fdd4","name":"Feather lamp","topic":"yeelight/feather lamp/output","qos":"1","datatype":"auto","broker":"fee7a4df.4347c8","x":130,"y":160,"wires":[["46180e4b.ced84"]]},{"id":"b385d08f.f1e46","type":"change","z":"fcdc4e42.52247","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"},{"t":"set","p":"name","pt":"msg","to":"$split(topic, '/')[1]\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":160,"wires":[["b013dfa.4bf062","1940bc49.d0ad84"]]},{"id":"b013dfa.4bf062","type":"template","z":"fcdc4e42.52247","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"on\": {{payload}},\n    \"duration\": 5000\n}\n","output":"json","x":660,"y":160,"wires":[[]]},{"id":"2aa41fc5.ff4e4","type":"inject","z":"28a17c07.58fdd4","name":"Off","topic":"yeelight/feather lamp/output","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["46180e4b.ced84"]]},{"id":"46180e4b.ced84","type":"subflow:fcdc4e42.52247","z":"28a17c07.58fdd4","name":"Yeeleight controle","env":[],"x":570,"y":160,"wires":[["f6c7a381.7218","65bb5e3.fc53ba"],["33f741dc.3637ae"]]},{"id":"5c36b057.ec0c","type":"exec","z":"a941cad7.5549a8","command":"vsure","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Vsure cmd","x":390,"y":380,"wires":[["d6b09e7d.007a7"],[],[]]},{"id":"d6b09e7d.007a7","type":"json","z":"a941cad7.5549a8","name":"","property":"payload","action":"","pretty":false,"x":630,"y":380,"wires":[["77c83658.17d6b8"]]},{"id":"77c83658.17d6b8","type":"function","z":"a941cad7.5549a8","name":"Translate smartplugs state","func":"var smartPlugs = msg.payload.smartPlugs;\n\nvar outputMsgs = [];\nfor(var i in smartPlugs) {\n    var localMsg = Object.assign({},msg);\n    localMsg.deviceId = smartPlugs[i].deviceLabel;\n    localMsg.payload = smartPlugs[i].currentState;\n    localMsg.sumsum = smartPlugs[i];\n    outputMsgs.push(localMsg);\n}\nreturn [ outputMsgs ];\n","outputs":1,"noerr":0,"x":860,"y":380,"wires":[["19b3b8d0.f315d7"]]},{"id":"6bd7cef3.8ac1a","type":"mqtt out","z":"8f2bcdc5.cc23e","name":"","topic":"","qos":"1","retain":"","broker":"fee7a4df.4347c8","x":1110,"y":220,"wires":[]},{"id":"b3b1fb6.636fe08","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch on, every day at 18:30","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"30 18 * * *","once":false,"onceDelay":"","x":230,"y":460,"wires":[[]]},{"id":"86048eb.ea7cd7","type":"change","z":"8f2bcdc5.cc23e","name":"Add livingroom topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"device/livingroom lights/output","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":260,"wires":[["6bd7cef3.8ac1a"]]},{"id":"94bfe3b6.76bb3","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, weekdays at 8","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 08 * * 1,2,3,4,5","once":false,"onceDelay":"","x":220,"y":80,"wires":[["16f2bffe.63309"]]},{"id":"813983ec.87ebf","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch on, weekdays at 6","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 06 * * 1,2,3,4,5","once":false,"onceDelay":"","x":220,"y":120,"wires":[["16f2bffe.63309"]]},{"id":"6877d0b5.d66a2","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch on, weekends at 8","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 06 * * 6,0","once":false,"onceDelay":"","x":220,"y":160,"wires":[["16f2bffe.63309"]]},{"id":"3cfa7e2d.3702f2","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, Sat Fri days at 23:30","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"30 23 * * 5,6","once":false,"onceDelay":"","x":240,"y":320,"wires":[["16f2bffe.63309"]]},{"id":"d8c1cf87.ade18","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, Sun-Thu at 22:20","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"20 22 * * 1,2,3,4,0","once":false,"onceDelay":"","x":230,"y":360,"wires":[["16f2bffe.63309"]]},{"id":"1c846f2c.d3a301","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, weekends at 10:10","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"10 10 * * 6,0","once":false,"onceDelay":"","x":230,"y":280,"wires":[["16f2bffe.63309"]]},{"id":"a65f7e73.1d49d","type":"subflow:2f9a8b5.0ac1174","z":"ea0c1405.b63778","name":"","env":[],"x":670,"y":180,"wires":[["cc31ebf5.0aded8","403b74bc.2185dc"]]},{"id":"8abb278f.6aef98","type":"subflow:2f9a8b5.0ac1174","z":"ea0c1405.b63778","name":"","x":670,"y":120,"wires":[["cc31ebf5.0aded8"]]},{"id":"19b3b8d0.f315d7","type":"subflow:2f9a8b5.0ac1174","z":"a941cad7.5549a8","name":"","env":[],"x":350,"y":480,"wires":[["dfc88add.6e1fb8"]]},{"id":"c6ef97c7.fa46f8","type":"yeelight-compat-hue-out","z":"28a17c07.58fdd4","name":"","server":"96669935.059368","x":880,"y":400,"wires":[]},{"id":"b9d09734.bded18","type":"yeelight-compat-hue-state","z":"28a17c07.58fdd4","name":"Tvroom lamp","server":"96669935.059368","x":880,"y":460,"wires":[["f013d3b.e7c463"]]},{"id":"2f7638a1.629988","type":"debug","z":"28a17c07.58fdd4","name":"Tv room lamp controle","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":900,"y":360,"wires":[]},{"id":"6f3e09f3.c29c68","type":"inject","z":"28a17c07.58fdd4","name":"On","topic":"yeelight/corner lamp/output","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":460,"wires":[["62fa9ff4.89a5e"]]},{"id":"8b0f2197.0352d","type":"function","z":"28a17c07.58fdd4","name":"Build state","func":"if(typeof msg.name !== 'undefined') {\n    msg.payload = msg.payload.state.on ? 1 : 0;\n    msg.topic = 'yeelight/' + msg.name + '/state'\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":910,"y":680,"wires":[["80937aa3.3d29d8","f3db5623.71a958"]]},{"id":"ca52345c.fc89c8","type":"mqtt in","z":"28a17c07.58fdd4","name":"Tv room lamp","topic":"yeelight/tv room lamp/output","qos":"1","datatype":"auto","broker":"fee7a4df.4347c8","x":130,"y":400,"wires":[["62fa9ff4.89a5e"]]},{"id":"1b9ff8b6.69fbc7","type":"inject","z":"28a17c07.58fdd4","name":"Off","topic":"yeelight/corner lamp/output","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":520,"wires":[["62fa9ff4.89a5e"]]},{"id":"80937aa3.3d29d8","type":"mqtt out","z":"28a17c07.58fdd4","name":"","topic":"","qos":"1","retain":"true","broker":"fee7a4df.4347c8","x":1150,"y":680,"wires":[]},{"id":"62fa9ff4.89a5e","type":"subflow:fcdc4e42.52247","z":"28a17c07.58fdd4","name":"Yeeleight controle","env":[],"x":570,"y":400,"wires":[["c6ef97c7.fa46f8","2f7638a1.629988"],["b9d09734.bded18"]]},{"id":"f3db5623.71a958","type":"debug","z":"28a17c07.58fdd4","name":"Yeelihgt state","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1180,"y":740,"wires":[]},{"id":"50ca598e.1b05b8","type":"change","z":"a941cad7.5549a8","name":"Expected state","rules":[{"t":"move","p":"state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":320,"wires":[["19b3b8d0.f315d7"]]},{"id":"af58690d.ab27b8","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch on, every day at 16:00","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 16 * * *","once":false,"onceDelay":"","x":230,"y":200,"wires":[["16f2bffe.63309"]]},{"id":"7c156313.e1da0c","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, Sat Fri days at 23:30","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"30 23 * * 5,6","once":false,"onceDelay":"","x":240,"y":520,"wires":[[]]},{"id":"56ceadf2.b9e184","type":"inject","z":"8f2bcdc5.cc23e","name":"Switch off, Sun-Thu ar 22:20","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"20 22 * * 1,2,3,4,0","once":false,"onceDelay":"","x":230,"y":560,"wires":[[]]},{"id":"d0ddd4d0.eee2d8","type":"function","z":"792fa8ec.b28a38","name":"Temperature messages Fbg","func":"var fbg = global.get('fbg');\nif(typeof fbg === 'undefined'){\n fbg = Object.assign({});\n global.set('fbg',fbg);\n}\n\nif(msg.topic.indexOf('28FF76E6021703D6') >= 0){\n\tfbg.place = 'Radhuset';\n\tvar temp = parseFloat(msg.payload);\n\tfbg.lastTemp = temp;\n\t\n\t if(typeof fbg.minTemp === 'undefined' || temp < fbg.minTemp){\n\t\tfbg.minTemp = temp;\n\t\tfbg.minStamp = Date.now();\n\t}\n\tif(typeof fbg.maxTemp === 'undefined' || temp > fbg.maxTemp){\n\t\tfbg.maxTemp = temp;\n\t\tfbg.maxStamp = Date.now();\n\t}\n\t\n\tfbg.time = formatTime(fbg.maxStamp);\n\t\n\tif(typeof fbg.totalTemp === 'undefined'){\n\t\tfbg.totalTemp = 0;\n\t}\n\tif(typeof fbg.numberOfTempVals === 'undefined'){\n\t\tfbg.numberOfTempVals = 0;\n\t}\n\t\n\tfbg.totalTemp += temp;\n\tfbg.numberOfTempVals++;\n\t\n} else \n if(msg.topic == 'tweet_temp'){\n\tif(msg.payload == 'now'){\n\t\t// The temperature are 2.81°C at 12:00. #temperature #smarthome\n\t\tmsg.payload = fbg.place + ' The temperature are '+ fbg.lastTemp + '°C at ' + formatTime(Date.now()) +'. #temperature #smarthome';\n\t\treturn msg;\n\t\n\t} else if(msg.payload == 'summary'){\n\t\tvar average = (Math.round((fbg.totalTemp / fbg.numberOfTempVals) * 100 ) / 100);\n\t\t //Last day's temperatures: average:2.23°C, max:3.0°C at 13:04, min:1.63°C at 07:29. #temperature #smarthome\n\t\tmsg.payload = fbg.place + ' Last day\\'s temperatures: average:'+ average + '°C, max:' + fbg.maxTemp +'°C at ' + formatTime(fbg.maxStamp) +\n\t\t', min:' + fbg.minTemp+'°C at ' + formatTime(fbg.minStamp) +'. #temperature #smarthome';\n\t\tfbg.totalTemp = 0;\n\t\tfbg.numberOfTempVals = 0;\n\t\tfbg.minTemp = 100;\n\t\tfbg.maxTemp = -100;\n\t\treturn msg;\n\t}\n}\n\nfunction formatTime(millis){\n\tvar d = new Date(millis);\n\treturn (\"00\" + d.getHours()).slice(-2) + \":\" +   (\"00\" + d.getMinutes()).slice(-2);\n}\n\n","outputs":1,"noerr":0,"x":880,"y":540,"wires":[["dec1351.f374cc8","b45b4e29.ffdb1"]]},{"id":"2bda893d.70e8c6","type":"debug","z":"792fa8ec.b28a38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":820,"wires":[]},{"id":"5e5b369b.8d77d8","type":"json","z":"792fa8ec.b28a38","name":"","property":"payload","action":"","pretty":false,"x":310,"y":680,"wires":[["eb46fb24.82e358","2bda893d.70e8c6"]]},{"id":"351c86d5.3e27ca","type":"json","z":"792fa8ec.b28a38","name":"","property":"payload","action":"","pretty":false,"x":470,"y":180,"wires":[["21be3f51.c23c2","d3a955.ef8e86a8","8bae1c6d.93eee"]]},{"id":"8fcea5ae.18f8b8","type":"function","z":"6bd20862.85df28","name":"All lights off","func":"var output = [];\n\n// loop through the groups\nfor (var i=0; i<msg.payload.length; i++) {\n    // loop through each bulb in the group\n    for (var j=0; j<msg.payload[i].devices.length; j++) {\n        if (msg.payload[i].devices[j].type.indexOf(\"control outlet\")!==-1) {\n            output.push({\"topic\": \"tradfri\", \"payload\": { \"tradfri_id\": msg.payload[i].devices[j].id, \"type\": msg.payload[i].devices[j].type, \"state\": \"off\"}});\n        }\n    }\n}\n\nreturn [output];","outputs":1,"noerr":0,"x":590,"y":220,"wires":[["a05ec185.98407","2aa8e328.7ffbac"]]},{"id":"ac87d080.1ecc9","type":"inject","z":"6bd20862.85df28","name":"","topic":"","payload":"a","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":220,"wires":[["ba9f1da1.8f861","2aa8e328.7ffbac"]]},{"id":"5c563e39.70047","type":"function","z":"6bd20862.85df28","name":"Dim all lights","func":"var output = [];\n\n// loop through the groups\nfor (var i=0; i<msg.payload.length; i++) {\n    // loop through each bulb in the group\n    for (var j=0; j<msg.payload[i].devices.length; j++) {\n        if (msg.payload[i].devices[j].type.indexOf(\"bulb\")!==-1) {\n            if (msg.payload[i].devices[j].on) {\n                output.push({\"topic\": \"tradfri\", \"payload\": { \"tradfri_id\": msg.payload[i].devices[j].id, \"type\": msg.payload[i].devices[j].type, \"state\": \"on\", \"brightness\": 100}});\n            }\n        }\n    }\n}\nreturn [output];","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["8afdc887.242a88"]]},{"id":"f5d8973c.e30588","type":"change","z":"6bd20862.85df28","name":"Full brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\":255,\"color\":\"normal\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":540,"wires":[["c07d12d4.27614","ac0ad5c6.8f2c48"]]},{"id":"c07d12d4.27614","type":"delay","z":"6bd20862.85df28","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":580,"wires":[["3d60be12.4ce172"]]},{"id":"3d60be12.4ce172","type":"change","z":"6bd20862.85df28","name":"Half brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\":128,\"color\":\"normal\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":620,"wires":[["2dd0117e.ad6d7e","ac0ad5c6.8f2c48"]]},{"id":"5eb65b47.f85ba4","type":"change","z":"6bd20862.85df28","name":"Full brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"brightness\":255,\"color\":\"normal\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":700,"wires":[["979f68ef.f18a68","ac0ad5c6.8f2c48"]]},{"id":"cd8b9d5c.ed084","type":"change","z":"6bd20862.85df28","name":"Turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":780,"wires":[["ac0ad5c6.8f2c48"]]},{"id":"2dd0117e.ad6d7e","type":"delay","z":"6bd20862.85df28","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":660,"wires":[["5eb65b47.f85ba4"]]},{"id":"979f68ef.f18a68","type":"delay","z":"6bd20862.85df28","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":740,"wires":[["cd8b9d5c.ed084"]]},{"id":"876ea18f.bea9","type":"comment","z":"6bd20862.85df28","name":"All lights off","info":"Cycle through all the Tradfri lights, and turn them off","x":190,"y":180,"wires":[]},{"id":"8da33ce4.aae58","type":"function","z":"6bd20862.85df28","name":"All lights on","func":"var output = [];\n\n// loop through the groups\nfor (var i=0; i<msg.payload.length; i++) {\n    // loop through each bulb in the group\n    for (var j=0; j<msg.payload[i].devices.length; j++) {\n        if (msg.payload[i].devices[j].type.indexOf(\"control outlet\")!==-1) {\n            // output.push({\"topic\": \"tradfri\", \"payload\": { \"tradfri_id\": msg.payload[i].devices[j].id, \"type\": msg.payload[i].devices[j].type, \"state\": \"on\", \"brightness\": 255, \"color\": \"normal\"}});\n            output.push({\"topic\": \"tradfri\", \"payload\": { \"tradfri_id\": msg.payload[i].devices[j].id, \"type\": msg.payload[i].devices[j].type, \"state\": \"on\"}});\n        }\n    }\n}\n\nreturn [output];","outputs":1,"noerr":0,"x":590,"y":320,"wires":[["e83f77c6.ec2788","2aa8e328.7ffbac"]]},{"id":"d1947bb6.e232b8","type":"comment","z":"6bd20862.85df28","name":"All lights on","info":"Cycle through all the Tradfri lights, \nand turn them on at full brightness","x":190,"y":280,"wires":[]},{"id":"d099ea3.70e6118","type":"comment","z":"6bd20862.85df28","name":"Twilight mode","info":"Cycle through all the Tradfri lights, \nand what is on, reduce to 50% brightness","x":187.00000762939453,"y":374.00000762939453,"wires":[]},{"id":"9085ba98.9fddc8","type":"inject","z":"6bd20862.85df28","name":"","topic":"","payload":"a","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":320,"wires":[["26240d9a.9d5522"]]},{"id":"5c3d2d84.065184","type":"inject","z":"6bd20862.85df28","name":"","topic":"","payload":"a","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":420,"wires":[["1256411e.c7e85f"]]},{"id":"e9a94681.27ea68","type":"comment","z":"6bd20862.85df28","name":"Notification light","info":"Send a light pattern to a light to indicate\na particular action (e.g. email is received)","x":220,"y":500,"wires":[]},{"id":"1fa93c07.195be4","type":"comment","z":"6bd20862.85df28","name":"Wake up light","info":"Slowly increase the brightness of a bulb","x":230,"y":840,"wires":[]},{"id":"4a768d79.a2a364","type":"function","z":"6bd20862.85df28","name":"Wake up light","func":"// Get the state value from last time\nvar state = context.get(\"state\");\nif (state===undefined) {\n    state = false;\n    context.set(\"state\",state);\n}\n// the counter counts upto full brightness \nvar counter = context.get(\"counter\");\nif (counter===undefined) {\n    counter = 0;\n    context.set(\"counter\",counter);\n}\nif (msg.topic===\"timecheck\") {\n    if (state) {\n        counter++;\n        //msg.payload.state=\"on\";\n        //msg.payload.color=\"warm\";\n        msg.payload = {\"brightness\" : Math.floor(counter/30*255)};\n        node.status({fill:\"blue\",shape:\"ring\",text:\"state: \"+state+\", counter: \"+counter});\n        context.set(\"counter\",counter);\n        return msg;\n    }\n} else {\n    if (msg.payload===\"start\") {\n        state = true;\n        counter = 0;\n        context.set(\"state\",state);\n        context.set(\"counter\",counter);\n        node.status({fill:\"blue\",shape:\"ring\",text:\"state: \"+state+\", counter: \"+counter});\n    }\n    if (msg.payload===\"off\") {\n        state = false;\n        counter = 0;\n        context.set(\"state\",state);\n        context.set(\"counter\",counter);\n        msg.payload=\"off\";\n        node.status({fill:\"blue\",shape:\"ring\",text:\"state: \"+state+\", counter: \"+counter});\n        return msg;\n    }\n}\n\n\n\n","outputs":1,"noerr":0,"x":760,"y":920,"wires":[["6cd5a58c.10ab3c"]]},{"id":"561e4a2.779c5b4","type":"inject","z":"6bd20862.85df28","name":"","topic":"timecheck","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"","x":530,"y":1000,"wires":[["4a768d79.a2a364"]]},{"id":"ac0ad5c6.8f2c48","type":"link out","z":"6bd20862.85df28","name":"","links":["16954595.cb27ca"],"x":815,"y":540,"wires":[]},{"id":"6cd5a58c.10ab3c","type":"link out","z":"6bd20862.85df28","name":"","links":["505ec51a.830e6c"],"x":955,"y":920,"wires":[]},{"id":"8afdc887.242a88","type":"link out","z":"6bd20862.85df28","name":"","links":["301faeb8.12f4b2","ec21d3fe.d2d9f"],"x":755,"y":420,"wires":[]},{"id":"e83f77c6.ec2788","type":"link out","z":"6bd20862.85df28","name":"","links":["301faeb8.12f4b2","ec21d3fe.d2d9f"],"x":755,"y":320,"wires":[]},{"id":"a05ec185.98407","type":"link out","z":"6bd20862.85df28","name":"","links":["301faeb8.12f4b2"],"x":755,"y":220,"wires":[]},{"id":"3f9b4f98.a93cf","type":"comment","z":"6bd20862.85df28","name":"Away time","info":"Turn off a light automatically at a set time","x":220,"y":1120,"wires":[]},{"id":"4e29c0b6.cce8d","type":"switch","z":"6bd20862.85df28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":1220,"wires":[["ae400718.1c7ea8"]]},{"id":"ae400718.1c7ea8","type":"change","z":"6bd20862.85df28","name":"Turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1220,"wires":[["9572ceea.a17fd"]]},{"id":"9572ceea.a17fd","type":"link out","z":"6bd20862.85df28","name":"","links":[],"x":1035,"y":1220,"wires":[]},{"id":"cb137be0.784bc8","type":"comment","z":"6bd20862.85df28","name":"Garden lights","info":"Turn bulbs on at a set time and \nturn them off at a later time ","x":230,"y":1400,"wires":[]},{"id":"e0d30375.2e95","type":"link out","z":"6bd20862.85df28","name":"","links":["16954595.cb27ca","505ec51a.830e6c"],"x":915,"y":1460,"wires":[]},{"id":"a09e73a2.74b5","type":"comment","z":"6bd20862.85df28","name":"Burgler light","info":"Cycle bulb randomly","x":210,"y":1680,"wires":[]},{"id":"effd8369.0d53","type":"delay","z":"6bd20862.85df28","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"15","randomLast":"20","randomUnits":"minutes","drop":false,"x":1080,"y":1800,"wires":[["b18eb644.0f2798"]]},{"id":"451c94a4.b3b54c","type":"switch","z":"6bd20862.85df28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"end","vt":"str"}],"checkall":"true","outputs":2,"x":690,"y":1720,"wires":[["b34e3a33.aba2f8"],["fd7b4e66.0e03"]]},{"id":"b34e3a33.aba2f8","type":"change","z":"6bd20862.85df28","name":"Turn on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1760,"wires":[["effd8369.0d53","431ff5f7.efc8fc"]]},{"id":"bc8e7fc.289be8","type":"change","z":"6bd20862.85df28","name":"Turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1860,"wires":[["431ff5f7.efc8fc","b2a9bedc.e4b33"]]},{"id":"431ff5f7.efc8fc","type":"link out","z":"6bd20862.85df28","name":"","links":["16954595.cb27ca"],"x":1355,"y":1760,"wires":[]},{"id":"cf209310.202a6","type":"link out","z":"6bd20862.85df28","name":"","links":["505ec51a.830e6c"],"x":1335,"y":1900,"wires":[]},{"id":"c5115692.97db28","type":"change","z":"6bd20862.85df28","name":"Turn on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1900,"wires":[["cf209310.202a6","24dcd45e.b54cfc"]]},{"id":"24dcd45e.b54cfc","type":"delay","z":"6bd20862.85df28","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"15","randomLast":"20","randomUnits":"minutes","drop":false,"x":1080,"y":1940,"wires":[["dab903b3.615c2"]]},{"id":"eaa24216.f4be2","type":"change","z":"6bd20862.85df28","name":"Turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2000,"wires":[["cf209310.202a6","6d6cc8be.8129c8"]]},{"id":"fd7b4e66.0e03","type":"change","z":"6bd20862.85df28","name":"Turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2060,"wires":[["431ff5f7.efc8fc","cf209310.202a6"]]},{"id":"ce3a49b3.f861d8","type":"inject","z":"6bd20862.85df28","name":"Manual","topic":"","payload":"manual","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":940,"wires":[["69ac27a8.5c5a38"]]},{"id":"ce99f7fb.e33978","type":"inject","z":"6bd20862.85df28","name":"Auto","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":900,"wires":[["69ac27a8.5c5a38"]]},{"id":"fd026dfb.46a53","type":"inject","z":"6bd20862.85df28","name":"Test: On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":280,"y":980,"wires":[["69ac27a8.5c5a38"]]},{"id":"6d6cc8be.8129c8","type":"function","z":"6bd20862.85df28","name":"Stop cycle?","func":"var state = context.get(\"state\");\nif (state===undefined) {\n    state = false;\n}\nswitch (msg.payload) {\n    case \"start\":\n        state = true;\n        context.set(\"state\",state);\n        break;\n    case \"end\":\n        state = false;\n        context.set(\"state\",state);\n        break;\n    default:\n        if (state) {\n            return msg;\n        }\n}\n","outputs":1,"noerr":0,"x":910,"y":1760,"wires":[["b34e3a33.aba2f8"]]},{"id":"b18eb644.0f2798","type":"function","z":"6bd20862.85df28","name":"Stop cycle?","func":"var state = context.get(\"state\");\nif (state===undefined) {\n    state = false;\n}\nswitch (msg.payload) {\n    case \"start\":\n        state = true;\n        context.set(\"state\",state);\n        break;\n    case \"end\":\n        state = false;\n        context.set(\"state\",state);\n        break;\n    default:\n        if (state) {\n            return msg;\n        }\n}\n","outputs":1,"noerr":0,"x":930,"y":1860,"wires":[["bc8e7fc.289be8"]]},{"id":"b2a9bedc.e4b33","type":"function","z":"6bd20862.85df28","name":"Stop cycle?","func":"var state = context.get(\"state\");\nif (state===undefined) {\n    state = false;\n}\nswitch (msg.payload) {\n    case \"start\":\n        state = true;\n        context.set(\"state\",state);\n        break;\n    case \"end\":\n        state = false;\n        context.set(\"state\",state);\n        break;\n    default:\n        if (state) {\n            return msg;\n        }\n}\n","outputs":1,"noerr":0,"x":930,"y":1900,"wires":[["c5115692.97db28"]]},{"id":"dab903b3.615c2","type":"function","z":"6bd20862.85df28","name":"Stop cycle?","func":"var state = context.get(\"state\");\nif (state===undefined) {\n    state = false;\n}\nswitch (msg.payload) {\n    case \"start\":\n        state = true;\n        context.set(\"state\",state);\n        break;\n    case \"end\":\n        state = false;\n        context.set(\"state\",state);\n        break;\n    default:\n        if (state) {\n            return msg;\n        }\n}\n","outputs":1,"noerr":0,"x":930,"y":2000,"wires":[["eaa24216.f4be2"]]},{"id":"7e8c1c04.146724","type":"tradfri-get","z":"6bd20862.85df28","name":"","hub":"df3740cc.ec4c2","x":1360,"y":460,"wires":[["16c7ad15.4d1d73"]]},{"id":"f86da257.d7d9a","type":"inject","z":"6bd20862.85df28","name":"","topic":"","payload":"a","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":1210,"y":460,"wires":[["7e8c1c04.146724"]]},{"id":"16c7ad15.4d1d73","type":"debug","z":"6bd20862.85df28","name":"","active":false,"console":"false","complete":"false","x":1530,"y":460,"wires":[]},{"id":"75c724e8.c64f7c","type":"tradfri-out","z":"6bd20862.85df28","name":"By msg.tradfri_id","dtype":"","tradfri_id":"0","hub":"df3740cc.ec4c2","output":false,"x":1150,"y":220,"wires":[]},{"id":"301faeb8.12f4b2","type":"link in","z":"6bd20862.85df28","name":"Tradfri by ID","links":["a05ec185.98407","e83f77c6.ec2788","8afdc887.242a88"],"x":975,"y":220,"wires":[["75c724e8.c64f7c"]]},{"id":"4c1e37b6.6824d8","type":"inject","z":"6bd20862.85df28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":540,"wires":[["f5d8973c.e30588"]]},{"id":"26240d9a.9d5522","type":"tradfri-get","z":"6bd20862.85df28","name":"","hub":"df3740cc.ec4c2","x":400,"y":320,"wires":[["8da33ce4.aae58","2aa8e328.7ffbac"]]},{"id":"ba9f1da1.8f861","type":"tradfri-get","z":"6bd20862.85df28","name":"","hub":"df3740cc.ec4c2","x":400,"y":220,"wires":[["8fcea5ae.18f8b8","2aa8e328.7ffbac"]]},{"id":"1256411e.c7e85f","type":"tradfri-get","z":"6bd20862.85df28","name":"","hub":"df3740cc.ec4c2","x":400,"y":420,"wires":[["5c563e39.70047"]]},{"id":"a09cfa11.0b4898","type":"inject","z":"6bd20862.85df28","name":"Test: Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":280,"y":1020,"wires":[["69ac27a8.5c5a38"]]},{"id":"fa13c091.b831e","type":"inject","z":"6bd20862.85df28","name":"Manual","topic":"","payload":"manual","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":270,"y":1220,"wires":[["f403934a.339ba"]]},{"id":"a39501f2.90971","type":"inject","z":"6bd20862.85df28","name":"Auto","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":270,"y":1180,"wires":[["f403934a.339ba"]]},{"id":"edc95b68.b1a468","type":"inject","z":"6bd20862.85df28","name":"Test: On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":300,"y":1260,"wires":[["f403934a.339ba"]]},{"id":"b68855f1.f1c898","type":"inject","z":"6bd20862.85df28","name":"Test: Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":300,"y":1300,"wires":[["f403934a.339ba"]]},{"id":"41af3236.9a730c","type":"inject","z":"6bd20862.85df28","name":"Manual","topic":"","payload":"manual","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":1500,"wires":[["9147e19e.bbaf4"]]},{"id":"aa4a12bb.2fd3e","type":"inject","z":"6bd20862.85df28","name":"Auto","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":1460,"wires":[["9147e19e.bbaf4"]]},{"id":"625c5d14.0fb424","type":"inject","z":"6bd20862.85df28","name":"Test: On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":1500,"wires":[["9147e19e.bbaf4"]]},{"id":"ddef482c.14d7d8","type":"inject","z":"6bd20862.85df28","name":"Test: Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":300,"y":1580,"wires":[["9147e19e.bbaf4"]]},{"id":"7724bd91.b8c9c4","type":"inject","z":"6bd20862.85df28","name":"Manual","topic":"","payload":"manual","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":1780,"wires":[["fb1d7576.a52dd8"]]},{"id":"3e754ff.587e4b","type":"inject","z":"6bd20862.85df28","name":"Auto","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":1740,"wires":[["fb1d7576.a52dd8"]]},{"id":"e675c91d.7f1928","type":"inject","z":"6bd20862.85df28","name":"Test: On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":280,"y":1820,"wires":[["fb1d7576.a52dd8"]]},{"id":"5356676e.35ba88","type":"inject","z":"6bd20862.85df28","name":"Test: Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":280,"y":1860,"wires":[["fb1d7576.a52dd8"]]},{"id":"69ac27a8.5c5a38","type":"bigtimer","z":"6bd20862.85df28","outtopic":"","outpayload1":"start","outpayload2":"off","name":"Big Timer","comment":"","lat":"46.08","lon":"18.27","starttime":"360","endtime":"450","startoff":0,"endoff":0,"startoff2":"","endoff2":"","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":500,"y":920,"wires":[["4a768d79.a2a364"],[],[]]},{"id":"f403934a.339ba","type":"bigtimer","z":"6bd20862.85df28","outtopic":"","outpayload1":"off","outpayload2":"","name":"Big Timer","comment":"","lat":"46.08","lon":"18.27","starttime":"480","endtime":"900","startoff":0,"endoff":0,"startoff2":"","endoff2":"","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":520,"y":1220,"wires":[["4e29c0b6.cce8d"],[],[]]},{"id":"9147e19e.bbaf4","type":"bigtimer","z":"6bd20862.85df28","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer","comment":"","lat":"46.08","lon":"18.27","starttime":"5001","endtime":"1380","startoff":"-20","endoff":0,"startoff2":"","endoff2":"","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":520,"y":1480,"wires":[["e0d30375.2e95"],[],[]]},{"id":"fb1d7576.a52dd8","type":"bigtimer","z":"6bd20862.85df28","outtopic":"","outpayload1":"start","outpayload2":"end","name":"Big Timer","lat":"46.08","lon":"18.27","starttime":"5001","endtime":"1380","startoff":"60","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":477,"y":1780,"wires":[["451c94a4.b3b54c","6d6cc8be.8129c8","b18eb644.0f2798","b2a9bedc.e4b33","dab903b3.615c2"],[],[]]},{"id":"2aa8e328.7ffbac","type":"debug","z":"6bd20862.85df28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":340,"wires":[]},{"id":"f9f60e14.00456","type":"function","z":"6bd20862.85df28","name":"Convert to MQTT","func":"var output = [];\n\n// loop through the groups\nfor (var i=0; i<msg.payload.length; i++) {\n    // loop through each bulb in the group\n    for (var j=0; j<msg.payload[i].devices.length; j++) {\n        if (msg.payload[i].devices[j].type.indexOf(\"control outlet\")!==-1) {\n            output.push({\n                \"topic\": \"smartplug/\" + msg.payload[i].devices[j].id + \"/state\", \n                \"payload\": msg.payload[i].devices[j].on\n            });\n        }\n    }\n}\n\nreturn [output];","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["5f2fa7f2.0d7058"]]},{"id":"13c4f60a.fbc68a","type":"inject","z":"6bd20862.85df28","name":"","topic":"","payload":"a","payloadType":"str","repeat":"20","crontab":"","once":true,"onceDelay":"2","x":210,"y":120,"wires":[["464d78e8.2bf9e8"]]},{"id":"27786086.de13c","type":"comment","z":"6bd20862.85df28","name":"All lights to mqtt","info":"Cycle through all the Tradfri lights, and post broker","x":200,"y":80,"wires":[]},{"id":"464d78e8.2bf9e8","type":"tradfri-get","z":"6bd20862.85df28","name":"","hub":"df3740cc.ec4c2","x":400,"y":120,"wires":[["f9f60e14.00456","3dd85c22.b06714"]]},{"id":"77085c36.77a014","type":"mqtt out","z":"6bd20862.85df28","name":"","topic":"","qos":"1","retain":"true","broker":"fee7a4df.4347c8","x":1030,"y":120,"wires":[]},{"id":"5f2fa7f2.0d7058","type":"subflow:2f9a8b5.0ac1174","z":"6bd20862.85df28","name":"","env":[],"x":810,"y":120,"wires":[["77085c36.77a014"]]},{"id":"b8e92e87.e71c7","type":"tradfri-out","z":"a941cad7.5549a8","name":"By msg.tradfri_id","dtype":"","tradfri_id":"0","hub":"df3740cc.ec4c2","output":true,"x":490,"y":620,"wires":[]},{"id":"a5efd7b6.b61a98","type":"link out","z":"a941cad7.5549a8","name":"IKEA","links":["235dec7d.92d9d4"],"x":615,"y":240,"wires":[]},{"id":"235dec7d.92d9d4","type":"link in","z":"a941cad7.5549a8","name":"","links":["a5efd7b6.b61a98"],"x":75,"y":620,"wires":[["18915826.6ef568"]]},{"id":"18915826.6ef568","type":"change","z":"a941cad7.5549a8","name":"Translate to Tradfri state","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"on","tot":"str"},{"t":"move","p":"payload","pt":"msg","to":"payload.state","tot":"msg"},{"t":"set","p":"payload.tradfri_id","pt":"msg","to":"$number($split(msg.topic, '/', 2)[1]) ","tot":"jsonata"},{"t":"set","p":"payload.type","pt":"msg","to":"TRADFRI control outlet","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"tradfri","tot":"str"},{"t":"set","p":"tradfri_id","pt":"msg","to":"payload.tradfri_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":620,"wires":[["b8e92e87.e71c7"]]},{"id":"57a092e8.5e158c","type":"debug","z":"a941cad7.5549a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":720,"wires":[]},{"id":"3dd85c22.b06714","type":"debug","z":"6bd20862.85df28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":160,"wires":[]},{"id":"5b8ec4ba.6d117c","type":"change","z":"8f2bcdc5.cc23e","name":"Add tv room topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"device/tv room lights/output","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":180,"wires":[["6bd7cef3.8ac1a"]]},{"id":"5bd72064.20ff7","type":"inject","z":"8f2bcdc5.cc23e","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":80,"wires":[["5b8ec4ba.6d117c"]]},{"id":"db4a4883.f96bd8","type":"inject","z":"8f2bcdc5.cc23e","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":120,"wires":[["5b8ec4ba.6d117c"]]},{"id":"9681c51.9d24e38","type":"template","z":"a941cad7.5549a8","name":"SmartPlug topic","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"smartplug/{{tradfri_id}}/state","output":"str","x":420,"y":720,"wires":[["9a3a4ffd.5b90e"]]},{"id":"b2c2f5bb.9bd198","type":"subflow:2f9a8b5.0ac1174","z":"a941cad7.5549a8","name":"","env":[],"x":910,"y":720,"wires":[["be251df2.cc42a","57a092e8.5e158c"]]},{"id":"3f384f95.06597","type":"switch","z":"a941cad7.5549a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":620,"wires":[["8da5a99a.dfd248"]]},{"id":"d5d0277.4d188d8","type":"tradfri-get","z":"a941cad7.5549a8","name":"","hub":"df3740cc.ec4c2","x":200,"y":720,"wires":[["9681c51.9d24e38"]]},{"id":"8da5a99a.dfd248","type":"change","z":"a941cad7.5549a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tradfri_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":620,"wires":[["d5d0277.4d188d8"]]},{"id":"9a3a4ffd.5b90e","type":"change","z":"a941cad7.5549a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.on","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":720,"wires":[["b2c2f5bb.9bd198"]]},{"id":"16f2bffe.63309","type":"link out","z":"8f2bcdc5.cc23e","name":"","links":["167b8f26.e3d461","65adddc3.dedd64"],"x":455,"y":220,"wires":[]},{"id":"167b8f26.e3d461","type":"link in","z":"8f2bcdc5.cc23e","name":"","links":["16f2bffe.63309"],"x":675,"y":260,"wires":[["86048eb.ea7cd7"]]},{"id":"65adddc3.dedd64","type":"link in","z":"8f2bcdc5.cc23e","name":"","links":["16f2bffe.63309"],"x":675,"y":180,"wires":[["5b8ec4ba.6d117c"]]},{"id":"d5a0a373.23d9","type":"debug","z":"2e500814.3e3ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":220,"wires":[]},{"id":"7fd0cc20.815b74","type":"debug","z":"2e500814.3e3ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":80,"wires":[]},{"id":"2cdd74a1.00602c","type":"json","z":"2e500814.3e3ca8","name":"","property":"payload","action":"","pretty":false,"x":390,"y":100,"wires":[["274c95df.ef402a"]]},{"id":"70c560ec.19fd3","type":"inject","z":"28a17c07.58fdd4","name":"Yeelight state checker","topic":"","payload":"","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":"2","x":230,"y":660,"wires":[["ebed6f8c.e051b","cd509990.423108"]]},{"id":"ebed6f8c.e051b","type":"change","z":"28a17c07.58fdd4","name":"","rules":[{"t":"set","p":"name","pt":"msg","to":"tv room lamp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":460,"wires":[["b9d09734.bded18"]]},{"id":"cd509990.423108","type":"change","z":"28a17c07.58fdd4","name":"","rules":[{"t":"set","p":"name","pt":"msg","to":"feather lamp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":220,"wires":[["33f741dc.3637ae"]]},{"id":"a383fbf4.76c3d8","type":"mqtt in","z":"ea0c1405.b63778","name":"State collcetor ","topic":"+/+/state","qos":"1","datatype":"auto","broker":"fee7a4df.4347c8","x":150,"y":420,"wires":[["a113cbec.df2068"]]},{"id":"a113cbec.df2068","type":"function","z":"ea0c1405.b63778","name":"State parser","func":"var name = msg.topic;\nif(msg.topic.startsWith('device')){\n    var first = msg.topic.indexOf('/');\n    var last = msg.topic.lastIndexOf('/');\n    name = msg.topic.substring(first + 1, last );\n}\n\nvar states = global.get('states')|| {};\nstates[name] = parseInt(msg.payload);\nglobal.set('states', states);\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["e1e26fc7.02db"]]},{"id":"e1e26fc7.02db","type":"debug","z":"ea0c1405.b63778","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":420,"wires":[]},{"id":"c0f031ef.d7912","type":"link in","z":"28a17c07.58fdd4","name":"Yeelight build state","links":["f013d3b.e7c463","8327528e.436eb"],"x":675,"y":680,"wires":[["8b0f2197.0352d"]]},{"id":"f013d3b.e7c463","type":"link out","z":"28a17c07.58fdd4","name":"","links":["c0f031ef.d7912"],"x":1075,"y":460,"wires":[]},{"id":"8327528e.436eb","type":"link out","z":"28a17c07.58fdd4","name":"","links":["c0f031ef.d7912"],"x":1055,"y":160,"wires":[]},{"id":"ea26c8bc.b57218","type":"function","z":"ed8eb5c5.6a0458","name":"Format Data","func":"var groupname = flow.get('groupname');\nvar device = flow.get('device');\n\nif (typeof groupname !== undefined && typeof device !== undefined) {\n    var action = \"Adding \";\n    var what = \" to group \";\n    if(msg.payload == \"remove\") {\n        action = \"Removing \";\n        what = \" from group \";\n    }\nvar msg1 = { payload: device, topic: \"zigbee2mqtt/bridge/group/\" + groupname + \"/\" + msg.payload};\nvar msg2 = { payload: action + \" \" + device + what + groupname };\n\nreturn [msg1, msg2];\n}","outputs":2,"noerr":0,"x":770,"y":1920,"wires":[["2087fd54.66a6b2"],["553deb5e.3cc5a4"]]},{"id":"11d25fd6.8df4a","type":"ui_button","z":"ed8eb5c5.6a0458","name":"","group":"bc53e51.d24ec18","order":9,"width":"3","height":"1","passthru":false,"label":"Add to group","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Add","payloadType":"str","topic":"","x":110,"y":1900,"wires":[["3ae9e60c.9cae7a"]]},{"id":"553deb5e.3cc5a4","type":"ui_toast","z":"ed8eb5c5.6a0458","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":810,"y":1980,"wires":[]},{"id":"f074b369.45d65","type":"comment","z":"ed8eb5c5.6a0458","name":"Group management","info":"","x":130,"y":1460,"wires":[]},{"id":"66d41387.d35e3c","type":"function","z":"ed8eb5c5.6a0458","name":"Format Data","func":"var srcdev = flow.get('device');\nvar bindtarget = flow.get('bindtarget');\n\nif (typeof srcdev !== undefined && typeof bindtarget !== undefined) {\n  msg1 = { 'payload': bindtarget, 'topic': 'zigbee2mqtt/bridge/' + msg.payload + '/' + srcdev};\n  msg2 = { 'payload': msg.payload + ' ' + srcdev + ' to target ' + bindtarget };\n\n  return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":750,"y":2260,"wires":[["f27cb593.970cd8"],["19df2ff5.f76e3"]]},{"id":"d0fc3c8c.e8b21","type":"ui_button","z":"ed8eb5c5.6a0458","name":"","group":"bc53e51.d24ec18","order":13,"width":"3","height":"1","passthru":false,"label":"Bind device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Bind","payloadType":"str","topic":"","x":110,"y":2240,"wires":[["ea58569.9a7c4a8"]]},{"id":"1bc9f75c.a73ce9","type":"mqtt in","z":"ed8eb5c5.6a0458","name":"","topic":"zigbee2mqtt/#","qos":"2","datatype":"utf8","broker":"2c64fd6d.ec5432","x":110,"y":100,"wires":[["6b1df9b7.5f3a68"]]},{"id":"dd40162d.0e30a8","type":"switch","z":"ed8eb5c5.6a0458","name":"log type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"devices","vt":"str"},{"t":"eq","v":"groups","vt":"str"},{"t":"eq","v":"zigbee_publish_error","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":540,"y":540,"wires":[["9032b7ef.ef1ee8"],["286859.ee5597a8"],["f3b4d7ef.563bf8"],["b64b77f5.519de8"]]},{"id":"bacd3af8.cea4b8","type":"json","z":"ed8eb5c5.6a0458","name":"","property":"payload","action":"","pretty":false,"x":410,"y":540,"wires":[["dd40162d.0e30a8"]]},{"id":"9032b7ef.ef1ee8","type":"link out","z":"ed8eb5c5.6a0458","name":"Z2M LOG DEVICELIST","links":["88f391f7.96308","ce3492a6.b7544"],"x":695,"y":500,"wires":[]},{"id":"e34e8d93.7edd2","type":"function","z":"ed8eb5c5.6a0458","name":"Reformat for list","func":"newPayload = [];\nmsg.payload.message.forEach(function(entry) {\n    if(entry.type != 'Coordinator') {\n      newentry = {'title': entry.friendly_name, \n               'description': entry.model + ' (' + entry.ieeeAddr + ')',\n               'icon': 'https://www.zigbee2mqtt.io/images/devices/' + entry.model.replace(new RegExp('/', 'g'), '-') + '.jpg'\n      };\n      newPayload.push(newentry);\n    }\n});\n\nmsg.payload=newPayload;\nreturn msg;\n","outputs":1,"noerr":0,"x":180,"y":920,"wires":[["4b40fa42.b066b4"]]},{"id":"88f391f7.96308","type":"link in","z":"ed8eb5c5.6a0458","name":"Z2M DEV LIST INPUT","links":["9032b7ef.ef1ee8"],"x":55,"y":940,"wires":[["e34e8d93.7edd2","3151001f.00e9f"]]},{"id":"4b40fa42.b066b4","type":"ui_list","z":"ed8eb5c5.6a0458","group":"b823e4f8.8ceda8","name":"Devices","order":1,"width":"6","height":"11","lineType":"three","actionType":"click","allowHTML":true,"outputs":1,"x":340,"y":920,"wires":[["53b4b8e.0b48948"]]},{"id":"53b4b8e.0b48948","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"set","p":"device","pt":"flow","to":"payload.title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":960,"wires":[["8435b52c.424b48","7b3dd576.be3c1c","6258f8db.63e188"]]},{"id":"978bd1b4.4902b","type":"mqtt out","z":"ed8eb5c5.6a0458","name":"Generic output","topic":"","qos":"","retain":"false","broker":"2c64fd6d.ec5432","x":420,"y":160,"wires":[]},{"id":"1ecfff19.df88b1","type":"link in","z":"ed8eb5c5.6a0458","name":"Z2M GENERIC MQTT OUT","links":["2087fd54.66a6b2","458d2db0.4f1c14","b57f2204.e07bd","868d50e0.2dd2e","f27cb593.970cd8","358179bd.0faae6","40012510.b9147c","3cbc1385.336aec"],"x":55,"y":160,"wires":[["978bd1b4.4902b"]]},{"id":"2087fd54.66a6b2","type":"link out","z":"ed8eb5c5.6a0458","name":"Z2M GROUP BIND OUT","links":["1ecfff19.df88b1"],"x":875,"y":1900,"wires":[]},{"id":"3151001f.00e9f","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"set","p":"devices","pt":"flow","to":"payload.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":960,"wires":[[]]},{"id":"8435b52c.424b48","type":"function","z":"ed8eb5c5.6a0458","name":"Lookup device details","func":"devices = flow.get('devices');\n\nfor (var i in devices) {\n    if(devices[i].friendly_name == msg.payload.title) {\n        flow.set('seldevice_details', devices[i]);\n        msg.payload = devices[i];\n        return msg;\n    }\n}\n\nmsg.payload.friendly_name='unknown';\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":960,"wires":[["7d9f9a22.5fc534"]]},{"id":"1943ad59.354243","type":"function","z":"ed8eb5c5.6a0458","name":"Reformat for dropdown","func":"newPayload = [];\nmsg.payload.message.forEach(function(entry) {\n    newPayload.push(entry.friendly_name);\n});\n\nnewMsg = {'payload': flow.get('bindtarget'), 'options': newPayload};\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":200,"y":2180,"wires":[["50b01d10.3de2d4"]]},{"id":"ce3492a6.b7544","type":"link in","z":"ed8eb5c5.6a0458","name":"Z2M BIND LIST INPUT","links":["9032b7ef.ef1ee8"],"x":55,"y":2180,"wires":[["1943ad59.354243"]]},{"id":"50b01d10.3de2d4","type":"ui_dropdown","z":"ed8eb5c5.6a0458","name":"","label":"Target device","tooltip":"","place":"Select target device","group":"bc53e51.d24ec18","order":12,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":410,"y":2180,"wires":[["51b9b19f.29291"]]},{"id":"51b9b19f.29291","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"set","p":"bindtarget","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":2180,"wires":[[]]},{"id":"3de4227a.9d38ce","type":"inject","z":"ed8eb5c5.6a0458","name":"","topic":"","payload":"","payloadType":"date","repeat":"6","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1140,"wires":[["fae59ac1.738838"]]},{"id":"e552ef12.3942b","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"set","p":"bridgestate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":480,"wires":[[]]},{"id":"c300ba37.a935b8","type":"ui_button","z":"ed8eb5c5.6a0458","name":"","group":"bc53e51.d24ec18","order":10,"width":"3","height":"1","passthru":false,"label":"Remove from group","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Remove","payloadType":"str","topic":"","x":140,"y":1940,"wires":[["4a3b5570.93d61c"]]},{"id":"fc028fb4.a5908","type":"ui_button","z":"ed8eb5c5.6a0458","name":"","group":"bc53e51.d24ec18","order":14,"width":"3","height":"1","passthru":false,"label":"Unbind device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Unbind","payloadType":"str","topic":"","x":120,"y":2280,"wires":[["c83853.318897b"]]},{"id":"3ae9e60c.9cae7a","type":"template","z":"ed8eb5c5.6a0458","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> in group <b>{{flow.groupname}}</b>?","output":"str","x":320,"y":1900,"wires":[["924f02a9.b5c1d"]]},{"id":"924f02a9.b5c1d","type":"ui_toast","z":"ed8eb5c5.6a0458","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"add","cancel":"cancel","topic":"Add to group","name":"","x":470,"y":1900,"wires":[["6f9b218f.0b879"]]},{"id":"6f9b218f.0b879","type":"switch","z":"ed8eb5c5.6a0458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"add","vt":"str"},{"t":"eq","v":"remove","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":630,"y":1920,"wires":[["ea26c8bc.b57218"],["ea26c8bc.b57218"],[]]},{"id":"4a3b5570.93d61c","type":"template","z":"ed8eb5c5.6a0458","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> in group <b>{{flow.groupname}}</b>?","output":"str","x":320,"y":1940,"wires":[["f0ca1daa.e42cf"]]},{"id":"f0ca1daa.e42cf","type":"ui_toast","z":"ed8eb5c5.6a0458","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"remove","cancel":"cancel","topic":"Remove from group","name":"","x":470,"y":1940,"wires":[["6f9b218f.0b879"]]},{"id":"ea58569.9a7c4a8","type":"template","z":"ed8eb5c5.6a0458","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> to <b>{{flow.bindtarget}}</b>?","output":"str","x":280,"y":2240,"wires":[["277481b3.0f57fe"]]},{"id":"277481b3.0f57fe","type":"ui_toast","z":"ed8eb5c5.6a0458","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"bind","cancel":"cancel","topic":"Bind device","name":"","x":430,"y":2240,"wires":[["358aeaa5.9d9046"]]},{"id":"c83853.318897b","type":"template","z":"ed8eb5c5.6a0458","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> from <b>{{flow.bindtarget}}</b>?","output":"str","x":280,"y":2280,"wires":[["672b6c81.c86204"]]},{"id":"672b6c81.c86204","type":"ui_toast","z":"ed8eb5c5.6a0458","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"unbind","cancel":"cancel","topic":"Unbind device","name":"","x":430,"y":2280,"wires":[["358aeaa5.9d9046"]]},{"id":"358aeaa5.9d9046","type":"switch","z":"ed8eb5c5.6a0458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"bind","vt":"str"},{"t":"eq","v":"unbind","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":590,"y":2260,"wires":[["66d41387.d35e3c"],["66d41387.d35e3c"],[]]},{"id":"dd87a71e.6e8918","type":"ui_text_input","z":"ed8eb5c5.6a0458","name":"","label":"New device name","tooltip":"","group":"bc53e51.d24ec18","order":5,"width":"6","height":"1","passthru":true,"mode":"text","delay":"100","topic":"","x":130,"y":1860,"wires":[["83cc4151.edfe5"]]},{"id":"ccc52a49.c36258","type":"comment","z":"ed8eb5c5.6a0458","name":"Device management","info":"","x":130,"y":1740,"wires":[]},{"id":"83cc4151.edfe5","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"set","p":"newdevicename","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1860,"wires":[[]]},{"id":"1c8d0f51.25c111","type":"ui_button","z":"ed8eb5c5.6a0458","name":"","group":"bc53e51.d24ec18","order":6,"width":"6","height":"1","passthru":false,"label":"Rename device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Rename","payloadType":"str","topic":"","x":120,"y":2080,"wires":[["46840bb4.439014"]]},{"id":"46840bb4.439014","type":"template","z":"ed8eb5c5.6a0458","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> to <b>{{flow.newdevicename}}</b>?","output":"str","x":280,"y":2080,"wires":[["472af83b.007898"]]},{"id":"472af83b.007898","type":"ui_toast","z":"ed8eb5c5.6a0458","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"rename","cancel":"cancel","topic":"Rename device","name":"","x":430,"y":2080,"wires":[["26b0244f.16fddc"]]},{"id":"26b0244f.16fddc","type":"switch","z":"ed8eb5c5.6a0458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"rename","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":570,"y":2080,"wires":[["fde02dd.79fecd"],[]]},{"id":"fde02dd.79fecd","type":"function","z":"ed8eb5c5.6a0458","name":"Format Data","func":"var oldname = flow.get('device');\nvar newname = flow.get('newdevicename');\n\nif (typeof oldname !== undefined && typeof newname !== undefined) {\n  msg1 = { 'payload': {\"old\": oldname, \"new\": newname}, 'topic': 'zigbee2mqtt/bridge/config/rename'};\n  msg2 = { 'payload': msg.payload + ' ' + oldname + ' to ' + newname };\n\n  return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":730,"y":2080,"wires":[["358179bd.0faae6"],["6a628286.aefebc"]]},{"id":"6a628286.aefebc","type":"ui_toast","z":"ed8eb5c5.6a0458","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":790,"y":2140,"wires":[]},{"id":"aeeadb96.fde738","type":"switch","z":"ed8eb5c5.6a0458","name":"","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":".*/bridge/state","vt":"str","case":false},{"t":"regex","v":".*/bridge/log","vt":"str","case":false},{"t":"regex","v":".*/bridge/config$","vt":"str","case":false},{"t":"regex","v":".*/networkmap/graphviz$","vt":"str","case":false},{"t":"regex","v":".*/bridge/config/.*","vt":"str","case":false},{"t":"regex","v":"^(?!.*get$|.*set$).*$","vt":"str","case":false}],"checkall":"false","repair":false,"outputs":6,"x":230,"y":540,"wires":[["e552ef12.3942b"],["bacd3af8.cea4b8"],["f463e661.e35648"],["9965243c.a569c8"],[],["8d763a33.9f3cf8"]]},{"id":"f463e661.e35648","type":"json","z":"ed8eb5c5.6a0458","name":"","property":"payload","action":"","pretty":false,"x":410,"y":620,"wires":[["ad873bee.6ecf88"]]},{"id":"ad873bee.6ecf88","type":"link out","z":"ed8eb5c5.6a0458","name":"Z2M BRIDGE CONFIG INPUT","links":["7571f3bb.1be29c"],"x":515,"y":620,"wires":[]},{"id":"a92435e1.d86528","type":"ui_switch","z":"ed8eb5c5.6a0458","name":"","label":"Permit join","tooltip":"","group":"43254e6a.421ce","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"zigbee2mqtt/bridge/config/permit_join","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":1280,"wires":[["b57f2204.e07bd"]]},{"id":"11d380c.7b4bb7f","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"move","p":"payload.permit_join","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1280,"wires":[["a92435e1.d86528"]]},{"id":"7571f3bb.1be29c","type":"link in","z":"ed8eb5c5.6a0458","name":"Z2M BRIDGE CONFIG","links":["ad873bee.6ecf88"],"x":55,"y":1280,"wires":[["11d380c.7b4bb7f","f9b7871d.201bf8","fed6d249.d79af","2732f38e.5d00bc"]]},{"id":"c244776c.8ec968","type":"ui_dropdown","z":"ed8eb5c5.6a0458","name":"","label":"Log level","tooltip":"","place":"Select log level","group":"43254e6a.421ce","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Info","value":"info","type":"str"},{"label":"Debug","value":"debug","type":"str"},{"label":"Warn","value":"warn","type":"str"},{"label":"Error","value":"error","type":"str"}],"payload":"","topic":"zigbee2mqtt/bridge/config/log_level","x":460,"y":1320,"wires":[["b57f2204.e07bd"]]},{"id":"b57f2204.e07bd","type":"link out","z":"ed8eb5c5.6a0458","name":"Z2M BRIDGE CONFIG OUT","links":["1ecfff19.df88b1"],"x":615,"y":1300,"wires":[]},{"id":"f9b7871d.201bf8","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"move","p":"payload.log_level","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1320,"wires":[["c244776c.8ec968"]]},{"id":"b64b77f5.519de8","type":"link out","z":"ed8eb5c5.6a0458","name":"Z2M NOTIFICATIONS OUT","links":["e2007878.821508"],"x":695,"y":600,"wires":[]},{"id":"68796a4f.a30174","type":"ui_toast","z":"ed8eb5c5.6a0458","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":840,"y":2600,"wires":[]},{"id":"e2007878.821508","type":"link in","z":"ed8eb5c5.6a0458","name":"Z2M NOTIFICATIONS INPUT","links":["b64b77f5.519de8"],"x":65,"y":2580,"wires":[["ff065ebe.abdea"]]},{"id":"2611a359.abd72c","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.type","tot":"msg"},{"t":"move","p":"payload.message","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2680,"wires":[["68796a4f.a30174"]]},{"id":"9a7fb9c.62dd748","type":"comment","z":"ed8eb5c5.6a0458","name":"Bridge status","info":"","x":110,"y":1100,"wires":[]},{"id":"2d908005.200db","type":"ui_button","z":"ed8eb5c5.6a0458","name":"remove device","group":"bc53e51.d24ec18","order":3,"width":"6","height":"1","passthru":false,"label":"Remove device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"remove","payloadType":"str","topic":"","x":120,"y":1820,"wires":[["cfab57d7.68d158"]]},{"id":"cfab57d7.68d158","type":"template","z":"ed8eb5c5.6a0458","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}} device <b>{{flow.device}}</b> permanently?","output":"str","x":280,"y":1820,"wires":[["eb5c8212.e2ed5"]]},{"id":"eb5c8212.e2ed5","type":"ui_toast","z":"ed8eb5c5.6a0458","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"remove","cancel":"cancel","topic":"Remove device","name":"","x":430,"y":1820,"wires":[["4456c42.611213c"]]},{"id":"4456c42.611213c","type":"switch","z":"ed8eb5c5.6a0458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"remove","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":570,"y":1820,"wires":[["9ff30ce2.35376"],[]]},{"id":"9ff30ce2.35376","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"zigbee2mqtt/bridge/config/remove","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"device","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1820,"wires":[["40012510.b9147c"]]},{"id":"dc6652d.d2ca7b","type":"ui_text","z":"ed8eb5c5.6a0458","group":"43254e6a.421ce","order":4,"width":"0","height":"0","name":"","label":"Status","format":"{{msg.payload.bridgestate}}","layout":"row-left","x":510,"y":1200,"wires":[]},{"id":"9794840b.abb528","type":"ui_text","z":"ed8eb5c5.6a0458","group":"43254e6a.421ce","order":7,"width":"0","height":"0","name":"","label":"Devices","format":"{{msg.payload.numdevices}}","layout":"row-left","x":520,"y":1160,"wires":[]},{"id":"fae59ac1.738838","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.numdevices","pt":"msg","to":"devices.length","tot":"flow"},{"t":"set","p":"payload.bridgestate","pt":"msg","to":"bridgestate","tot":"flow"},{"t":"set","p":"payload.nwlast","pt":"msg","to":"networkmap_last","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1140,"wires":[["9794840b.abb528","dc6652d.d2ca7b","34a86e56.180392"]]},{"id":"7d9f9a22.5fc534","type":"function","z":"ed8eb5c5.6a0458","name":"Reformat for details","func":"newPayload = [];\n\nnewentry = {\n             'title': msg.payload.friendly_name,\n             'description': 'zigbee2mqtt/' + msg.payload.friendly_name,\n             'icon': 'https://www.zigbee2mqtt.io/images/logo.png'\n};\nnewPayload.push(newentry);\nnewentry = {\n             'title': msg.payload.ieeeAddr,\n             'description': 'NwkAddr: ' + msg.payload.nwkAddr + ' / manufId: ' + msg.payload.manufId,\n             'icon_name': 'settings_input_antenna'\n};\nnewPayload.push(newentry);\nnewentry = { \n             'title': msg.payload.model,\n             'description': msg.payload.modelId,\n             'icon': 'https://www.zigbee2mqtt.io/images/devices/' + msg.payload.model.replace(new RegExp('/', 'g'), '-') + '.jpg'\n};\nnewPayload.push(newentry);\nnewentry = { \n             'title': msg.payload.manufName,\n             'description': 'HW: ' + msg.payload.hwVersion + ' / SW: ' + msg.payload.swBuildId,\n             'icon_name': 'bookmark'\n};\nnewPayload.push(newentry);\nvar type_icon = msg.payload.type=='Router' ? 'device_hub' : 'input';\nnewentry = {\n             'title': msg.payload.type,\n             'description': 'Powersource: ' + msg.payload.powerSource,\n             'icon_name': type_icon\n};\nnewPayload.push(newentry);\n\nmsg.payload=newPayload;\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":1020,"wires":[["a449162a.89d518"]]},{"id":"9965243c.a569c8","type":"change","z":"ed8eb5c5.6a0458","name":"save networkmap","rules":[{"t":"set","p":"networkmap","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"networkmap_last","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":680,"wires":[["b648b86b.d6ff58"]]},{"id":"d6442c65.a77c1","type":"http in","z":"ed8eb5c5.6a0458","name":"","url":"/z2mpanel/networkmap","method":"get","upload":false,"swaggerDoc":"","x":160,"y":3080,"wires":[["515e123d.ad1d6c"]]},{"id":"515e123d.ad1d6c","type":"template","z":"ed8eb5c5.6a0458","name":"Render page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n        <meta charset=\"utf-8\">\n        <title>Network topology</title>\n         <style>\n    #graphviz_svg_div svg {\n      position: absolute;\n      top: 0;\n      left: 0;\n      width: 100%;\n      height: 100%;\n    }\n    \n    </style>\n    </head>\n    <body>\n        <div id=\"graphviz_svg_div\"></div>\n        <script language=\"javascript\" type=\"text/javascript\" src=\"https://cdn.jsdelivr.net/npm/viz.js@2.1.2/viz.js\"></script>\n        <script language=\"javascript\" type=\"text/javascript\" src=\"https://cdn.jsdelivr.net/npm/viz.js@2.1.2/full.render.js\"></script>\n        <script language=\"javascript\" type=\"text/javascript\" src=\"https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.0/dist/svg-pan-zoom.min.js\"></script>\n        <script type=\"bogus\" id=\"graphviz_input\">\n            {{{flow.networkmap}}}\n        </script>\n        <script language=\"javascript\" type=\"text/javascript\">\n            document.addEventListener(\"DOMContentLoaded\", function(event) {\n            var viz = new Viz();\n            var svg = document.getElementById(\"graphviz_input\").innerHTML;\n            viz.renderSVGElement(svg, {engine: \"{{{flow.nwrenderengine}}}\"})\n            .then(function(element) {\n                document.getElementById(\"graphviz_svg_div\").appendChild(element);\n                panZoom = svgPanZoom(element, {\n                    zoomEnabled: true,\n                    controlIconsEnabled: true,\n                    fit: true,\n                    center: true,\n                    minZoom: 0.1\n                });\n\n                element.addEventListener('paneresize', function(e) {\n                    panZoom.resize();\n                }, false);\n                window.addEventListener('resize', function(e) {\n                    panZoom.resize();\n                });\n            })\n            .catch(error => {\n                // Create a new Viz instance (@see Caveats page for more info)\n                viz = new Viz();\n\n                // Possibly display the error\n                console.error(error);\n            });\n            //var svg = Viz(document.getElementById(\"graphviz_input\").innerHTML, \"svg\", {render: \"circo\"});\n            //document.getElementById(\"graphviz_svg_div\").innerHTML = svg;\n            });\n        </script>\n    </body>\n</html>","output":"str","x":450,"y":3080,"wires":[["a876525f.2fe8e"]]},{"id":"a876525f.2fe8e","type":"http response","z":"ed8eb5c5.6a0458","name":"","statusCode":"","headers":{},"x":650,"y":3080,"wires":[]},{"id":"192813c0.e7361c","type":"ui_template","z":"ed8eb5c5.6a0458","group":"3b0e5780.d5f2a8","name":"iframe nw map","order":0,"width":"27","height":"11","format":"<iframe frameborder=\"0\" width=\"100%\" height=\"100%\" src=\"/z2mpanel/networkmap\"></iframe>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":120,"y":3040,"wires":[[]]},{"id":"a449162a.89d518","type":"ui_list","z":"ed8eb5c5.6a0458","group":"6f44f22f.706abc","name":"Selected device","order":1,"width":"6","height":"7","lineType":"three","actionType":"none","allowHTML":true,"outputs":1,"x":820,"y":1020,"wires":[[]]},{"id":"14f64554.1945fb","type":"comment","z":"ed8eb5c5.6a0458","name":"Device list & selected device","info":"","x":160,"y":880,"wires":[]},{"id":"9dd21a5b.3c50d8","type":"inject","z":"ed8eb5c5.6a0458","name":"Create network map","topic":"zigbee2mqtt/bridge/networkmap","payload":"graphviz","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"10","x":130,"y":200,"wires":[["978bd1b4.4902b"]]},{"id":"cf89388d.8abd28","type":"inject","z":"ed8eb5c5.6a0458","name":"Request Device List","topic":"zigbee2mqtt/bridge/config/devices/get","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":240,"wires":[["978bd1b4.4902b"]]},{"id":"26de2ce9.e37014","type":"ui_button","z":"ed8eb5c5.6a0458","name":"Create nw map","group":"43254e6a.421ce","order":12,"width":"1","height":"1","passthru":false,"label":"","tooltip":"Refresh network map","color":"","bgcolor":"","icon":"refresh","payload":"graphviz","payloadType":"str","topic":"zigbee2mqtt/bridge/networkmap","x":120,"y":2880,"wires":[["868d50e0.2dd2e"]]},{"id":"868d50e0.2dd2e","type":"link out","z":"ed8eb5c5.6a0458","name":"Z2M NW MAP GEN","links":["1ecfff19.df88b1"],"x":255,"y":2880,"wires":[]},{"id":"ff065ebe.abdea","type":"switch","z":"ed8eb5c5.6a0458","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"pairing","vt":"str"},{"t":"eq","v":"device_connected","vt":"str"},{"t":"eq","v":"device_removed","vt":"str"},{"t":"istype","v":"object","vt":"object"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":160,"y":2580,"wires":[["fbe85d04.caf6d"],["5b8125b2.97b55c"],["c130bb93.936c58"],["aa6bce5.9065b3"],["2611a359.abd72c"]]},{"id":"fbe85d04.caf6d","type":"switch","z":"ed8eb5c5.6a0458","name":"","property":"payload.message","propertyType":"msg","rules":[{"t":"eq","v":"connecting with device","vt":"str"},{"t":"eq","v":"device incoming","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":2480,"wires":[["d0632ba9.49f188"],["531bd4f1.ce537c"]]},{"id":"d0632ba9.49f188","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"A device is attempting to pair...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2460,"wires":[["68796a4f.a30174"]]},{"id":"531bd4f1.ce537c","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"A device is incoming or repairing...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2500,"wires":[["68796a4f.a30174"]]},{"id":"5b8125b2.97b55c","type":"template","z":"ed8eb5c5.6a0458","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Device paired successfully: {{msg.payload.message}}","output":"str","x":330,"y":2540,"wires":[["68796a4f.a30174"]]},{"id":"c130bb93.936c58","type":"template","z":"ed8eb5c5.6a0458","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Deviced removed: {{msg.payload.message}}","output":"str","x":330,"y":2580,"wires":[["68796a4f.a30174"]]},{"id":"22674372.8ab92c","type":"comment","z":"ed8eb5c5.6a0458","name":"Notifications","info":"","x":120,"y":2420,"wires":[]},{"id":"19df2ff5.f76e3","type":"ui_toast","z":"ed8eb5c5.6a0458","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":790,"y":2320,"wires":[]},{"id":"f27cb593.970cd8","type":"link out","z":"ed8eb5c5.6a0458","name":"Z2M BINDING OUT","links":["1ecfff19.df88b1"],"x":875,"y":2240,"wires":[]},{"id":"358179bd.0faae6","type":"link out","z":"ed8eb5c5.6a0458","name":"Z2M RENAME OUT","links":["1ecfff19.df88b1"],"x":855,"y":2060,"wires":[]},{"id":"40012510.b9147c","type":"link out","z":"ed8eb5c5.6a0458","name":"Z2M REMOVE OUT","links":["1ecfff19.df88b1"],"x":835,"y":1820,"wires":[]},{"id":"174bc6c6.7ff579","type":"comment","z":"ed8eb5c5.6a0458","name":"Zigbee2Mqtt Admin Panel","info":"","x":150,"y":40,"wires":[]},{"id":"6fa0c072.646f7","type":"comment","z":"ed8eb5c5.6a0458","name":"---- Dont change things down here ----","info":"","x":190,"y":400,"wires":[]},{"id":"aa6bce5.9065b3","type":"switch","z":"ed8eb5c5.6a0458","name":"","property":"payload.type.group","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":2620,"wires":[["2bc8d29e.71703e"]]},{"id":"2bc8d29e.71703e","type":"template","z":"ed8eb5c5.6a0458","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Succesfully changed device {{payload.type.device}} in group {{payload.type.group}}","output":"str","x":570,"y":2620,"wires":[["68796a4f.a30174"]]},{"id":"a8468f12.a99d1","type":"ui_toast","z":"ed8eb5c5.6a0458","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":880,"y":640,"wires":[]},{"id":"b648b86b.d6ff58","type":"debug","z":"ed8eb5c5.6a0458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":680,"wires":[]},{"id":"34a86e56.180392","type":"ui_text","z":"ed8eb5c5.6a0458","group":"43254e6a.421ce","order":9,"width":"0","height":"0","name":"","label":"Last created","format":"{{msg.payload.nwlast | date:'dd.MM.yy HH:mm'}}","layout":"row-spread","x":530,"y":1120,"wires":[]},{"id":"b5cfb86e.a88e98","type":"ui_button","z":"ed8eb5c5.6a0458","name":"","group":"43254e6a.421ce","order":11,"width":"5","height":"1","passthru":false,"label":"Show network map","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Z2M Network map\"}","payloadType":"json","topic":"","x":130,"y":2920,"wires":[["75eeb1e9.9c5fe"]]},{"id":"75eeb1e9.9c5fe","type":"ui_ui_control","z":"ed8eb5c5.6a0458","name":"","x":340,"y":2920,"wires":[[]]},{"id":"7b3dd576.be3c1c","type":"link out","z":"ed8eb5c5.6a0458","name":"Z2M FLOW DEV TRIGGER","links":["f7eaa817.70bfd8","ced9b243.c5dfc","afb0f244.23a25","eecd71.9823f29"],"x":475,"y":1020,"wires":[]},{"id":"7f2df8e4.7e0818","type":"inject","z":"ed8eb5c5.6a0458","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":330,"y":1020,"wires":[["7b3dd576.be3c1c"]]},{"id":"f3b4d7ef.563bf8","type":"template","z":"ed8eb5c5.6a0458","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.message}} to device {{payload.meta.entity.friendlyName}}\nOriginal message: {{payload.meta.message}}","output":"str","x":780,"y":580,"wires":[["a8468f12.a99d1","dd3020b9.fffbf"]]},{"id":"dd3020b9.fffbf","type":"link out","z":"ed8eb5c5.6a0458","name":"PUBLISH ERROR TO TELEGRAM","links":["34d4fa40.340716","237ac04e.ab42b"],"x":895,"y":560,"wires":[]},{"id":"f16f61f2.f136a","type":"inject","z":"ed8eb5c5.6a0458","name":"Request Group List","topic":"zigbee2mqtt/bridge/config/groups","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":280,"wires":[["978bd1b4.4902b"]]},{"id":"286859.ee5597a8","type":"link out","z":"ed8eb5c5.6a0458","name":"Z2M LOG GROUPLIST","links":["7ede0202.b35fec","c51bcf6e.2acca","15e391e3.80201e"],"x":695,"y":540,"wires":[]},{"id":"c4d8526b.796e7","type":"comment","z":"ed8eb5c5.6a0458","name":"Networkmap","info":"","x":110,"y":2840,"wires":[]},{"id":"b73450e7.d0dce","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"set","p":"groupname","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":2020,"wires":[[]]},{"id":"c51bcf6e.2acca","type":"link in","z":"ed8eb5c5.6a0458","name":"Z2M GROUP UI","links":["286859.ee5597a8"],"x":55,"y":2020,"wires":[["1f2648da.f4b697"]]},{"id":"1f2648da.f4b697","type":"function","z":"ed8eb5c5.6a0458","name":"Reformat for list","func":"newPayload = [];\nObject.keys(msg.payload.message).forEach(function(key) {\n    var msgKey = msg.payload.message[key].friendly_name + \" (ID: \" + key + \")\";\n    var msgVar = msg.payload.message[key].friendly_name;\n    newentry = '{\"'+msgKey+'\":\" '+ msgVar+'\"}';\n    newPayload.push(msg.payload.message[key].friendly_name);\n});\n\nnewMsg = {'payload': flow.get('groupname'), 'options': newPayload}\nreturn newMsg;\n","outputs":1,"noerr":0,"x":170,"y":2020,"wires":[["be0af71f.81b888"]]},{"id":"fed6d249.d79af","type":"ui_text","z":"ed8eb5c5.6a0458","group":"43254e6a.421ce","order":5,"width":"0","height":"0","name":"","label":"Zigbee2MQTT version","format":"{{msg.payload.version}}","layout":"row-left","x":220,"y":1180,"wires":[]},{"id":"2732f38e.5d00bc","type":"ui_text","z":"ed8eb5c5.6a0458","group":"43254e6a.421ce","order":6,"width":"0","height":"0","name":"","label":"Coordinator firmware","format":"{{msg.payload.coordinator_firmware}}","layout":"row-left","x":220,"y":1220,"wires":[]},{"id":"16a7fd9f.70b942","type":"inject","z":"ed8eb5c5.6a0458","name":"Reset CC253x","topic":"zigbee2mqtt/bridge/config/reset","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["978bd1b4.4902b"]]},{"id":"be0af71f.81b888","type":"ui_dropdown","z":"ed8eb5c5.6a0458","name":"Groups","label":"Group","tooltip":"","place":"Select group","group":"bc53e51.d24ec18","order":8,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":340,"y":2020,"wires":[["b73450e7.d0dce"]]},{"id":"6a8ef5d.04ba50c","type":"ui_text_input","z":"ed8eb5c5.6a0458","name":"Selected device","label":"Selected device","tooltip":"Select device in device list","group":"bc53e51.d24ec18","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":420,"y":1780,"wires":[[]]},{"id":"eecd71.9823f29","type":"link in","z":"ed8eb5c5.6a0458","name":"Z2M BIND DEVICE INP","links":["7b3dd576.be3c1c"],"x":55,"y":1780,"wires":[["c2664388.7e5ec"]]},{"id":"c2664388.7e5ec","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"device","tot":"flow"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":1780,"wires":[["6a8ef5d.04ba50c"]]},{"id":"48892f14.baf8","type":"ui_toast","z":"ed8eb5c5.6a0458","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":810,"y":1580,"wires":[]},{"id":"b60d507a.0ee5b","type":"function","z":"ed8eb5c5.6a0458","name":"Format Data","func":"\nif (msg.payload == \"add\") {\n    var action = \"Adding \";\n    var what = \"group \";\n    var cmd = \"add_group\";\n    var groupname = flow.get('newgroupname');\n}\nif(msg.payload == \"remove\") {\n        action = \"Removing \";\n        what = \"group \";\n        cmd = \"remove_group\";\n        groupname = flow.get('groupname2');\n}\nvar msg1 = { payload: groupname, topic: \"zigbee2mqtt/bridge/config/\" + cmd};\nvar msg2 = { payload: action + what + groupname };\n\nreturn [msg1, msg2];\n","outputs":2,"noerr":0,"x":770,"y":1520,"wires":[["3cbc1385.336aec"],["48892f14.baf8"]]},{"id":"3cbc1385.336aec","type":"link out","z":"ed8eb5c5.6a0458","name":"Z2M GROUP BIND OUT","links":["1ecfff19.df88b1"],"x":875,"y":1500,"wires":[]},{"id":"a7e8445b.0a9d98","type":"switch","z":"ed8eb5c5.6a0458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"add","vt":"str"},{"t":"eq","v":"remove","vt":"str"},{"t":"eq","v":"cancel","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":630,"y":1520,"wires":[["b60d507a.0ee5b"],["b60d507a.0ee5b"],[]]},{"id":"ed9954ed.ad0408","type":"ui_toast","z":"ed8eb5c5.6a0458","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"add","cancel":"cancel","topic":"Add group","name":"","x":470,"y":1500,"wires":[["a7e8445b.0a9d98"]]},{"id":"6452be5c.e2c51","type":"ui_toast","z":"ed8eb5c5.6a0458","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"remove","cancel":"cancel","topic":"Remove group","name":"","x":470,"y":1540,"wires":[["a7e8445b.0a9d98"]]},{"id":"455eef99.e524b","type":"template","z":"ed8eb5c5.6a0458","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Add group <b>{{flow.newgroupname}}</b>?","output":"str","x":320,"y":1500,"wires":[["ed9954ed.ad0408"]]},{"id":"2c90c21c.0c75ce","type":"template","z":"ed8eb5c5.6a0458","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Remove group <b>{{flow.groupname2}}</b>?","output":"str","x":320,"y":1540,"wires":[["6452be5c.e2c51"]]},{"id":"768bd83f.14f6c8","type":"ui_button","z":"ed8eb5c5.6a0458","name":"","group":"1ab4a29e.e1a56d","order":15,"width":"6","height":"1","passthru":false,"label":"Add group","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Add","payloadType":"str","topic":"","x":110,"y":1500,"wires":[["455eef99.e524b"]]},{"id":"fe82c349.35663","type":"ui_button","z":"ed8eb5c5.6a0458","name":"","group":"1ab4a29e.e1a56d","order":17,"width":"6","height":"1","passthru":false,"label":"Remove group","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Remove","payloadType":"str","topic":"","x":120,"y":1540,"wires":[["2c90c21c.0c75ce"]]},{"id":"1a2a2125.2cd2af","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"set","p":"groupname2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1580,"wires":[[]]},{"id":"15e391e3.80201e","type":"link in","z":"ed8eb5c5.6a0458","name":"Z2M GROUP UI","links":["286859.ee5597a8"],"x":55,"y":1580,"wires":[["b6c03372.5c487"]]},{"id":"b6c03372.5c487","type":"function","z":"ed8eb5c5.6a0458","name":"Reformat for list","func":"newPayload = [];\nObject.keys(msg.payload.message).forEach(function(key) {\n    var msgKey = msg.payload.message[key].friendly_name + \" (ID: \" + key + \")\";\n    var msgVar = msg.payload.message[key].friendly_name;\n    newentry = '{\"'+msgKey+'\":\" '+ msgVar+'\"}';\n    newPayload.push(msg.payload.message[key].friendly_name);\n});\n\nnewMsg = {'payload': flow.get('groupname2'), 'options': newPayload}\nreturn newMsg;\n","outputs":1,"noerr":0,"x":170,"y":1580,"wires":[["5fd63bfa.8bbb64"]]},{"id":"5fd63bfa.8bbb64","type":"ui_dropdown","z":"ed8eb5c5.6a0458","name":"Groups","label":"","tooltip":"Selected group","place":"Select group","group":"1ab4a29e.e1a56d","order":16,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":340,"y":1580,"wires":[["1a2a2125.2cd2af"]]},{"id":"fb513224.934b3","type":"ui_text_input","z":"ed8eb5c5.6a0458","name":"","label":"New group name","tooltip":"","group":"1ab4a29e.e1a56d","order":14,"width":"6","height":"1","passthru":true,"mode":"text","delay":"100","topic":"","x":130,"y":1640,"wires":[["261e9306.0d72ac"]]},{"id":"261e9306.0d72ac","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"set","p":"newgroupname","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1640,"wires":[[]]},{"id":"9a16f88f.185708","type":"ui_text","z":"ed8eb5c5.6a0458","group":"bc53e51.d24ec18","order":7,"width":"6","height":"1","name":"Group membership","label":"<h3>Device group membership</h3>","format":"","layout":"row-left","x":130,"y":1980,"wires":[]},{"id":"119eff5c.1bf6e1","type":"ui_text","z":"ed8eb5c5.6a0458","group":"bc53e51.d24ec18","order":11,"width":"6","height":"1","name":"Bind device label","label":"<h3>Bind device</h3>","format":"","layout":"row-left","x":130,"y":2140,"wires":[]},{"id":"3651e57c.7cfcea","type":"ui_text","z":"ed8eb5c5.6a0458","group":"43254e6a.421ce","order":3,"width":0,"height":0,"name":"bridge status label","label":"<h3>Bridge status</h3>","format":"","layout":"row-left","x":140,"y":1380,"wires":[]},{"id":"ad76a5b.25efb58","type":"ui_text","z":"ed8eb5c5.6a0458","group":"bc53e51.d24ec18","order":4,"width":0,"height":0,"name":"rename device label","label":"<h3>Rename device</h3>","format":"","layout":"row-left","x":660,"y":1780,"wires":[]},{"id":"59ace0ca.fb367","type":"debug","z":"ed8eb5c5.6a0458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":740,"wires":[]},{"id":"a4abe3ef.fbd5c","type":"ui_dropdown","z":"ed8eb5c5.6a0458","name":"renderer","label":"Renderer","tooltip":"Graphviz renderer","place":"Select renderer","group":"43254e6a.421ce","order":10,"width":"0","height":"0","passthru":false,"options":[{"label":"Circo","value":"circo","type":"str"},{"label":"Dot","value":"dot","type":"str"},{"label":"Neato","value":"neato","type":"str"},{"label":"Twopi","value":"twopi","type":"str"},{"label":"Fdp","value":"fdp","type":"str"}],"payload":"","topic":"","x":340,"y":2960,"wires":[["576cd355.7ff0dc"]]},{"id":"576cd355.7ff0dc","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"set","p":"nwrenderengine","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":2960,"wires":[[]]},{"id":"c6e36e6a.816ad","type":"inject","z":"ed8eb5c5.6a0458","name":"","topic":"","payload":"nwrenderengine","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":"1","x":140,"y":2960,"wires":[["a4abe3ef.fbd5c"]]},{"id":"769be3ce.b1901c","type":"ui_text","z":"ed8eb5c5.6a0458","group":"43254e6a.421ce","order":8,"width":0,"height":0,"name":"nw map label","label":"<h3>Network map</h3>","format":"","layout":"row-left","x":430,"y":2880,"wires":[]},{"id":"6b1df9b7.5f3a68","type":"link out","z":"ed8eb5c5.6a0458","name":"Z2M GENERIC IN","links":["e95ff9e9.ca7a98"],"x":255,"y":100,"wires":[]},{"id":"e95ff9e9.ca7a98","type":"link in","z":"ed8eb5c5.6a0458","name":"Z2M INPUT","links":["6b1df9b7.5f3a68"],"x":75,"y":540,"wires":[["aeeadb96.fde738"]]},{"id":"82f8ae01.f2e5d","type":"inject","z":"ed8eb5c5.6a0458","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":470,"y":320,"wires":[["f9833324.4f1f4"]]},{"id":"f9833324.4f1f4","type":"change","z":"ed8eb5c5.6a0458","name":"","rules":[{"t":"set","p":"nwrenderengine","pt":"flow","to":"circo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":320,"wires":[[]]},{"id":"f6b8d11b.902aa","type":"function","z":"ed8eb5c5.6a0458","name":"Save last msg","func":"lastDevMsgs = flow.get('lastdevmsgs')||{};\n\nlastDevMsgs[msg.topic] = msg.payload;\nflow.set('lastdevmsgs', lastDevMsgs);\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":740,"wires":[["59ace0ca.fb367"]]},{"id":"6258f8db.63e188","type":"function","z":"ed8eb5c5.6a0458","name":"Lookup device last msg","func":"lastmsgs = flow.get('lastdevmsgs');\n\nentry=lastmsgs[\"zigbee2mqtt/\"+msg.payload.title];\n\nnewPayload = [];\n\nnewentry = {\n         'title': '<h3>Last message</h3>'\n};\nnewPayload.push(newentry);\n\nfor(var prop in entry) {\n  newentry = {\n         'title': '<b>' + prop + '</b>: ' + entry[prop],\n         'description': entry[prop]\n  };\n  newPayload.push(newentry);\n}\n\nmsg.payload = newPayload;\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":920,"wires":[["309021c0.4c999e"]]},{"id":"8d763a33.9f3cf8","type":"json","z":"ed8eb5c5.6a0458","name":"","property":"payload","action":"","pretty":false,"x":390,"y":740,"wires":[["f6b8d11b.902aa"]]},{"id":"309021c0.4c999e","type":"ui_list","z":"ed8eb5c5.6a0458","group":"6f44f22f.706abc","name":"Selected device msg","order":2,"width":"6","height":"6","lineType":"one","actionType":"none","allowHTML":true,"outputs":1,"x":840,"y":920,"wires":[[]]},{"id":"7be798eb.fa8728","type":"mqtt in","z":"888de14e.3ee9c","name":"MI Button","topic":"zigbee2mqtt/mi button","qos":"2","datatype":"json","broker":"2c64fd6d.ec5432","x":120,"y":80,"wires":[["a3fd51c.af7a1b"]]},{"id":"a3fd51c.af7a1b","type":"switch","z":"888de14e.3ee9c","name":"","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":310,"y":80,"wires":[["f1d6c3a9.9cd72"],["2373c760.a01b08"],[]]},{"id":"1ccc6a9.9b01c95","type":"debug","z":"888de14e.3ee9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":160,"wires":[]},{"id":"a3e87312.fa4b3","type":"function","z":"888de14e.3ee9c","name":"State parser","func":"var name = msg.payload;\n\nvar states = global.get('states')|| {};\nstate = (states[name] + 1) % 2\nglobal.set('states', states);\n\nvar stateMsg = Object.assign({},msg);\nstateMsg.topic = \"device/\" + name + '/output';\nstateMsg.payload = state;\n\nreturn stateMsg;","outputs":1,"noerr":0,"x":710,"y":80,"wires":[["1ccc6a9.9b01c95","8bb942a2.fc4c4"]]},{"id":"f1d6c3a9.9cd72","type":"change","z":"888de14e.3ee9c","name":"Livingroom","rules":[{"t":"set","p":"payload","pt":"msg","to":"livingroom lights","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":40,"wires":[["a3e87312.fa4b3"]]},{"id":"2373c760.a01b08","type":"change","z":"888de14e.3ee9c","name":"TV room","rules":[{"t":"set","p":"payload","pt":"msg","to":"tv room lights","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":80,"wires":[["a3e87312.fa4b3","1ccc6a9.9b01c95"]]},{"id":"8bb942a2.fc4c4","type":"mqtt out","z":"888de14e.3ee9c","name":"","topic":"","qos":"1","retain":"","broker":"fee7a4df.4347c8","x":890,"y":80,"wires":[]},{"id":"484896dc.960198","type":"mqtt in","z":"888de14e.3ee9c","name":"Any Zigbee","topic":"zigbee2mqtt/+","qos":"2","datatype":"json","broker":"2c64fd6d.ec5432","x":130,"y":240,"wires":[["da7f8f05.49f12"]]},{"id":"da7f8f05.49f12","type":"debug","z":"888de14e.3ee9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":240,"wires":[]}]